@import '~@/scss/GlobalVariables';

.wrap {
  border-top: 1px solid $light-grey-1;
  border-bottom: 1px solid $light-grey-1;
  padding: 20px 0;

  &.no-bottom-border {
    border-bottom: 0;
  }
}

.header-block {
  display: flex;
  align-items: center;
  padding: 0 10px;

  .sliding-switch-white {
    margin-left: auto;
  }

  .title {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: initial;
    color: #212529;
  }
}

// ***********************************************************
// Options
// ***********************************************************
.content-container {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease;
  &.expend {
    max-height: 400px;
  }
  .content {
    margin: 0;
    margin-top: 20px;
  }
}

.standard-input {
  margin-bottom: 0;
}
