@import '~@/scss/GlobalVariables';

//******************************************************
// Wrap
//******************************************************
.tx-topmenu-popup .wrap {
  position: relative;
}

//******************************************************
// Menu Title
//******************************************************
.menu-title {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 30px;
  margin-right: 10px;

  @media all and (max-width: $tablet-width) {
    display: none;
  }

  .indicator {
    color: red;
    margin-right: 7px;
    font-size: 9px;
  }

  i {
    color: #536d8b;
    margin-left: 7px;
    font-size: 18px;
  }
}

.menu-title-mobile {
  display: none;
  @media all and (max-width: $tablet-width) {
    display: block;
  }

  p {
    font-size: 20px;
    display: block;
    color: $dark-blue-1;
  }
}

//******************************************************
// Popup Container
//******************************************************
.popup-container {
  position: absolute;
  top: 35px;
  left: 20px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s linear;

  @media all and (max-width: $tablet-width) {
    margin: 0 -20px;
    transition: max-height 0.2s linear;
    max-height: 0;
    top: initial;
    left: initial;
    position: relative;
    overflow: hidden;
    opacity: 1;
  }

  &.popup-open {
    pointer-events: initial;
    opacity: 1;
    max-height: 200px;
  }
}

.popup-container .popup-box {
  border: 1px solid $mew-green;
  border-radius: 4px;
  background-color: white;
  @media all and (max-width: $tablet-width) {
    margin-top: 20px;
  }

  .top {
    padding: 9px 13px;
    border-bottom: 1px solid #00bfa4;
  }

  .bottom {
    padding: 9px 13px;
    text-align: center;
    color: $mew-green;
  }
}
