@import '~@/scss/GlobalVariables';

.not-found {
  background-color: $about-mew-spaceman-background-color;
  position: relative;
}

.not-found .wrap {
  height: 100vh;
  background-image: url('~@/assets/images/background/404bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;

  .content-block {
    position: relative;

    .block-title {
      color: $text-white;
      font-weight: 700;
      font-size: 220px;
      text-align: center;
      line-height: 216px;
    }

    .block-text {
      color: $text-white;
      text-align: center;
      font-weight: 600;
      font-size: 30px;
    }

    .ailien-spaceship {
      position: absolute;
      bottom: -124px;
      left: -143px;
    }
  }
}
