@import '~@/scss/GlobalVariables';
@media all and (max-width: $mobile-width) {
  .page-container {
    width: 100%;
  }

  .not-found {
    background-color: $about-mew-spaceman-background-color;
    position: relative;
  }

  .not-found .wrap {
    height: 400px;
    background-image: url('~@/assets/images/background/404bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //display: flex;
    align-items: center;
    position: relative;
    padding-top: 91px;

    .content-block {
      position: relative;

      .block-title {
        color: $text-white;
        font-weight: 700;
        font-size: 90px;
        text-align: center;
        line-height: 100px;
      }

      .block-text {
        color: $text-white;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
      }

      .ailien-spaceship {
        position: absolute;
        bottom: -140px;
        left: calc(50% - 40px);

        img {
          height: 100px;
        }
      }
    }
  }
} // @media all and (max-width: $mobile-width)
