@import '~@/scss/GlobalVariables';
@media all and (max-width: $mobile-width) {
  .mobile-interface-address-block {
    margin: 0 10px;
  }

  .interface-layout {
    padding-top: 10px;
  }

  .info-block-container {
    margin: 0 10px 0 10px;
  }

  .wrap {
    .contents {
      background-color: $light-grey-2;
      padding: 10px;
      margin: 0;

      .tx-contents {
        .tokens {
          border-radius: 5px;
        }
      }
    }
  }

  .tx-contents {
    margin: 0;
    padding: 0;
  }

  .mobile-hide {
    display: none;
  }

  .side-nav {
    position: fixed;
    left: -500px;
    top: 0;
    background-color: $white;
    z-index: 9999;
    transition: all 0.2s linear;

    &.side-nav-open .side-nav-background {
      opacity: 1;
    }

    &.side-nav-open {
      left: 0;
    }
  }

  .side-nav-background {
    background-color: $menu-under-background-color;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9990;
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s linear;

    &.side-nav-open {
      opacity: 1;
    }
  }
}
