@import '~@/scss/GlobalVariables';
@media all and (max-width: $mobile-width) {
  .wrap {

    .contents {
      background-color: $light-grey-2;
      padding: 10px;
      margin: 0px;

      .tx-contents {

        .tokens {
          border-radius: 5px;
        }
      }
    }
  }

  .tx-contents {
    margin: 0px;
    padding: 0px;
  }

  .mobile-hide {
    display: none;
  }

  .side-nav {
    position: fixed;
    left: 990px;
    top: 0;
    background-color: $white;
    z-index: 99;
  }
}
