@import '~@/scss/GlobalVariables';
@media all and (max-width: $mobile-width) {
  .wrap {
    .contents {
      background-color: $light-grey-2;
      padding: 10px;

      .tx-contents {
        .tokens {
          border-radius: 5px;
        }
      }
    }
  }
} // @media all and (max-width: $mobile-width)
