@import '~@/scss/GlobalVariables';
@media all and (max-width: $mobile-width) {
  .contents {
    background-color: $light-grey-2;
    padding: 10px;

    .tx-contents {
      .tokens {
        border-radius: 5px;
        margin-top: 10px;
      }
    }
  }

  .interface-info-block {
    display: none;
  }
} // @media all and (max-width: $mobile-width)
