@import '~@/scss/GlobalVariables';

.wrap {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 270px 1fr;

  .contents {
    background-color: $light-grey-2;
    padding: 40px 60px;

    .tx-contents {
      display: grid;
      grid-gap: 15px;
      grid-template-areas: 'info-1 info-2 info-3' 'main main tokens';
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;

      .tokens {
        border-radius: 5px;
      }
    }
  }
}
