@import '~@/scss/GlobalVariables';

.total-balance-container {
  align-items: center;
  background: $white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px 30px;
  width: 100%;

  .title-name {
    font-weight: bold;
  }

  .balance-container {
    .actual-balance {
      color: $light-blue-1 !important;
      font-size: 20px !important;
      font-weight: bold;

      span {
        font-size: 20px !important;
        font-weight: normal;
      }
    }

    .converted-balance {
      color: $light-blue-2;
      text-align: right;
      font-weight: 600;
    }
  }
}
