@import '~@/scss/GlobalVariables';

.modal-content-container {
  padding: 30px;
  @media all and (max-width: $tablet-width) {
    padding: 20px;
  }
}

.mnemonic-to-print {
  position: fixed;
  top: -3000px;
  left: 0;
  width: 800px;
}

.mnemonic-to-display {
  //.mnemonic-to-display
}

.button-container {
  padding-bottom: 30px;
}
