@import '~@/scss/GlobalVariables';

.print-container {
  .content {
    border: 1px solid $light-grey-3;
    margin: 80px auto;
    padding: 20px 0;
    width: 500px;

    .header {
      align-items: center;
      color: $mew-green;
      display: flex;
      justify-content: space-around;
      padding-bottom: 25px;

      div {
        border-left: 2px solid $mew-green;
        border-radius: 5px;
        height: 20px;
      }
    }
  }

  .full-mnemonic {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  .half-mnemonic {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .footer {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
  }
}

.item {
  border-bottom: 1px solid $light-grey-14;
  padding: 10px;
  width: 110px;

  span {
    color: $light-grey-14;
  }
}
.button-container {
  padding-bottom: 30px;
}
