//@import '~@/scss/GlobalVariables';

* {
  color: #383838;
}

.font-reset {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.mobile-info-block {
  width: 100%;
  background-color: #ffffff61;
  border-radius: 20px;
  padding: 10px 15px;
}

.info-block-title {
  font-size: 16px;
  font-weight: 600;
}

.info-block-value {
  font-size: 15px;
  span {
    font-size: 10px;
    margin-left: 5px;
  }
}

.last-block {
  font-size: 12px;
  font-weight: 400;

  span {
    font-size: inherit;
    font-weight: 400;
  }
}

.setting {
  font-size: 30px;
  opacity: 0.7;
  cursor: pointer;
  &:active {
    opacity: 1;
  }
}
