//@import '~@/scss/GlobalVariables';

* {
  color: #383838;
}

.mobile-info-block {
  //box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  //background-color: white;
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
}

.info-block-title {
  font-size: 14px;
  font-weight: 900;
}

.info-block-value {
  font-size: 15px;
  span {
    font-size: 10px;
    margin-left: 5px;
  }
}

.last-block {
  font-size: 12px;
  font-weight: 400;

  span {
    font-size: inherit;
    font-weight: 400;
  }
}

.setting {
  font-size: 25px;
  opacity: 1;
  cursor: pointer;
  &:active {
    opacity: 0.7;
  }
}
