@import '~@/scss/GlobalVariables';

.finney-modal-content {
  // padding: 15px 15px 0px;
}

.content-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-height: 400px;
  padding: 15px 15px 0;

  .finney-img {
    flex: 60;
    position: relative;

    img {
      left: 20px;
      top: -195px;
      position: absolute;
    }
  }

  .finney-text-container {
    color: $dark-grey-3;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-around;
    min-height: inherit;
    position: relative;
    z-index: 3;

    .qr-container {
      .large {
        display: block;
      }

      .small {
        display: none;
      }
    }

    .text-container {
      padding-left: 15px;

      a {
        color: $dark-grey-3 !important;

        &:hover {
          text-decoration: none !important;
        }
      }

      span {
        font-size: 18px;
      }

      h3 {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .content-container {
    min-height: 235px !important;
    padding: 15px 15px 0 !important;
  }

  .finney-img {
    flex: 60;
    position: relative;

    img {
      left: 0 !important;
      top: -130px !important;
      position: absolute;
      width: 145px !important;
    }
  }

  .large {
    display: none !important;
  }

  .small {
    display: block !important;
  }

  .finney-text-container {
    span {
      font-size: 12px !important;
    }

    h3 {
      font-size: 20px !important;
    }
  }
}
