@import '~@/scss/GlobalVariables';
@media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
  .create-wallet-warnings {
    position: relative;
  }

  .nav-dots {
    display: none;
    position: absolute;
    z-index: 9999;
    right: 10vw;
    top: calc(50vh - 125px);
    text-align: center;

    p {
      font-size: 17px;
    }

    ul {
      margin: -7px 0;

      li {
        border-radius: 100px;
        width: 6px;
        height: 6px;
        background-color: $dark-blue-9;
        margin: 10px;
        padding: 0;
        transition: all 0.1s ease;

        &.active {
          background-color: $white;
        }
      }
    }
  }

  .wrap {
    background-color: $about-mew-spaceman-background-color;
    background-image: url('~@/assets/images/background/404bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .cww {
      position: absolute;
      transition: all 0.6s ease;
      top: 40px;
      opacity: 1;
    }

    .positionTop {
      bottom: 1000px;
      opacity: 0;
      pointer-events: none;
    }

    .positionBottom {
      bottom: -1000px;
      opacity: 0;
      pointer-events: none;
    }
  }

  .create-wallet-warnings__footer-container {
    display: none;
    background-color: $about-mew-spaceman-background-color;
    z-index: 9999;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .create-wallet-warnings__mouse-scroll {
    text-align: center;
    margin-bottom: 30px;

    p {
      color: $mew-green;
      margin-top: 5px;
    }
  }

  .create-wallet-warnings__footer {
    width: 650px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .create-wallet-warnings__links {
    a:not(:last-child) {
      padding-right: 15px;
      margin-right: 15px;
      border-right: 1px solid $mew-green;
      line-height: 15px;
      display: inline-block;
    }
  }

  .create-wallet-warnings__copyright {
    margin-left: auto;

    p {
      color: $mew-green;
    }
  }

  .next-button {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: $mew-green;
    text-align: center;
    padding: 20px 0;
    color: $white;
  }

  .back-button {
    color: $white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 13px;
    font-weight: 600;
  }
} // @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width)
