@import '~@/scss/GlobalVariables';
@media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
  .wrap {
    background-color: $background-color-1;
    padding: 50px 0;

    .top-title {
      margin-bottom: 30px;
    }

    .news-container {
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      grid-template-columns: 1fr 1fr 1fr;

      @media all and (max-width: 900px) {
        grid-template-columns: 300px 300px 300px;
        overflow-x: scroll;
      }
    }
  }
} // @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width)
