@import '~@/scss/GlobalVariables';

.wrap {

  padding: 70px 0;
  padding-bottom: 400px;
  background-color: $light-grey-2;

  background-image: url('~@/assets/images/background/bg-left.png'), url('~@/assets/images/background/bg-right.png');
  background-position: top left, top right;
  background-repeat: no-repeat;
  background-size: 220px;


}

.page-title {
  text-align: center;
  margin-bottom: 60px;

  h2 {
    font-size: 45px;
    margin-bottom: 30px;
  }
  p {
    max-width: 600px;
    margin: 0 auto;
  }
}

.extension-buttons {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;

  li {
    background-color: $white;
    display: flex;
    padding: 25px;

    .title {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 5px;
    }

    .description {
      margin-bottom: 12px;
    }

    img {
      width: 40px;
      height: 100%;
      margin-right: 20px;
    }

  }

}