@import "~@/scss/GlobalVariables.scss";

.wrap{

  padding: 80px 0;

  .top-title{
    .title{

    }
    .support{
      margin-left: auto;
      img{
        width: 22px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 7px;
      }
      h5{
       display: inline-block; 
       vertical-align: middle;
       color: $link-text-color-1;
      }
    }
  }

  .qa-cards{
    margin-top: 30px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    .card{
      border-radius: 4px;
      padding: 25px 30px;
      background-color: $background-color-1;
      position: relative;
      .title{
        margin-bottom: 20px;
        position: relative;
      }
      .title::before{
        content: "";
        width: 5px;
        height: 25px;
        position: absolute;
        background-color: #05c0a5;
        left: -30px;
        top: -2px;
      }
      .questions{
        position: relative;
        p{
          margin-bottom: 15px;
          position: relative;
          color: $body-text-color-3;
          &::after{
            color: $body-text-color-2;
            content: '›';
            position: absolute;
            right: 0px;
            top: 0px;
            font-size: 25px;
          }
          &:last-child{
            margin-bottom: 0px;
          }
        }
      }// .questions
    }// .card
  }// .qa-cards

}// .wrap
