@import "~@/scss/Globals.scss";
@import "~@/scss/GlobalVariables.scss";

.wrap{

  padding: 80px 0;
  @media all and (max-width: $tablet-width){
    padding: 50px 0;
  }

  .top-title{
    @media all and (max-width: $tablet-width){
      flex-direction: column;
      align-items: flex-start;
    }

    .title{
      h5{
        line-height: 19px;
      }
      @media all and (max-width: $tablet-width){
        margin-bottom: 30px;
      }
    }
    .support{
      margin-left: auto;
      @media all and (max-width: $tablet-width){
        margin-left: 0;
        margin-bottom: 20px;
      }
      a{
        display: flex;
        align-items: center;
        img{
          width: 29px;
          margin-right: 7px;
        }
        h5{

         color: $text__link-color;
        }
      }
    }
  }

  .qa-cards{
    margin-top: 30px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;

    @media all and (max-width: $tablet-width){
      grid-template-columns: 1fr;
    }
    .card{
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      padding: 25px 30px;
      background-color: $background-color-1;
      position: relative;
      .title{
        margin-bottom: 20px;
        position: relative;
      }
      .title::before{
        content: "";
        width: 5px;
        height: 25px;
        position: absolute;
        background-color: #05c0a5;
        left: -30px;
        top: -2px;
      }
      .questions{
        position: relative;
        p{
          margin-bottom: 15px;
          position: relative;
          &::after{
            
            content: '›';
            position: absolute;
            right: 0px;
            top: 0px;
            font-size: 25px;
          }
          &:last-child{
            margin-bottom: 0px;
          }
        }
      }// .questions
    }// .card
  }// .qa-cards

}// .wrap
