@import '~@/scss/GlobalVariables';

// *********************************************************************
// .wrap
// *********************************************************************
.wrap {
  padding-top: 20px;
  background-color: $light-grey-2;
}

// *********************************************************************
// .content-container
// *********************************************************************
.content-container {
  background-color: $background-color-white;
  padding: 40px;
}
