@import '~@/scss/GlobalVariables';

// *********************************************************************
// .wrap
// *********************************************************************
.wrap {
  padding-top: 20px;
  background-color: $light-grey-2;
}

// *********************************************************************
// .content-container
// *********************************************************************
.content-container {
  background-color: $background-color-white;
  padding: 40px;
}

.accordion-menu-container {
  //margin-bottom: 40px;
}

ul {
  li {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// *********************************************************************
// .content-container
// *********************************************************************
.button-container {
  text-align: center;
}

// *********************************************************************
// Grid
// *********************************************************************
.grid-billing-address {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    'address1 address1 address1 address1 address1 address1'
    'address2 address2 address2 address2 address2 address2'
    'city city state state zip zip'
    'country country country country country country';
}

.address1 {
  grid-area: address1;
}

.address2 {
  grid-area: address2;
}

.city {
  grid-area: city;
}

.state {
  grid-area: state;
}

.zip {
  grid-area: zip;
}

.country {
  grid-area: country;
}
