* {
  color: white;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.wrap {
  min-height: 90px;
  border-radius: 5px;
  padding: 15px 20px;
  background-color: #7070e3;
  margin: 0 0;
}

.blockie-image {
  width: 40px !important;
  height: 40px !important;
  border: 2px solid white;
  margin-right: 15px;
}

.hidden-input {
  display: none;
}

.buttons-container {
  margin-left: auto;
}

button {
  background-color: transparent;
  border: 0;
  img {
    width: 25px;
    height: 25px;
  }
}

.qrcode {
  img {
    width: 23px;
    height: 23px;
  }
}

.address-contents {
  width: calc(100% - 184px);
}

.address-begin {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile-hidden-input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
