@import '~@/scss/GlobalVariables';
@media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
  .tutorial-modal-content {
    background-image: url('~@/assets/images/modal/garlands.png');
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size: 95%;
    padding: 40px 15px;
  }

  .modal-button-container {
    text-align: center;
  }

  .title {
    color: $text-color-6;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .content {
    display: inline-block;
    color: $link-text-color-1;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 40px;
    max-width: 400px;

    span {
      color: $text-color-2;
      cursor: pointer;
      text-decoration: underline;
    }
  }
} // @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width)
