@import '~@/scss/GlobalVariables';
@media all and (min-width: calc(#{$tablet-width} + 1px)) {
  .tutorial-modal-content {
    background-image: url('~@/assets/images/modal/garlands.png');
    background-position: center 20px;
    background-repeat: no-repeat;
    background-size: 91%;
    padding: 60px 70px 50px;
  }

  .modal-button-container {
    text-align: center;
  }

  .title {
    color: $text-color-6;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .content {
    color: $link-text-color-1;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 40px;

    span {
      color: $text-color-2;
      cursor: pointer;
      text-decoration: underline;
    }
  }
} // @media all and (min-width: calc(#{$tablet-width} + 1px))
