@import '~@/scss/GlobalVariables';

.verify-details-container {
  padding: 5px;
  border-radius: 5px;

  .wallet-info-and-code {
    border-radius: 5px;
    background-color: $light-green-1;
    padding: 10px 20px;
  }
}
