@import '~@/scss/GlobalVariables';

.verify-details-container {
  background-color: white;
  border-radius: 5px;
  padding: 5px;

  .wallet-info-and-code {
    align-items: center;
    background-color: $light-green-1;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    .blockie-and-address {
      display: flex;
    }

    .blockie-container {
      margin-right: 15px;
    }

    .name-and-address {
      padding-top: 15px;
      width: 75%;
      word-break: break-all;

      h3 {
        color: $dark-blue-2;
        font-weight: bold;
      }

      p {
        color: $dark-blue-2;
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }

  .qr-code-container {
    margin: 10px;
    text-align: center;
  }

  .wallet-info-body {
    background-color: $white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 30px;

    .main-wallet-content {
      display: flex;
      justify-content: space-between;
      height: 150px;
      align-items: center;
      padding: 20px 15px;

      .view-all-container {
        align-items: center;
        display: flex;

        p {
          color: $mew-green;
          cursor: pointer;
          margin-right: 10px;
        }

        i {
          color: $mew-green;
        }
      }

      .disable-token-show {
        pointer-events: none;

        p,
        i {
          color: $dark-grey-11 !important;
        }
      }

      .wallet-img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;

        img {
          height: 30px;
          width: 30px;
        }
      }

      .main-wallet-content-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .wallet-value-with-img {
        display: flex;
      }

      .wallet-value-container {
        .wallet-title {
          font-weight: bold;
          color: $light-blue-7;
        }

        .dollar-amt {
          font-weight: bold;
          color: $dark-blue-2;
          font-size: 16px;
        }

        .value {
          color: $dark-grey-11;
        }
      }
    }

    .button-container {
      border-top: 1px solid #dbdbdb;
      padding: 20px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .img-and-title-container {
        align-items: center;
        display: flex;

        img {
          margin-right: 30px;
        }

        p {
          color: $dark-blue-2;
        }
      }

      .func-container {
        color: $mew-green;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

.exit-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;

  .exit-button {
    border: 1px solid $red-5;
    border-radius: 5px;
    color: $red-5;
    cursor: pointer;
    padding: 20px 30px;
  }
}

