@import '../../ManageENS';

.already-owned-container {
  @extend %template-container;

  padding-bottom: 25px;

  h3 {
    color: $red-5;
    padding: 20px 6px;
  }

  .content-container {
    background-color: $light-green-1;
    border-radius: 5px;
    margin-bottom: 7px;
    padding: 17px 30px;
    word-break: break-all;

    .label {
      color: $dark-blue-2;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .content {
      color: $dark-blue-1;
      font-size: 14px;
    }
  }
}

%button-template {
  border-radius: 4px;
  border: 1px solid $white;
  cursor: pointer;
  height: 62px;
  width: 260px;
}

.owner-options {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 43px;

  .finalize-button {
    @extend %button-template;

    background-color: $mew-green;
    color: $white;
  }

  .manage-button {
    @extend %button-template;

    border-color: $mew-green;
    background-color: $white;
    color: $mew-green;
  }
}
