@import "~@/scss/GlobalVariables";
a {
  text-decoration: none;
}

.d-flex {
  display: flex;
  align-items: center;
}

.logo-block {
  p {
    color: $mew-green;
    margin-left: 10px;
    padding-left: 15px;
    border-left: 1px solid $mew-green;
  }
}

.menu-items {
  p {
    font-size: 13px;
  }

  > * {
    margin-left: 30px;
  }
}

.buy-eth {
  p {
    margin-left: 2px;
  }
}

.spacer {
  margin: 0 auto;
}

.cx-menu {
  padding: 10px 10px;
}

.cx-menu-container {
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.1);
}
