@import "~@/scss/GlobalVariables";
.wallet-side-menu {
  background-color: $white;
  height: 100%;
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 20px 0;
  padding-right: 50px;
  transition: all 0.3s ease;

  &:hover {
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  .wallet-menu {
    align-items: center;
    color: $light-grey-10;
    cursor: pointer;
    display: flex;
    //padding: 20px 30px;
  }
}

.icon-block {
  padding: 20px 25px;
}

.active {
  span {
    color: $black;
    font-weight: bold;
  }
}
