@import '~@/scss/GlobalVariables';

// *********************************************************************
// .content-title
// *********************************************************************
h2 {
  padding: 0;
  margin: 0;
}

.content-title {
  background-color: $background-color-white;
  border-bottom: 2px solid $background-color-1;
  display: flex;
  align-items: center;
}


// *********************************************************************
// .content-title-standard
// *********************************************************************
.content-title-standard {
  padding: 15px 0;

  h2 {
    border-left: 5px solid $background-color-2;
    font-size: 24px;
    font-weight: 500;
    line-height: 37px;
    margin: 0;
    padding: 0;
    padding-left: 27px;

    @media all and (max-width: $mobile-width) {
      font-size: 18px;
      padding-left: 10px;
    }
  }
}

.side-menu-button {
  display: none;
  margin-left: auto;
  margin-right: 20px;

  @media all and (max-width: $interface--mobile-side-menu--width) {
    display: block;
  }
}


// *********************************************************************
// .content-title-backbutton
// *********************************************************************
.content-title-backbutton {
  padding: 19px 25px;

  .backbutton-block {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  img {
    $backbutton-size: 30px;
    width: $backbutton-size;
    height: $backbutton-size;
    margin-right: 10px;
  }

  h2 {
    font-size: 14px;
    line-height: 28px;
  }
}






