@import '~@/scss/GlobalVariables';

a:active {
  color: inherit;
}

.wrap {
  padding: 70px 0;
  background-color: $light-grey-2;
  background-image: url('~@/assets/images/background/bg-left.png'),
    url('~@/assets/images/background/bg-right.png');
  background-position: top left, top right;
  background-repeat: no-repeat;
  background-size: 220px;
}

.page-title {
  text-align: center;
  margin-bottom: 60px;

  h2 {
    font-size: 45px;
    margin-bottom: 30px;
  }
  p {
    max-width: 600px;
    margin: 0 auto;
  }
}

.accordion-container {
  .header-description {
    font-weight: 400;
    margin-top: 10px;
    white-space: normal;
    max-height: 100px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .arrow {
    position: absolute;
    right: 30px;
    top: 25px;

    i {
      font-size: 17px;
      transition: all 0.5s ease;
    }
  }

  .collapsed {
    .header-description {
      max-height: 0;
      margin: 0;
    }

    .arrow {
      i {
        transform: rotate(180deg);
      }
    }
  }

  header {
    background-color: $white;
    padding: 0;
    margin: 0;
  }

  .accordion-title {
    font-size: 20px;
    font-weight: 500;
    color: $black;
  }

  .accordion-block {
    margin-bottom: 10px;
  }

  .card-body {
    padding: 25px 35px;

    h4 {
      margin-bottom: 15px;
    }
  }

  .btn {
    background-color: $white;
    text-align: left;
    border: 0;
    padding: 25px 35px;
    font-size: 20px;
    color: $black;
    font-weight: 500;
    outline: none !important;
  }
}

.form-grid {
  margin-bottom: 25px;

  input {
    width: 100%;
  }
}

/* stylelint-disable */

/* future placeholder 9-3-18 */
.form-grid-1fr {
}
/* stylelint-enable */

.form-grid-2fr {
  grid-column-gap: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
