@import '~@/scss/GlobalVariables';

.send-offline-helper {
  background-color: $light-grey-2;
  padding: 100px 0;

  @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
    padding: 20px 20px;
  }
  @media all and (max-width: $mobile-width) {
    padding: 20px 10px;
  }
}

.wrap {
  max-width: 700px;
  margin: 0 auto;
}

.page-title {
  margin-bottom: 40px;
}

.page-content-container {
  > * {
    margin-bottom: 20px;
  }
}

.button-container {
  margin-top: 40px;
  width: 100%;
  text-align: center;

  > * {
    margin-right: 10px;
    @media all and (max-width: 600px) {
      margin: 0 0 10px 0;
      width: 100%;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.standard-input {
  margin-bottom: 25px;

  &.no-margin {
    margin-bottom: 0;
  }
}

.current-network {
  background-color: $mew-green;
  border-radius: 5px;
  color: $white;
  padding: 5px;
}

.network-content {
  p {
    cursor: pointer;
  }
}

.collapse-container {
  margin-bottom: 10px;

  &:last-child {
    margin: 0;
  }

  ul.networks {
    max-height: 300px;
    overflow-y: auto;

    li {
      padding: 10px 5px;
      border-bottom: 1px solid #ececec;

      &:last-child {
        border: 0;
      }

      .network-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        padding-left: 30px;
      }

      .network-title {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        img {
          height: 25px;
          margin-right: 10px;
        }

        p {
          font-size: 18px;
          font-weight: 500;
        }
      }

      // .network-title
    }

    // li
  }

  // ul
}

.detail-container {
  position: relative;

  .detail-name {
    font-weight: 600;
    font-size: 16px;
    padding: 7px 20px;
    width: 100%;
    position: relative;
    display: block;

    &.right-padding {
      padding-right: 70px;
    }
  }

  .detail-text {
    //padding-bottom: 7px;
    position: absolute;
    top: 10px;
    right: 21px;
    //color: $mew-green;
  }

  .show-all-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    font-size: 10px;

    &:hover {
      color: $mew-green;
    }
  }

  .data-all {
    overflow-wrap: break-word;
  }
}

.with-divider {
  border-bottom: 1px solid $light-grey-7;
}
