@import '~@/scss/GlobalVariables';

.send-offline-helper {
  background-color: $light-grey-2;
  padding: 100px 0;
}

.wrap {
  max-width: 700px;
  margin: 0 auto;
}

.page-title {
  margin-bottom: 40px;
}

.page-content-container {
  >* {
    margin-bottom: 20px;
  }
}

.button-container {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

.standard-input {
  margin-bottom: 25px;

  &.no-margin {
    margin-bottom: 0px;
  }
}