@import '~@/scss/GlobalVariables';

.send-offline-helper {
  background-color: $light-grey-2;
  padding: 100px 0;

  @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
    padding: 20px 20px;
  }
  @media all and (max-width: $mobile-width) {
    padding: 20px 10px;
  }
}

.wrap {
  max-width: 700px;
  margin: 0 auto;
}

.page-title {
  margin-bottom: 40px;
}

.page-content-container {
  >* {
    margin-bottom: 20px;
  }
}

.button-container {
  margin-top: 40px;
  width: 100%;
  text-align: center;

  >* {
    margin-right: 10px;
    @media all and (max-width: 600px) {
      margin: 0 0 10px 0;
      width: 100%;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.standard-input {
  margin-bottom: 25px;

  &.no-margin {
    margin-bottom: 0px;
  }
}