@import '../InformationBlock';

.network {
  background-color: $transaction-block-network;
  cursor: pointer;
  position: relative;
}

.block-content {
  h2 {
    display: flex;
  }
}

.helper {
  padding: 5px 0 0 5px;

  .popover-container button {
    background: transparent !important;
  }
}
