@import '../InformationBlock';

.network {
  background-color: $transaction-block-network;
  position: relative;
}

.block-content {
  position: relative;
}

.network-type {
  border: 4px solid white;
  border-radius: 100%;
  margin-right: 25px !important;

  $network-image-size: 60px !important;

  height: $network-image-size;
  width: $network-image-size;

  .icon-block {
    display: flex;
    justify-content: center;
    .icon {
      height: 45px !important;
    }
  }
}

.title-and-helper {
  display: flex;
  align-items: center;

  h2 {
    margin-right: 7px;
  }
}
