@import '../InterfaceContainer';

.send-currency-container {
  @extend %interface-container;

  .send-form {
    @extend %send-form-base;

    .title-container {
      .title {
        display: flex;
        flex-direction: column;
        padding: 0 8px;

        .title-button {
          color: $text--link-color;
          cursor: pointer;
          margin-left: auto;

          &:hover {
            color: $text-black;
          }
        }

        .title-helper {
          display: flex;
          margin-bottom: 2px;

          h4 {
            margin-right: 5px;
          }
        }
      }

      .buttons {
        margin-bottom: 3px;
        margin-left: auto;
      }
    }

    .form-block {
      @extend %form-block-base;
    }

    .amount-to-address {
      display: grid;
      grid-column-gap: 5px;
      grid-template-columns: 2fr 3fr;

      .title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;
        padding: 0 8px;

        .title-button {
          color: $text--link-color;
          cursor: pointer;
          margin-left: auto;

          &:hover {
            color: $text-black;
          }
        }
      }

      .amount {
        .dropdown-select-search-1 {
          background-color: $background-color-1;
          margin-bottom: 5px;
          position: relative;

          i {
            color: $text-color-2;
            left: 14px;
            position: absolute;
            top: 16px;
          }
        }

        &:hover {
          color: $text-black;
        }

        .amount-number {
          position: relative;

          input {
            background-color: transparent;
            border: 0;
            padding: 13px 15px;
            width: 100%;
          }

          i {
            position: absolute;
            right: 13px;
            top: 13px;
          }
        }
      }

      .to-address {
        position: relative;

        .title {
          align-items: center;
          display: flex;
          position: relative;

          img {
            height: 50px;
            left: 98px;
            position: absolute;
            top: -14px;
          }

          .copy-button {
            color: $text--link-color;
            cursor: pointer;
            margin-left: auto;
          }
        }

        .address-block {
          height: 98px;
          position: relative;

          i {
            bottom: 10px;
            position: absolute;
            right: 10px;
          }

          textarea {
            background-color: transparent;
            border: 0;
            height: 100%;
            padding: 13px 15px;
            resize: none;
            width: 100%;
          }
        }
      }
    }

    .gas-amount,
    .user-input {
      position: relative;

      input {
        background-color: $background-color-1;
        border: 0;
        padding: 13px 15px;
        width: 100%;
      }

      .good-button-container {
        align-items: center;
        display: flex;
        position: absolute;
        right: 10px;
        top: 12px;

        p {
          color: $text--link-color;
          margin-right: 10px;
        }
      }
    }

    .error-message-container {
      p {
        color: $text-color-red;
        margin: 7px 0 0 15px;
      }
    }
  } // .send-form

  .advanced {
    padding-top: 10px;

    .advanced-content {
      border-bottom: 2px solid $background-color-1;
      border-top: 2px solid $background-color-1;

      .input-container {
        padding-bottom: 10px;

        .the-form:nth-child(1) {
          margin-bottom: 5px;
        }

      }

      .title {
        display: flex;
        padding: 0 8px;
        padding-bottom: 20px;
        padding-top: 20px;

        .toggle-button {
          align-items: center;
          display: flex;
          margin-left: auto;
          user-select: none;

          >span {
            margin-right: 15px;
          }
        }
      }
    }
  }

  .submit-button-container {
    padding: 60px 0;
    text-align: center;

    .submit-button {
      margin: 0 auto;
      text-align: center;
      width: 300px;
    }

    p {
      margin-top: 20px;
    }
  }

  .tokens {
    border-radius: 5px;
  }
}
