@import '../InterfaceContainer';

.send-currency-container {
  @extend %interface-container;

  .send-form {
    @extend %send-form-base;

    .title-container {
      .title {
        display: flex;
        flex-direction: column;
        padding: 0 8px;

        .title-button {
          color: $text--link-color;
          cursor: pointer;
          margin-left: auto;

          &:hover {
            color: $text-black;
          }
        }

        .title-helper {
          display: flex;
          align-items: center;
          margin-bottom: 2px;
          h4 {
            margin-right: 5px;
          }
        }
      }

      .buttons {
        margin-bottom: 3px;
        margin-left: auto;

        > div {
          margin-left: 5px;
        }
      }
    }

    .form-block {
      @extend %form-block-base;
    }

    .amount-to-address {
      /*
      display: grid;
      grid-column-gap: 5px;
      grid-template-columns: 2fr 3fr;
      */
      display: block;

      @media all and (max-width: $mobile-width) {
        display: block;
      }

      .title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;
        padding: 0 8px;

        .title-button {
          color: $text--link-color;
          cursor: pointer;
          margin-left: auto;

          &:hover {
            color: $text-black;
          }
        }
      }

      .amount {
        display: grid;
        grid-column-gap: 7px;
        grid-template-columns: 2fr 3fr;

        @media all and (max-width: $tablet-width) {
          display: block;
        }

        .dropdown-select-search-1 {
          background-color: $background-color-1;
          margin-bottom: 5px;
          position: relative;

          i {
            color: $text-color-2;
            left: 14px;
            position: absolute;
            top: 16px;
          }
        }

        &:hover {
          color: $text-black;
        }

        .amount-number {
          position: relative;

          input {
            background-color: transparent;
            border: 0;
            padding: 13px 45px 13px 15px;
            width: 100%;
          }

          i {
            position: absolute;
            right: 13px;
            top: 13px;
          }
        }
      }

      .to-address {
        position: relative;

        .blockie-image {
          width: 30px;
          height: 30px;
          position: absolute;
          right: -41px;
          top: -4px;
        }

        .title {
          align-items: center;
          display: flex;
          position: relative;

          h4 {
            position: relative;
          }

          img {
            height: 50px;
            left: 98px;
            position: absolute;
            top: -14px;
          }

          .copy-button {
            color: $text--link-color;
            cursor: pointer;
            margin-left: auto;
          }
        }

        .address-block {
          position: relative;

          i {
            bottom: 13px;
            position: absolute;
            right: 13px;
          }

          input {
            background-color: transparent;
            border: 0;
            padding: 13px 45px 13px 15px;
            resize: none;
            width: 100%;
          }
        }
      }
    }

    .gas-amount,
    .user-input {
      position: relative;

      input {
        background-color: $background-color-1;
        border: 0;
        padding: 13px 15px;
        width: 100%;
      }

      .good-button-container {
        align-items: center;
        display: flex;
        position: absolute;
        right: 10px;
        top: 12px;

        p {
          color: $text--link-color;
          margin-right: 10px;
        }
      }
    }

    .error-message-container {
      p {
        color: $text-color-red;
        margin: 7px 0 0 15px;
      }
    }
  } // .send-form

  .advanced {
    padding-top: 30px;

    .advanced-content {
      padding: 20px 0;
      border-bottom: 2px solid $background-color-1;
      border-top: 2px solid $background-color-1;

      .toggle-button-container {
        display: flex;
        // Mobile
        @media all and (max-width: $mobile-width) {
          display: block;
        }

        h4 {
          padding: 0 8px;
        }

        .toggle-button {
          align-items: center;
          display: flex;
          margin-left: auto;
          user-select: none;

          @media all and (max-width: $mobile-width) {
            padding: 0 8px;
          }

          > span {
            margin-right: 15px;
          }
        } // .toggle-button
      } // .toggle-button-container

      .input-container {
        max-height: 0;
        transition: max-height 0.3s ease;
        overflow: hidden;

        &.input-container-open {
          max-height: 400px;
        }

        .margin-container {
          margin-top: 20px;
        }

        .user-input {
          margin-bottom: 5px;
        }
      }
    }
  }

  .submit-button-container {
    margin-top: 60px;
    text-align: center;
    padding: 0 10px 40px 10px;

    @media all and (max-width: $mobile-width) {
      margin-top: 30px;
      padding: 0 10px 30px 10px;
    }

    .submit-button {
      margin: 0 auto;
      text-align: center;
      @media all and (max-width: $mobile-width) {
        width: 100%;
      }
    }

    p {
      margin-top: 20px;
    }
  }

  .tokens {
    border-radius: 5px;
  }
}

.single-input-block {
  margin-bottom: 30px;
}

.user-input {
  align-items: center;
  display: flex;

  p {
    color: $dark-blue-2;
    flex: none;
    font-size: 14px;
    font-weight: 600;
    padding: 0 8px;
  }

  i {
    right: 13px;
    position: absolute;
    bottom: 13px;
  }
}
