@import "~@/scss/GlobalVariables";
@import "../DashboardButtons";

.content-container {
  background-color: $light-purple-2;
}

.kitties {
  position: absolute;
  right: 4%;
  top: -13%;
  height: 125%;
}

p {
  color: $black;
  font-size: 28px;
  font-weight: 600;
  position: absolute;
  top: calc(50% - 31px);
  left: 11%;
  line-height: 31px;
}
