@import '~@/scss/GlobalVariables';

.tokens-modal-body {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  min-height: 325px;
  padding: 15px 30px;

  input {
    margin: 5px 0;
    width: 100%;
  }

  button {
    margin-bottom: 15px;
    min-width: 300px;
  }

  div {
    text-align: center;
  }
}
