@import '~@/scss/GlobalVariables';

.wrap {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 270px 1fr;

  .contents {
    background-color: $background-color-1;
    padding: 40px 60px;

    .tx-contents {
      display: grid;
      grid-gap: 15px;
      grid-template-areas: 'info-1 info-2 info-3' 'main main tokens';
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;

      .main-content {
        border-radius: 5px;
        grid-area: main;
        overflow: hidden;

        >div {
          background-color: $background-color-white;
        }

        .content-title {
          // box-shadow: 0 1px 1px $box-shadow-color-2;
          border-bottom: 2px solid $background-color-1;
          display: flex;
          padding: 17px 0;

          h2 {
            border-left: 5px solid $background-color-2;
            font-size: 24px;
            font-weight: 500;
            line-height: 37px;
            margin: 0;
            padding: 0;
            padding-left: 27px;
          }

          img {
            height: 40px;
            margin-left: auto;
            margin-right: 30px;
          }
        }

        .buttons-container {
          display: grid;
          grid-column-gap: 20px;
          grid-template-columns: 1fr 1fr 1fr;
          padding: 40px 60px;
          padding-bottom: 400px;

          .dapps-button {
            border-radius: 5px;
            box-shadow: 0 5px 20px $box-shadow-color-1;
            padding: 40px 20px;
            text-align: center;

            img {
              margin-bottom: 15px;
            }

            h4 {
              margin-bottom: 5px;
            }
          }
        } // .send-form
      }
    }
  }
}
