@import '~@/scss/GlobalVariables';

.info-block-container {
  height: 100%;
}

.info-block {
  border-radius: 5px;
  color: $text-white;
  display: flex;
  height: 100%;
  //min-width: 360px;
  padding: 25px;
  position: relative;
  align-items: center;

  h2,
  h4 {
    line-height: initial;
    margin: 0;
    margin-bottom: 3px;
    white-space: nowrap;
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
  }

  h4 {
    font-size: 20px;
    font-weight: 300;
  }

  p {
    color: $text-white;
    font-weight: 300;
    overflow: hidden;
    word-wrap: break-word;
  }

  .block-image {
    display: flex;
    flex-direction: column;
    //height: 90px;
    justify-content: center;
    margin-right: 15px;
    position: relative;

    img {
      height: 100%;
    }
  }

  .block-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 230px;

    @media all and (max-width: 1570px) {
      max-width: 200px;
    }

    @media all and (max-width: 1450px) {
      max-width: 160px;
    }

    @media all and (max-width: 1350px) {
      max-width: 120px;
    }
  }

  .information-container {
    min-height: 82px;
  }

  .icon-container {
    display: flex;
    max-height: 19px;

    .custom-tooltip {
      margin-right: 13px;
    }
  }

  .custom-tooltip {
    background: none;
    border: 0;
    padding: 0;
  }
}
