@import '~@/scss/GlobalVariables';

.wrap {
  .info-block {
    border-radius: 5px;
    color: $text-white;
    display: flex;
    min-height: 158px;
    padding: 25px;
    position: relative;

    h2 {
      font-size: 24px;
      font-weight: 500;
      line-height: initial;
      margin: 0;
      margin-bottom: 4px;
    }

    h4 {
      font-size: 20px;
      font-weight: 400;
      line-height: initial;
      margin: 0;
      margin-bottom: 4px;
    }

    p {
      color: $text-white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .bottom-button {
      bottom: 25px;
      position: absolute;
    }

    .block-image {
      margin-right: 15px;
    }
  }

  .address {
    background-color: $transaction-block-address;
  }

  .balance {
    background-color: $transaction-block-balance;
  }

  .network {
    background-color: $transaction-block-network;
  }

}

.icon-container {
  display: flex;
  margin-top: 10px;

  .tooltip-block {
    padding-right: 13px;
    .custom-tooltip {
      img {
      
      }
    }
  }
  
}
