@import '~@/scss/GlobalVariables';

.wallet-not-found {
  background-color: $about-mew-spaceman-background-color;
  position: relative;
}

.wallet-not-found .wrap{
  height: 700px;
  background-image: url('~@/assets/images/background/404bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;

  .content-block {
    position: relative;

    .block-title {
      color: $text-white;
      font-weight: 700;
      font-size: 60px;
      text-align: center;
    }

    .buttons {
      text-align: center;
      margin-top: 30px;
       >a {
        margin: 0 10px;
       }
    }

    .spaceman {
      position: absolute;
      bottom: -224px;
      left: -143px;

      img {
        height: 200px;
        transform: rotate(-45deg);
      }
    }
  }
}
