@import '~@/scss/GlobalVariables';

.banner {
  max-width: 100%;
}

.banner-container {
  position: relative;
  text-align: center;
}

.banner-text {
  color: $white;
  font-size: 40px;
  font-weight: bold;
  height: 48px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 100%;
}
