@import '../../../../InterfaceContainer';

$collepse-width: $nft-mobile-width;

.crypto-kitties-manager {
  @extend %interface-container;
}

.title {
  @media all and (max-width: $collepse-width) {
    display: none;
  }
}

.content-container {
  padding: 40px;
  @media all and (max-width: $collepse-width) {
    padding: 20px 10px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
  @media all and (max-width: $collepse-width) {
    margin-top: 0;
    grid-template-columns: 1fr 1fr;
  }
}

.kitty {
  text-align: center;

  .kitty-img {
    background-color: $light-grey-2;
    border-radius: 100%;
    img {
      width: 100%;
    }
  }

  p {
    margin-top: 10px;
  }
}
