@import '~@/scss/GlobalVariables';

a,
a:link,
a:visited,
a:hover,
a:active {
  color: blue;
  text-decoration: underline;
}

p {
  margin-bottom: 20px;
}

h3 {
  font-size: 26px;
  font-weight: 600;
  margin-top: 65px;
  margin-bottom: 25px;
}

h5 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 45px;
  margin-bottom: 25px;
}

code {
  padding: 7px 17px;
  border-radius: 4px;
  background-color: $dark-blue-8;
  display: inline-block;
  color: $text-white;
  font-weight: 600;
  margin-bottom: 17px;
  margin-top: 10px;
}

abbr {
  font-family: 'Courier New', Courier, monospace;
  padding: 5px 6px;
  background-color: #f7f7f9;
  color: red;
  font-weight: 600;
  font-size: 12px;
}

ol {
  margin-left: 18px;

  > li {
    list-style-type: decimal;
    padding-left: 10px;
    margin-bottom: 10px;
  }
}

ul {
  margin-left: 18px;
  margin-bottom: 20px;

  > li {
    list-style-type: disc;
    padding-left: 10px;
  }
}

.list-in-block {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding: 20px 50px;
  background-color: #f7f7f9;
  margin-top: 20px;

  > li {
    list-style-type: disc;
    margin: 0;
    padding: 0;
    min-width: 147px;

    &:last-child {
      margin-right: 0;
    }
  }
}

blockquote p {
  font-size: 20px;
  line-height: 30px;
  padding: 35px 54px;
  background-color: aliceblue;
  border-radius: 20px;
}

.codes {
  font-size: 13px;
  line-height: 27px;
}
