@import '~@/scss/GlobalVariables';

// *********************************************************************
// .warning-message
// *********************************************************************
.warning-message {
  display: grid;
  padding: 20px 20px;
  grid-template-columns: 60px 1fr;
  background-color: $light-grey-16;
}

.left {
  font-size: 30px;
}


.right {
  .title {
    font-size: 20px;
    color: $dark-blue-2;
    font-weight: 600;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }

  .content {
    margin: 0;
    padding: 0;

  }

  .link {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;

    a {
      font-size: inherit;
      font-weight: inherit;
      text-decoration: underline;
    }
  }
}

