@import '~@/scss/GlobalVariables';
@media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
  .modal-content {
    padding: 20px;
  }

  .input-container {
    margin-bottom: 20px;
  }

  .private-key-form {
    display: flex;
    flex-direction: column;

    input {
      background-color: $background-color-1;
      border: 0;
      font-size: 14px;
      padding: 20px;
      width: 100%;
    }

    .submit-button {
      cursor: pointer;
      display: block;
      margin: 0 auto;
      max-width: 300px;
      padding: 20px 0;
      text-align: center;
      width: 100%;

      &:disabled {
        background-color: $disabled;
        cursor: auto;
        pointer-events: none;
      }

      img {
        margin-left: 5px;
        width: 20px;
      }
    }
  }
} // @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width)
