@import '~@/scss/GlobalVariables';

.bottom-image-container {
  background-color: $background-color-white;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

