@import '~@/scss/GlobalVariables';

.wrap {
  cursor: pointer;

  .info-block {
    border-radius: 5px;
    color: $text-white;
    display: flex;
    min-height: 158px;
    padding: 25px;
    position: relative;

    h2 {
      font-size: 24px;
      font-weight: 500;
      line-height: initial;
      margin: 0;
      margin-bottom: 4px;
    }

    h4 {
      font-size: 20px;
      font-weight: 400;
      line-height: initial;
      margin: 0;
      margin-bottom: 4px;
    }

    p {
      color: $text-white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .bottom-button {
      bottom: 25px;
      position: absolute;
    }

    .block-image {
      margin-right: 15px;
    }
  }

  .address {
    background-color: $transaction-block-address;
  }

  .balance {
    background-color: $transaction-block-balance;
  }

  .network {
    background-color: $transaction-block-network;
  }

}

.icon-container {
  display: flex;
  margin-top: 10px;

}


.modal-container {
  .network {
    .content-block {
      border-bottom: 1px solid $border-color-5;
      margin: 0 20px;
      padding: 15px 5px;

      h4 {
        font-weight: 500;
        position: relative;

        &.modal-title {
          color: $text-color-8;
          font-weight: 600;
        }

        span {
          color: $text--link-color;
          font-size: 13px;
        }

        &::before {
          border-radius: 50px;
          bottom: 8px;
          content: '';
          height: 6px;
          left: -12px;
          position: absolute;
          width: 6px;
        }

        &.dot-green::before {
          $background-color: #37ce76;
          background-color: $background-color;
        }

        &.dot-bluegreen::before {
          $background-color: #00b3db;
          background-color: $background-color;
        }

        &.dot-blue::before {
          $background-color: #5c74eb;
          background-color: $background-color;
        }

        &.dot-orange::before {
          $background-color: #f37240;
          background-color: $background-color;
        }
      }

      .flex-container {
        display: flex;

        .margin-left-auto {
          margin-left: auto;
        }
      }

      .grid-3 {
        display: grid;
        grid-template-columns: auto auto auto;

        p {
          margin-top: 5px;
        }
      } // .grid-3
    } // .content-block

    .add-custom-network {
      align-items: center;
      display: flex;

      p {
        margin-right: 15px;
      }
    }
  } // .network

  .network-add {
    .input-block-container {
      display: grid;
      grid-gap: 4px;
      grid-template-columns: 1fr 120px;
    }

    .auth-form-container {
      display: grid;
      grid-column-gap: 4px;
      grid-template-columns: 1fr 1fr;
      margin-top: 15px;

      &.hidden {
        display: none;
      }
    }

    .save-button-container {
      padding: 40px 0;
      text-align: center;

      .save-button {
        display: inline-block;
        margin-bottom: 15px;
        min-width: 300px;
      }
    }
  }
} // .modal-container
