@import '~@/scss/GlobalVariables';

ul {
  align-items: stretch;
  margin: 0 -10px;

  li {
    background-color: $light-grey-2;
    flex-grow: 1;
    margin: 0 10px;
    border-radius: 4px;
    padding: 30px 20px;
    text-align: center;

    h4 {
      font-size: 16px;
      font-weight: 500;
      color: $dark-blue-6;
      padding: 10px 0 5px 0;
    }

    p {
      color: $light-blue-3;
      max-width: 160px;
      display: inline-block;
    }

    img {
      height: 90px;
    }
  }
}
