@import '~@/scss/GlobalVariables';

.mew-support-box {
  background: $light-green-1;
  border-radius: 6px;
  height: 197px;
  width: 324px;
}

.mew-support-header {
  color: $dark-blue-2;
  font-size: 20px;
  font-weight: bold;
  height: 24px;
  text-align: left;
  margin-left: 20px;
}
.mew-support-info {
  color: $light-blue-3;
  color: rgb(71, 96, 129);
  height: 54px;
  letter-spacing: 0;
  line-height: 18px;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
  width: 180px;
}

.mew-support-container {
  padding-top: 24px;
}

.msg-logo {
  height: 60px;
  width: 60px;
  margin-left: 15px;
  margin-top: -20px;
}

.email-us-btn {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid $mew-green;
  color: $mew-green;
  display: block;
  font-weight: 500;
  height: 46px;
  margin: 10px;
  padding: 10px;

  &:hover {
    background-color: $mew-green;
    color: $white;
    text-decoration: none;
  }
}

.text-container {
  display: flex;
}
