@import '~@/scss/GlobalVariables';

.qr-divider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px 0;

  > div {
    padding: 0 20px;
    padding-bottom: 10px;
    text-align: center;
  }

  .qr-image {
    padding: 0 20px;

    img {
      width: 100%;
    }
  }

  .store-name-container {
    display: flex;
    margin-top: 10px;

    .store-name {
      margin: 0 auto;
      display: flex;
      align-items: center;

      img {
        height: 23px;
        margin-right: 10px;
      }

      p {
        font-size: 20px;
        font-weight: 500;
        color: $black;
      }
    }

    margin-bottom: 17px;
  }

  .ios {
    border-right: 1px solid $light-grey-2;
  }
}
