@import '~@/scss/GlobalVariables';

.wrap {
  background-color: $about-mew-spaceman-background-color;
  background-image: url('~@/assets/images/etc/help-left-bg.png'),
    url('~@/assets/images/etc/help-right-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center, right center;
  padding: 90px 0;
}

.block-title {
  color: white;
  text-align: center;
  margin-bottom: 30px;

  h1 {
    font-weight: 600;
    margin: 0;
  }
}

.search-form {
  position: relative;

  input {
    position: relative;
    width: 700px;
    margin: 0 auto;
    display: block;
  }
}

.searchable-contents {
  margin-top: 30px;
  text-align: center;
  p {
    color: white;
  }
}
