@import '~@/scss/GlobalVariables';

%send-form-base {
  padding: 40px 60px 0;

  .title-container {
    align-items: flex-end;
    display: flex;
    margin-bottom: 5px;
  }
}

%form-block-base {
  border-radius: 5px;

  .the-form {
    background-color: $background-color-1;
    border-radius: 5px;
  }
}

.select-contract .dropdown-toggle {
  border: 0;
  display: none;
}

.container-maker {
  grid-area: main;

  .Collateralize-Gene {
    width: 341px;
    height: 22px;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b2840;
  }

  .Please-text-somethin {
    width: 535px;
    height: 51px;
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #506175;
  }

  .Please-text-somethin .text-style-1 {
    font-family: PingFangSC;
  }

  .Collateral {
    width: 199px;
    height: 22px;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b2840;
  }
}
