@import '~@/scss/GlobalVariables';

.user-input {
  margin-bottom: 40px;

  input {
    background-color: $background-color-1;
    border: 0;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
  }


  .next-button {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    max-width: 300px;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: 40px;

    &:disabled {
      background-color: $disabled;
    }

    img {
      position: absolute;
      right: 20px;
      top: 24px;
      width: 25px;
    }
  }
}

.very-weak {
  color: $very-weak;
}

.weak {
  color: $weak;
}

.strong {
  color: $strong;
}

.very-strong {
  color: $very-strong;
}
