@import '~@/scss/GlobalVariables';

.register-domain-container {
  border-radius: 5px;
  grid-area: main;
  overflow: hidden;
  padding-bottom: 10px;

  > div {
    background-color: $background-color-white;
  }

  .submit-button {
    margin: 0 auto;
    text-align: center;
    width: 300px;
  }
}
