@import '~@/scss/Globals';
@import '~@/scss/GlobalVariables';

.wrap {
  padding: 0;
  background-color: $background-color-1;

  .nav-tab-user-input-box{
    max-width: 550px;
    margin: 0 auto;
    background-color: white;
    .progress-bar{
      width: 66.66%;
      height: 6px;
      background-color: #05c0a5;
      animation-name: progreesbar-grow;
      animation-duration: 0.5s;
    }
    @keyframes progreesbar-grow {
      from {width: 33.33%;}
      to {width: 66.66%;}
    }

    .tab-pane{
      padding: 50px 50px;
      min-height: 500px;
      h3{
        text-align: center;
        margin-bottom: 40px;
      }
      .contents{
        margin-bottom: 120px;
        .tools{
          margin-bottom: 10px;
          display: flex;
          align-items: center;

          .value-switch{
            display: flex;
            align-items: center;
            .switch-label{
              margin-left: 10px;
            }
          }

          .random-button{
            margin-left: auto;
            i{
              margin-right: 5px;
            }
          }
        }
        .phrases{
          ul{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            li{
              font-size: 14px;
              border-bottom: 1px solid #e0e0e0;
              padding: 10px 0;
              color: #999999;
              span{
                color: #003945;
                margin-left: 10px;
              }
            }
          }
        }

      }// .contents

      .user-input{
        margin-bottom: 25px;
        input{
          width: 100%;
          border: none;
          background-color: $background-color-1;
          padding: 20px;
          font-size: 14px;
          margin-bottom: 40px;
        }
        div.next-button{
          text-align: center;
          display: block;
          margin: 0 auto;
          padding: 20px 0px;
          max-width: 300px;
          img{
            width: 20px;
            margin-left: 5px;
          }
        }
      }// .user-input

      .footer-text{
        display: flex;
        p{
          margin: 0 auto;
          font-size: 13px;
          .tooltip-icon{
            margin-left: 5px;
          }
          img.icon{
            height: 25px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
