@import '~@/scss/GlobalVariables';
@import '~@/layouts/ExtensionBrowserAction/wrappers/MewcxModalWrapper/MewcxModalInputs';
.submit-button {
  margin-top: 10px;
  width: 100% !important;
}

.password-modal-container {
  form {
    padding-top: 40px;
  }
}
