@import '~@/scss/GlobalVariables';
@import '~@/layouts/ExtensionBrowserAction/wrappers/MewcxModalWrapper/MewcxModalInputs';
.submit-button {
  margin-top: 10px;
  width: 100% !important;
}

.password-modal-container {
  .password-modal-title {
    text-align: center;

    h2,
    p {
      color: $dark-blue-2;
    }

    h2 {
      font-weight: bold;
    }
  }

  form {
    padding-top: 40px;
  }
}
