@import '~@/scss/Globals';
@import '~@/scss/GlobalVariables';

.wrap {
  background-color: $background-color-1;
  padding: 0;

  .nav-tab-user-input-box {
    background-color: white;
    margin: 0 auto;
    max-width: 550px;

    .progress-bar {
      animation-duration: .5s;
      animation-name: progreesbar-grow;
      background-color: #05c0a5;
      height: 6px;
      width: 33.33%;
    }
    @keyframes progreesbar-grow {
      from {width: 0%;}
      to {width: 33.33%;}
    }

    .tab-pane {
      padding: 50px 50px;
      min-height: 500px;
      h3{
        text-align: center;
        margin-bottom: 40px;
      }
      .user-input{
        margin-bottom: 40px;
        input{
          width: 100%;
          border: none;
          background-color: $background-color-1;
          padding: 20px;
          font-size: 14px;
          margin-bottom: 40px;
        }
        div.next-button{
          text-align: center;
          display: block;
          margin: 0 auto;
          padding: 20px 0px;
          max-width: 300px;
          img{
            width: 20px;
            margin-left: 5px;
          }
        }
      }// .user-input
      .footer-text{
        p{
          span{
            color: #ff2f49;
            font-weight: 500;
          }
        }
      }
    }
  }
}
