@import "~@/scss/Globals.scss";
@import "~@/scss/GlobalVariables.scss";

.wrap{
  padding: 0 0 0 0;
  background-color: $background-color-1;

  .user-input-box{
    max-width: 550px;
    margin: 0 auto;
    background-color: white;
    .progress-bar{
      width: 33.33%;
      height: 6px;
      background-color: #05c0a5;
      animation-name: progreesbar-grow;
      animation-duration: 1.5s;
    }
    @keyframes progreesbar-grow {
      from {width: 0%;}
      to {width: 33.33%;}
    }

    .tab-pane{
      padding: 50px 50px;
      min-height: 500px;
      h3{
        text-align: center;
        margin-bottom: 40px;
      }
      .user-input{
        margin-bottom: 40px;
        input{
          width: 100%;
          border: none;
          background-color: $background-color-1;
          padding: 20px;
          font-size: 14px;
          margin-bottom: 40px;
        }
        button.next-button{
          text-align: center;
          display: block;
          margin: 0 auto;
          padding: 20px 120px;
          img{
            width: 20px;
            margin-left: 5px;
          }
        }
      }// .user-input
      .footer-text{
        p{
          span{
            color: #ff2f49;
            font-weight: 500;
          }
        }
      }
    }
  }
}

