@import '~@/scss/Globals';
@import '~@/scss/GlobalVariables';

.bootstrap-modal {
  button {
    flex: 1;
    padding: 15px 0;
  }

  .title {
    // title
  }

  .content {
    // content
  }

  .close-button {
    // close button
  }
}

.wrap {
  background-color: $background-color-1;
  padding: 0;
}

.nav-tab-user-input-box {
  background-color: $background-color-white;
  margin: 0 auto;
  max-width: 550px;

  .progress-bar {
    animation-name: progreesbar-grow;
    width: 33.33%;
  }

  @keyframes progreesbar-grow {
    from {width: 0%;}
    to {width: 33.33%;}
  }

  .tab-pane {
    min-height: 500px;
    padding: 50px;

    h3 {
      margin-bottom: 40px;
      text-align: center;
    }

    .user-input {
      margin-bottom: 40px;

      input {
        background-color: $background-color-1;
        border: 0;
        font-size: 14px;
        margin-bottom: 40px;
        padding: 20px;
        width: 100%;
      }

      .next-button {
        display: block;
        margin: 0 auto;
        max-width: 300px;
        padding: 20px 0;
        text-align: center;

        img {
          margin-left: 5px;
          width: 20px;
        }
      }
    }// .user-input

    .footer-text {
      p {
        span {
          color: $text-color-5;
          font-weight: 500;
        }
      }
    } // .footer-text
  } // .tab-pane
} // .nav-tab-user-input-box
