@import '~@/scss/GlobalVariables';

.wrap {
  background-color: $price-bar-background-color;
  padding: 25px 0;
}// .wrap


.items-container {
  display: flex;

  .item {
    border-right: 1px solid $price-bar-border-color;
    flex: 1;
    padding: 0 0 0 20px;

    &:last-child {
      border-right: 0;
    }

    .coin-name {
      font-weight: 500;
    }

    p {
      color: $text-white;
      font-size: 12px;
      line-height: 16px;
    }

  } // .item
} // .items-container
