@import '~@/scss/GlobalVariables';

.wrap {
  background-color: $background-color-1;
  padding: 0;
}

.nav-tab-user-input-box {
  background-color: $nav-tab-background-color;
  margin: 0 auto;
  max-width: 550px;

  .progress-bar {
    animation-duration: .5s;
    animation-name: progreesbar-grow;
    background-color: $nav-tab--progress-bar-background-color;
    height: 6px;
    width: 66.66%;
  }

  @keyframes progreesbar-grow {
    from {width: 33.33%;}
    to {width: 66.66%;}
  }

  .tab-pane {
    min-height: 500px;
    padding: 50px;

    h3 {
      margin-bottom: 40px;
      text-align: center;
    }
  }
}

.contents {
  display: flex;
  margin-bottom: 40px;
}

.user-input {
  margin-bottom: 25px;

  input {
    background-color: $background-color-1;
    border: 0;
    font-size: 14px;
    margin-bottom: 40px;
    padding: 20px;
    width: 100%;
  }

  .next-button {
    color: $background-color-white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    max-width: 300px;
    padding: 20px 0;
    text-align: center;

    img {
      margin-left: 5px;
      width: 20px;
    }
  }
}

.footer-text {
  display: flex;

  p {
    font-size: 13px;
    margin: 0 auto;

    .tooltip-icon {
      margin-left: 5px;
    }

    .icon {
      height: 25px;
      margin-right: 5px;
    }
  }
}

.disable {
  background-color: $disabled;
  cursor: default;
  pointer-events: none;
}

.spinner {
  animation: spin 2s linear infinite;
  height: 37px;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
