@import '~@/scss/GlobalVariables';

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;

  p {
    color: $dark-blue-12;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

  i {
    cursor: pointer;
  }
}

.password-form {
  display: flex;
  flex-direction: column;

  .input-container {
    position: relative;
    margin-bottom: 10px;

    img {
      position: absolute;
      top: 25px;
      right: 10px;
    }

    input {
      background-color: $background-color-1;
      border-radius: 5px;
      border: 0;
      font-size: 14px;
      padding: 20px;
      width: 100%;
    }
  }

  button {
    background-color: $mew-green;
    border-radius: 5px;
    border: 0;
    color: $white;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    width: 100%;

    &:disabled {
      background-color: $disabled;
      cursor: auto;
      pointer-events: none;
    }

    img {
      margin-left: 5px;
      width: 20px;
    }
  }
}

.terms {
  font-size: 15px;
  padding-top: 20px;

  a {
    color: $mew-green;
  }
}
