@import '~@/scss/GlobalVariables';

.amount-info-container {
  background-color: $light-green-1;
  border-radius: 5px;
  border: 1px solid $light-green-1;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 10px;
  width: 100%;

  .eth-icon {

  }

  p {
    margin: 0;
  }

  .amount-text-container {
    flex: auto;
    padding-left: 10px;
  }

  .amount-text {

    span {

    }
  }
}
