@import '~@/scss/GlobalVariables';
@media all and (max-width: $mobile-width) {
  .hardware-modal-content-container {
    padding: 10px;
  }

  .modal-button-container {
    margin-top: 40px;
  }

  .support-container {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .modal-hardware {
    .button-options {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr;

      li {
        align-items: center;
        color: $text--link-color;
        cursor: pointer;
        display: flex;
        padding: 10px;
        text-align: left;
        user-select: none;

        * {
          pointer-events: none;
        }

        span {
          line-height: 16px;
        }

        &.active {
          box-shadow: 0 3px 15px $box-shadow-color-1;
          color: $text-black;
          font-weight: 500;

          .icon {
            display: none;
          }

          .icon-hover {
            display: block;
          }
        }

        &:hover {
          color: $text-black;
          font-weight: 500;

          .icon {
            display: none;
          }

          .icon-hover {
            display: block;
          }
        }

        .icon,
        .icon-hover {
          margin-right: 8px;
          width: 50px;
        }

        .icon-hover {
          display: none;
        }
      }
    }
  }

  .button-container {
    margin-bottom: 10px;
    div {
      padding: 20px 0;
      width: 100%;
      text-align: center;
    }
  }
} // @media all and (max-width: $mobile-width)
