@import '~@/scss/GlobalVariables';
@media all and (min-width: calc(#{$tablet-width} + 1px)) {
  .modal-hardware {
    .button-options {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr;
      margin-bottom: 40px;

      &.hardware-button-options {
        margin-bottom: 30px;
      }

      li {
        align-items: center;
        color: $text--link-color;
        cursor: pointer;
        display: flex;
        padding: 20px 0 20px 20px;
        text-align: left;
        user-select: none;

        * {
          pointer-events: none;
        }

        span {
          line-height: 16px;
        }

        &.active {
          box-shadow: 0 3px 15px $box-shadow-color-1;
          color: $text-black;
          font-weight: 500;

          .icon {
            display: none;
          }

          .icon-hover {
            display: block;
          }
        }

        &:hover {
          color: $text-black;
          font-weight: 500;

          .icon {
            display: none;
          }

          .icon-hover {
            display: block;
          }
        }

        .icon,
        .icon-hover {
          margin-right: 8px;
          width: 50px;
        }

        .icon-hover {
          display: none;
        }
      }
    }
  }
} // @media all and (min-width: calc(#{$tablet-width} + 1px))
