@import '~@/scss/GlobalVariables';

.button-block {
  user-select: none;
  background-color: $background-color-white;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px 25px;
  position: relative;
  top: 0;
  transition: all 0.3s ease;
  border: 0;

  .button-image {
    font-size: 90px;
    margin-bottom: 5px;
  }

  p {
    line-height: 20px;
  }

  .small-note {
    color: $red-7;
    font-size: 11px;
    margin-top: 5px;
  }

  h3 {
    margin-bottom: 10px;
  }

  .tooltip-box {
    display: none;
    position: absolute;
    right: 15px;
    top: 10px;

    .btn {
      background-color: transparent;
      border: 0;
      color: $text-white;
      font-size: 18px;
      line-height: 100%;
      padding: 0;
    }
  }

  &:hover {
    background-color: $background-color-2;
    box-shadow: 0 5px 20px $box-shadow-color-1;
    top: -8px;

    @media all and (max-width: $tablet-width) {
      top: 0;
    }

    h3,
    p {
      color: $text-white;
    }

    .tooltip-box {
      color: $link-text-color-2;
      display: block;
    }
  }
}

.button-software {
  &:hover {
    background-color: $red-7;
    color: $text-white;
  }
}

.disabled {
  color: $light-grey-10;
  pointer-events: none;

  p {
    color: $light-grey-10;
  }
}

@media all and (max-width: $tablet-width) {
  .hide {
    display: none;
  }
}
