@import '~@/scss/GlobalVariables';

.content-container {
  padding: 15px;
  border-top: 2px solid $background-color-1;
  border-bottom: 2px solid $background-color-1;

  .toggle-button {
    display: flex;
    align-items: center;

    .sliding-switch {
      margin-left: auto;
    }
  }

  .expending-block {
    ul {
      margin-top: 15px;
      li {
        display: flex;
        align-items: center;
        padding: 7px 0;

        .name {
          color: $mew-green;
        }

        .value {
          margin-left: auto;
        }
      }
    }
  }
} // .content-container
