@import '~@/scss/GlobalVariables';
.button-container {
  margin-bottom: 0 !important;

  a {
    width: 100%;
  }
  button {
    display: inline-block;
    width: 100%;
  }
}

.contents {
  margin-bottom: 20px;

  .instruction {
    margin-bottom: 40px;
  }

  .tools {
    align-items: center;
    display: flex;
    margin-bottom: 10px;

    .value-switch {
      align-items: center;
      display: flex;

      .switch-label {
        color: $text-color-4;
        font-size: 14px;
        margin-left: 10px;
      }
    }

    .random-button {
      cursor: pointer;
      font-size: 14px;
      margin-left: auto;

      i {
        margin-right: 5px;
      }
    }
  }

  .phrases {
    ul {
      display: grid;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-bottom: 20px;

      li {
        border-bottom: 1px solid $border-bottom--mnemonic-phrase-key-color;
        color: $text--mnemonic-phrase-index-color;
        font-size: 14px;
        padding: 10px 0;

        input {
          display: inline-block;
          color: $text--mnemonic-phrase-key-color;
          margin-left: 10px;
          border: 0;
          width: 70px;
        }
      }
    }
  }
}

.mnemonic-submit {
  background-color: $mew-green;
  border: 1px solid $white;
  border-radius: 6px;
  color: $white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 40px;
  user-select: none;
}

.disabled {
  background-color: $dark-grey-11 !important;
  border: 1px solid $dark-grey-11;
  color: $light-grey-6;
  pointer-events: none;
}
