@import '../InformationBlock';

.balance {
  background-color: $transaction-block-balance;
  cursor: pointer;

  .balance-text-container {
    display: inline-block;
  }

  .balance-text {
    display: flex;
    font-size: 20px;
    font-weight: 300;

    p {
      font-size: 20px;
      text-overflow: ellipsis;
      word-wrap: normal;
    }

    p:first-child {
      max-width: 150px;
    }
  }
}
