@import '~@/scss/GlobalVariables';

.twitter-container {
  border-radius: 5px;
  margin-top: 15px;
  overflow: hidden;
  .twitter-content {
    padding: 30px;
    background-color: $background-color-white;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;

    a {
      color: black;
      text-decoration: none;
    }

    i {
      color: #1ca1f1;
      font-size: 48px;
      vertical-align: sub;
    }
    span {
      vertical-align: baseline;
      padding-left: 10px;
      padding-bottom: 5px;
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.bottom-image-container {
  position: relative;
  border-radius: 5px;
  margin-top: 5px;
  overflow: hidden;
  height: 200px;

  a {
    color: black;
    text-decoration: none;
  }

  .ad-container {
    height: 25%;
  }

  .select-dots-container {
    position: absolute;
    bottom: 10px;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
    text-align: center;

    .ad-dot {
      padding-right: 10px;
      cursor: pointer;
      color: #0b2840;
      .inactive {
        opacity: 0.2;
      }
      .active {
        opacity: 1;
      }
    }
  }
}

.spinner-container {
  text-align: center;
}

.clickable {
  cursor: pointer;
}
