@import '../AccountInfo';

.main-menu--balance-block {
  background-color: $light-blue-1;
}

.block-content {
  padding-top: 15px;
  .balance-amount {
    font-size: 22px;
  }
}

.more-info-icon {
  height: 30px;
}

.top-right-content {
  button {
    background-color: transparent;
    border-radius: 100%;
    border: 0;
    &:active {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
