@import "~@/scss/GlobalVariables";

.search-container {
  background: rgb(242, 244, 250);
  border-bottom: 3px solid $mew-green;
  display: flex;
  align-items: center;
  position: relative;
}

input {
  border: 0;
  border-radius: 0;
  width: 100%;
  background-color: transparent;
  padding: 13px 20px;
  padding-left: 45px;
}

img {
  height: 15px;
  pointer-events: none;
  position: absolute;
  left: 20px;
  top: auto;
  bottom: auto;
  opacity: 0.5;
}
