@import '~@/scss/GlobalVariables';

.scroll-up-button {
  position: fixed;
  bottom: 5vh;
  right: 4vw;

  .button-block {
    img {
      transform: rotate(180deg);
      cursor: pointer;
    }
  }
}
