@import '~@/scss/GlobalVariables';

.scroll-up-button {
  bottom: 5vh;
  cursor: pointer;
  position: fixed;
  right: 4vw;
  z-index: 999;

  .button-block {
    img {
      cursor: pointer;
      width: 50px;
    }
  }
}
