@import '~@/scss/GlobalVariables';

//******************************************************
// Wrap
//******************************************************
.wrap {
  //empty
}

.tx {
  display: flex;
  align-items: flex-start;

  @media all and (max-width: $tablet-width) {
    justify-content: space-evenly;
    align-items: center;
  }

  .currency {
    .currency-type {
      display: flex;
      align-items: center;
      span {
        font-size: 19px;
      }
      img {
        margin-right: 4px;
        height: 20px;
      }
    }

    .amount {
      font-weight: 600;
      font-size: 16px;
    }
  }

  .tx-direction {
    padding: 0 12px;
    img {
      height: 12px;
      @media all and (max-width: $tablet-width) {
        height: 22px;
      }
    }
  }
}

.progress {
  margin-top: 5px;
  border-radius: 6px;
  position: relative;

  .progress-time {
    position: absolute;
    font-size: 10px;
    line-height: initial;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 100%;
    text-align: center;
  }

  .progress-bar {
    font-size: 10px;
    text-align: center;
    background-color: $mew-green;
  }
}
