@import "~@/scss/GlobalVariables";

.md-container .dynamic-content {
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: #000;
  }

  a {
    text-decoration: underline;
    color: blue;
  }

  h2 {
    font-size: 20px;
    font-weight: 300;
    line-height: 29px;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-left: 5px solid #d2d2d2;
    padding-left: 10px;
  }

  li {
    margin-left: 20px;
    padding-left: 5px;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 18px;
  }

  ul li {
    list-style-type: circle;
  }

  note {
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    display: block;
    border: 1px solid #ffbd44;
    color: #000000;
    padding: 8px 11px;
    background-color: #f7f7f7;
    border-radius: 2px;
  }
}
