@import '~@/scss/GlobalVariables';
.address-detail-container {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .check-mark-container {
    cursor: pointer;
    padding: 5px;
  }

  .icon-selected {
    color: $mew-green;
  }

  .icon-not-selected {
    color: $dark-grey-11;
  }

  .address-detail {
    align-items: center;
    border: 1px solid $light-green-1;
    background-color: $light-green-1;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 75px;
    padding: 14px;
    width: 100%;

    .address-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 10px;

      .balance {
        display: flex;
        justify-content: space-between;
      }

      p,
      span {
        font-size: 14px;
        margin: 0;
      }
    }

    &.selected {
      border: 1px solid $mew-green;
    }
  }
}
