@import '../../RegisterDomain';

.already-owned-container {
  @extend %template-container;

  padding-bottom: 25px;

  h3 {
    color: $red-5;
    padding: 20px 6px;
  }

  .content-container {
    background-color: $light-green-1;
    border-radius: 5px;
    margin-bottom: 7px;
    padding: 17px 30px;

    .label {
      color: $dark-blue-2;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .content {
      color: $dark-blue-1;
      font-size: 14px;
    }
  }
}
