@import '~@/scss/GlobalVariables';

a {
  text-decoration: underline;
}

// Customize the label (the container)
.checkbox-container {
  cursor: pointer;
  display: inline;
  font-size: 14px;
  margin-bottom: 12px;
  padding-left: 33px;
  padding-right: 0;
  position: relative;
  user-select: none;

  &.checkbox-container-small {
    padding-left: 0;
  }

  // Hide the browser's default checkbox
  input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
  }

  // On mouse-over, add a grey background color
  &:hover input ~ .checkmark {
    $check-box-hover-color: $light-grey-12;

    background-color: $check-box-hover-color;
  }

  // When the checkbox is checked, add a blue background
  input:checked ~ .checkmark {
    background-color: $background-color-2;
  }

  // Show the checkmark when checked
  input:checked ~ .checkmark::after {
    display: block;
  }

  // Create a custom checkbox
  .checkmark {
    $unchecked-box-color: $light-grey-13;

    background-color: $unchecked-box-color;
    border-radius: 100px;
    height: 22px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 22px;

    // Create the checkmark/indicator (hidden when not checked)
    // Style the checkmark/indicator
    &::after {
      border: solid $border-color-2;
      border-width: 0 3px 3px 0;
      content: '';
      // display: none;
      height: 10px;
      left: 9px;
      position: absolute;
      top: 5px;
      transform: rotate(45deg);
      width: 5px;
    }
  }
}
