@import "~@/scss/GlobalVariables.scss";

.wrap{
  .top-section{
    margin-top: 40px;
    background-color: #0b2840;
    color: white;

    .circle img{
      width: 100%;
    }

    .star-background{
      background-image: url(~@/assets/images/home/stars.svg);
      background-size: 55%;
      background-position: right top;
      background-repeat: no-repeat;
    }

    .content{
      .text-content{
        p{
          margin-bottom: 40px;
        }
        .watch-video{
          a{
            color: white;
          }
          p{
            font-size: 15px;
            i{
              padding: 2px 7px;
              border-radius: 150px;
              background-color: #05c0a5;
              color: white;
              text-align: center;
              margin-left: 5px;
            }
          }
        }
      }
      .image-content{
        position: relative;
        height: 700px;
        .spaceman{
          position: absolute;
          //bottom: 30px;
          //left: 0px;
          height: 300px;
          z-index: 999;

          animation-name: spaceman-fly;
          animation-duration: 22s;
          animation-iteration-count: infinite;
        }
        .mew-icon{
          position: absolute;
          top: 70px;
          right: 0px;
          height: 224px;
          box-shadow: 0 0 130px rgba(255, 255, 255, 0.5);
          border-radius: 999px;
        }

        @keyframes spaceman-fly {
          0%   {bottom: 109px; right: 43%;}
          25%  {bottom: 80px; right: 40%;}
          50%  {bottom: 100px;}
          75% {bottom: 60px;}
          100% {bottom: 109px; right: 43%;}
        }

      }
    }
  }//. top-section
}// .wrap



.wrap{
  .bottom-section{
    background-color: #f9f9f9;
    color: #003945;
    padding: 70px 0;

    .mew-features{
      grid-column-gap: 70px;
      grid-row-gap: 40px;

      .content{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;

        .image{
          padding-right: 30px;
          img{
            //width: 200px;
          }
        }
        .text{
          h3{
            margin-bottom: 10px;
          }
          p{

          }
        }
      }
    }

  }// .bottom-section
}// .wrap
