@import '~@/scss/Globals';
@import '~@/scss/GlobalVariables';

.top-section {
  background-color: #0b2840;
  color: white;
  margin-top: 40px;

  .circle img {
    margin-top: -2px;
    width: 100%;
  }

  .star-background {
    background-image: url('~@/assets/images/home/stars.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 55%;

    @media all and (max-width: $tablet-width) {
      background-position: center 300px;
      background-size: 140%;
    }
  }

  .content {
    position: relative;

    .text-content {
      @media all and (max-width: $tablet-width){
        left: 0;
        position: absolute;
        top: 50px;
        width: 80%;
        z-index: 9;
      }

      p {
        margin-bottom: 40px;

        @media all and (min-width: $tablet-width + 1){
          width: 350px;
        }
      }

      .watch-video {

        a{
          color: white;
        }

        p{
          color: #05c0a5;
          display: inline-block;
          font-size: 15px;
          
          i{
            padding: 3px 7px 4px 9px;
            border-radius: 150px;
            background-color: #05c0a5;
            color: white;
            text-align: center;
            margin-left: 6px;
            font-size: 14px;
            vertical-align: middle;
          }
        }
      }
    }
    .image-content{
      position: relative;
      height: 515px;
      @media all and (max-width: $mobile-width){
        height: 715px;
      }

      .spaceman{
        @media all and (max-width: $tablet-width){
          height: 200px;

        }
        position: absolute;
        //bottom: 30px;
        //left: 0px;
        height: 220px;
        z-index: 1;

        animation-name: spaceman-fly;
        animation-duration: 22s;
        animation-iteration-count: infinite;

        @keyframes spaceman-fly {
          0%   {bottom: 89px; right: 75%;}
          25%  {bottom: 60px; right: 70%;}
          50%  {bottom: 80px;}
          75% {bottom: 40px;}
          100% {bottom: 89px; right: 75%;}
        }

        @media all and (max-width: $tablet-width){
          @keyframes spaceman-fly {
            0%   {bottom: 109px; right: 43%;}
            25%  {bottom: 80px; right: 40%;}
            50%  {bottom: 100px;}
            75% {bottom: 60px;}
            100% {bottom: 109px; right: 43%;}
          }
        }

      }
      .mew-icon{
        @media all and (max-width: $tablet-width){
          height: 200px;
          top: 170px;
        }
        z-index: 1;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 300px;
        //box-shadow: 0 0 130px rgba(255, 255, 255, 0.5);
        //border-radius: 999px;
      }

    }
  }
}//. top-section


.wrap{
  .bottom-section{
    background-color: #f9f9f9;
    padding: 85px 0;

    .mew-features{
      grid-column-gap: 130px;
      grid-row-gap: 90px;

      @media all and (max-width: $tablet-width){
        grid-template-columns: 1fr;
        grid-row-gap: 70px;
      }

      .content{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;

        @media all and (max-width: $mobile-width){
          flex-direction: column;
          .image{
            margin: 0 auto;
            margin-bottom: 20px;
            img{
              height: 80px;
              width: auto;
            }
          }
          .text{
            text-align: center;
          }
        }

        .image{
          padding-right: 30px;
          @media all and (max-width: $mobile-width){
            padding-right: 0px;
          }
          img{
            width: 80px;
            height: auto;
          }
        }
        .text{
          h3{
            margin-bottom: 10px;
          }
          p{

          }
        }
      }
    }

  }// .bottom-section
}// .wrap
