@import '~@/scss/GlobalVariables';


// *********************************************************************
// .wrap
// *********************************************************************
.wrap {
  margin: 0;
  padding: 0;
}


// *********************************************************************
// .dropdown-button
// *********************************************************************
.dropdown-button {
  padding: 17px 20px;
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;

  p {
    font-size: 14px;
  }

  i {
    margin-left: auto;
  }
}



