@import '~@/scss/GlobalVariables';

.select-contract .dropdown-toggle {
  border: 0;
  display: none;
}

.v-select {
  //min-width: 300px;
}

.wrap {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 270px 1fr;

  .side-nav {
    // background-color: yellow;
  }

  .contents {
    background-color: $background-color-1;
    padding: 40px 60px;

    .tx-contents {
      display: grid;
      grid-gap: 15px;
      grid-template-areas: 'info-1 info-2 info-3' 'main main tokens';
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;

      .main-content {
        border-radius: 5px;
        grid-area: main;
        overflow: hidden;

        >div {
          background-color: $background-color-white;
        }

        .content-title {
          align-items: center;
          background-color: $background-color-white;
          border-bottom: 2px solid $background-color-1;
          display: flex;
          padding: 20px 0;

          i {
            color: $text-black;
            font-size: 30px;
            margin-right: 10px;
          }

          p {
            color: $text-black;
            font-weight: 500;
          }

          h2 {
            border-left: 5px solid $background-color-2;
            font-size: 24px;
            font-weight: 500;
            line-height: 37px;
            margin: 0;
            padding: 0;
            padding-left: 27px;
          }

          img {
            height: 40px;
            margin-left: auto;
            margin-right: 30px;
          }
        }

        .send-form {
          padding: 40px 60px 0;

          .title-container {
            align-items: flex-end;
            display: flex;
            margin-bottom: 5px;

            .title {
              align-items: flex-end;
              display: flex;
              margin-bottom: 10px;
              padding: 0 8px;
              width: 100%;

              .select-contract {
                margin-left: auto;
              }

              .copy-buttons {
                color: $text-color-3;
                margin-left: auto;

                span {
                  margin-left: 20px;
                }
              }
            }

            .search-block {
              margin-left: auto;
            }

            .buttons {
              margin-bottom: 3px;
              margin-left: auto;
            }
          }

          .form-block {
            border-radius: 5px;

            .the-form {
              background-color: $background-color-1;
              border-radius: 5px;
            }
          }

          .contract-address {
            display: grid;
            grid-template-columns: 70% 30%;
            position: relative;

            .address {

              p {
                border-bottom: 2px solid $border-color-5;
                overflow: hidden;
                padding: 10px 5px;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }

            .select-contract {
              padding-left: 5px;

              .dropdown-toggle{
                padding: 10px 5px !important;
              }
            }
          }

          .unit {
            position: relative;

            input {
              background-color: $background-color-1;
              border: 0;
              padding: 13px 15px;
              padding-right: 150px;
              width: 100%;
            }

            .input-overlay {
              align-items: center;
              color: $text-color-3;
              display: flex;
              position: absolute;
              right: 15px;
              top: 13px;

              i {
                margin-left: 10px;
              }
            }
          }
        } // .send-form

        .submit-button-container {
          padding: 40px 60px;

          .bottom-text {
            margin-top: 20px;
            text-align: center;
          }

          .buttons {
            display: flex;
            justify-content: center;

            .submit-button {
              margin: 0 5px;
              text-align: center;
              width: 300px;
            }

          }

        } // .submit-button-container
      }

    }
  }
}
