@import '~@/scss/GlobalVariables';

.extension-header-container {
  align-items: center;
  box-shadow: 0 2px 13px $tiny-header-shadow-color;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .brand-container {
    align-items: center;
    display: flex;

    .brand-border {
      border-left: 1px solid $mew-green;
      display: inline-block;
      height: 20px;
      margin: 0 20px;
    }

    span {
      color: $mew-green;
    }
  }

  .extension-links {
    .nav-item {
      a {
        color: $dark-blue-1 !important;
      }
    }
  }
}
