@import '../InterfaceContainer.scss';

$collepse-width: 1300px;

.crypto-kitties-manager {
  @extend %interface-container;
}

.content-container {
  padding: 40px;
  @media all and (max-width: 700px) {
    padding: 10px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 20px;
  @media all and (max-width: $collepse-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.kitty {
  text-align: center;
  cursor: pointer;
  .kitty-img {
    img {
      width: 75%;
    }
  }

  p {
    margin-top: 10px;
  }
}

// Colors
$color-white: #fff;

// Green Filled Button Colors
$green-filled-button-background: #3bc1aa;
$green-filled-button-background--hover: #3ed7bc;
$green-filled-button-background--click: #269983;

// Green Bordered Button Colors
$green-border-button-border: #33c2a7;
$green-border-button-border--hover: #55f0d6;
$green-border-button-border--click: #56b7a9;
$green-border-button-background--click: #f3fafa;

@import '~@/scss/GlobalVariables';

button {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  display: block;
  width: 100%;
}

button[disabled] {
  background-color: gray !important;
  border-color: gray !important;
  cursor: default !important;
}

@mixin btn-mixin-1() {
  text-align: center;
  user-select: none;
}

.internal-nav-container {
  grid-column: span 3;
  text-align: center;
  //width: 300px;

  .internal-nav {
    cursor: pointer;
    //width: 50px;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    &.prev {
      border: 1px solid black;
      margin-right: 50px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &.next {
      border: 1px solid black;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      margin-left: 50px;
    }
  }
}

.placeholder {
  margin: 0 auto;
  max-width: 200px;
  min-height: 100px;
  background-color: #eee;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #eee 10%, #ddd 18%, #eee 33%);
  background-size: 800px 104px;
  height: 100px;
  position: relative;
}
