@import '../InterfaceContainer';
@media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
  .dapps-container {
    border-radius: 5px;
    grid-area: main;
    overflow: hidden;

    > div {
      background: $background-color-white;
    }

    .buttons-container {
      display: grid;
      grid-column-gap: 20px;
      grid-row-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 40px 60px;
      padding-bottom: 400px;
      @media all and (max-width: 760px) {
        grid-template-columns: 1fr 1fr;
      }

      @media all and (max-width: 500px) {
        grid-template-columns: 1fr;
      }
    }
  }
} // @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width)
