@import '../InterfaceContainer';

$dapps-container-mobile-width: 650px;

.dapps-container {
  @extend %interface-container;

  min-height: 550px;
}

.buttons-container {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px;

  @media all and (max-width: $dapps-container-mobile-width) {
    > * {
      margin-bottom: 10px;
    }
  }

  > *:last-child {
    margin-bottom: 0;
  }

  // Tablet
  @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
    padding: 20px;
  }

  @media all and (max-width: $dapps-container-mobile-width) {
    display: block;
    padding: 10px;
  }
}
