@import '../InterfaceContainer';

.dapps-container {
  @extend %interface-container;

  .buttons-container {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 40px 60px;
    padding-bottom: 400px;

    @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
      grid-template-columns: 1fr 1fr;
    }

    @media all and (max-width: 600px) {
      display: block;
      padding: 15px;

      a {
        margin-bottom: 10px;
        display: block;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
