@font-face {
  font-family: 'cryptocoins';
  src: url('cryptocoins.eot?t=1540580218854'); /* IE9*/
  src: url('cryptocoins.eot?t=1540580218854#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('cryptocoins.woff2?t=1540580218854') format('woff2'),
    url('cryptocoins.woff?t=1540580218854') format('woff'),
    url('cryptocoins.ttf?t=1540580218854') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url('cryptocoins.svg?t=1540580218854#cryptocoins') format('svg'); /* iOS 4.1- */
}

[class^='cc-'],
[class*=' cc-'] {
  font-family: 'cryptocoins' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global {
  .cc-1ST:before {
    content: '\ea01';
  }
  .cc-ABYSS:before {
    content: '\ea02';
  }
  .cc-ADA-alt:before {
    content: '\ea03';
  }
  .cc-ADA:before {
    content: '\ea04';
  }
  .cc-ADC-alt:before {
    content: '\ea05';
  }
  .cc-ADC:before {
    content: '\ea06';
  }
  .cc-ADX:before {
    content: '\ea07';
  }
  .cc-AE:before {
    content: '\ea08';
  }
  .cc-AEON-alt:before {
    content: '\ea09';
  }
  .cc-AEON:before {
    content: '\ea0a';
  }
  .cc-AION:before {
    content: '\ea0b';
  }
  .cc-AMP-alt:before {
    content: '\ea0c';
  }
  .cc-AMP:before {
    content: '\ea0d';
  }
  .cc-ANC-alt:before {
    content: '\ea0e';
  }
  .cc-ANC:before {
    content: '\ea0f';
  }
  .cc-ANT:before {
    content: '\ea10';
  }
  .cc-ARCH-alt:before {
    content: '\ea11';
  }
  .cc-ARCH:before {
    content: '\ea12';
  }
  .cc-ARDR-alt:before {
    content: '\ea13';
  }
  .cc-ARDR:before {
    content: '\ea14';
  }
  .cc-ARK-alt:before {
    content: '\ea15';
  }
  .cc-ARK:before {
    content: '\ea16';
  }
  .cc-ARN:before {
    content: '\ea17';
  }
  .cc-AST:before {
    content: '\ea18';
  }
  .cc-ATL:before {
    content: '\ea19';
  }
  .cc-AUR-alt:before {
    content: '\ea1a';
  }
  .cc-AUR:before {
    content: '\ea1b';
  }
  .cc-BANX-alt:before {
    content: '\ea1c';
  }
  .cc-BANX:before {
    content: '\ea1d';
  }
  .cc-BAT-alt:before {
    content: '\ea1e';
  }
  .cc-BAT:before {
    content: '\ea1f';
  }
  .cc-BAY-alt:before {
    content: '\ea20';
  }
  .cc-BAY:before {
    content: '\ea21';
  }
  .cc-BC-alt:before {
    content: '\ea22';
  }
  .cc-BC:before {
    content: '\ea23';
  }
  .cc-BCD:before {
    content: '\ea24';
  }
  .cc-BCH-alt:before {
    content: '\ea25';
  }
  .cc-BCH:before {
    content: '\ea26';
  }
  .cc-BCN-alt:before {
    content: '\ea27';
  }
  .cc-BCN:before {
    content: '\ea28';
  }
  .cc-BCY:before {
    content: '\ea29';
  }
  .cc-BELA:before {
    content: '\ea2a';
  }
  .cc-BETR:before {
    content: '\ea2b';
  }
  .cc-BFT-alt:before {
    content: '\ea2c';
  }
  .cc-BFT:before {
    content: '\ea2d';
  }
  .cc-BKX:before {
    content: '\ea2e';
  }
  .cc-BLZ:before {
    content: '\ea2f';
  }
  .cc-BNB:before {
    content: '\ea30';
  }
  .cc-BNT:before {
    content: '\ea31';
  }
  .cc-BRD:before {
    content: '\ea32';
  }
  .cc-BRK-alt:before {
    content: '\ea33';
  }
  .cc-BRK:before {
    content: '\ea34';
  }
  .cc-BRX-alt:before {
    content: '\ea35';
  }
  .cc-BRX:before {
    content: '\ea36';
  }
  .cc-BSD-alt:before {
    content: '\ea37';
  }
  .cc-BSD:before {
    content: '\ea38';
  }
  .cc-BTA:before {
    content: '\ea39';
  }
  .cc-BTC-alt:before {
    content: '\ea3a';
  }
  .cc-BTC:before {
    content: '\ea3b';
  }
  .cc-BTCD-alt:before {
    content: '\ea3c';
  }
  .cc-BTCD:before {
    content: '\ea3d';
  }
  .cc-BTCP-alt:before {
    content: '\ea3e';
  }
  .cc-BTCP:before {
    content: '\ea3f';
  }
  .cc-BTG:before {
    content: '\ea40';
  }
  .cc-BTM-alt:before {
    content: '\ea41';
  }
  .cc-BTM:before {
    content: '\ea42';
  }
  .cc-BTS-alt:before {
    content: '\ea43';
  }
  .cc-BTS:before {
    content: '\ea44';
  }
  .cc-BURST:before {
    content: '\ea45';
  }
  .cc-CFI:before {
    content: '\ea46';
  }
  .cc-CL:before {
    content: '\ea47';
  }
  .cc-CLAM-alt:before {
    content: '\ea48';
  }
  .cc-CLAM:before {
    content: '\ea49';
  }
  .cc-CLOAK-alt:before {
    content: '\ea4a';
  }
  .cc-CLOAK:before {
    content: '\ea4b';
  }
  .cc-CMT:before {
    content: '\ea4c';
  }
  .cc-CTR:before {
    content: '\ea4d';
  }
  .cc-CVC-alt:before {
    content: '\ea4e';
  }
  .cc-CVC:before {
    content: '\ea4f';
  }
  .cc-DAI:before {
    content: '\ea50';
  }
  .cc-DAO-alt:before {
    content: '\ea51';
  }
  .cc-DAO:before {
    content: '\ea52';
  }
  .cc-DAR:before {
    content: '\ea53';
  }
  .cc-DASH-alt:before {
    content: '\ea54';
  }
  .cc-DASH:before {
    content: '\ea55';
  }
  .cc-DCN:before {
    content: '\ea56';
  }
  .cc-DCR-alt:before {
    content: '\ea57';
  }
  .cc-DCR:before {
    content: '\ea58';
  }
  .cc-DCT-alt:before {
    content: '\ea59';
  }
  .cc-DCT:before {
    content: '\ea5a';
  }
  .cc-DENT:before {
    content: '\ea5b';
  }
  .cc-DGB-alt:before {
    content: '\ea5c';
  }
  .cc-DGB:before {
    content: '\ea5d';
  }
  .cc-DGD:before {
    content: '\ea5e';
  }
  .cc-DGX:before {
    content: '\ea5f';
  }
  .cc-DMD-alt:before {
    content: '\ea60';
  }
  .cc-DMD:before {
    content: '\ea61';
  }
  .cc-DNT:before {
    content: '\ea62';
  }
  .cc-DOGE-alt:before {
    content: '\ea63';
  }
  .cc-DOGE:before {
    content: '\ea64';
  }
  .cc-DSH:before {
    content: '\ea65';
  }
  .cc-EDG:before {
    content: '\ea66';
  }
  .cc-ELF:before {
    content: '\ea67';
  }
  .cc-EMC-alt:before {
    content: '\ea68';
  }
  .cc-EMC:before {
    content: '\ea69';
  }
  .cc-EMC2-alt:before {
    content: '\ea6a';
  }
  .cc-EMC2:before {
    content: '\ea6b';
  }
  .cc-ENJ:before {
    content: '\ea6c';
  }
  .cc-EOS-alt:before {
    content: '\ea6d';
  }
  .cc-EOS:before {
    content: '\ea6e';
  }
  .cc-ERC-alt:before {
    content: '\ea6f';
  }
  .cc-ERC:before {
    content: '\ea70';
  }
  .cc-ETC-alt:before {
    content: '\ea71';
  }
  .cc-ETC:before {
    content: '\ea72';
  }
  .cc-ETH-alt:before {
    content: '\ea73';
  }
  .cc-ETH:before {
    content: '\ea74';
  }
  .cc-EURS:before {
    content: '\ea75';
  }
  .cc-EXP-alt:before {
    content: '\ea76';
  }
  .cc-EXP:before {
    content: '\ea77';
  }
  .cc-FC2-alt:before {
    content: '\ea78';
  }
  .cc-FC2:before {
    content: '\ea79';
  }
  .cc-FCN:before {
    content: '\ea7a';
  }
  .cc-FCT-alt:before {
    content: '\ea7b';
  }
  .cc-FCT:before {
    content: '\ea7c';
  }
  .cc-FLDC-alt:before {
    content: '\ea7d';
  }
  .cc-FLDC:before {
    content: '\ea7e';
  }
  .cc-FLO-alt:before {
    content: '\ea7f';
  }
  .cc-FLO:before {
    content: '\ea80';
  }
  .cc-FRK-alt:before {
    content: '\ea81';
  }
  .cc-FRK:before {
    content: '\ea82';
  }
  .cc-FTC-alt:before {
    content: '\ea83';
  }
  .cc-FTC:before {
    content: '\ea84';
  }
  .cc-FUN:before {
    content: '\ea85';
  }
  .cc-GAME-alt:before {
    content: '\ea86';
  }
  .cc-GAME:before {
    content: '\ea87';
  }
  .cc-GBG:before {
    content: '\ea88';
  }
  .cc-GBYTE-alt:before {
    content: '\ea89';
  }
  .cc-GBYTE:before {
    content: '\ea8a';
  }
  .cc-GDC-alt:before {
    content: '\ea8b';
  }
  .cc-GDC:before {
    content: '\ea8c';
  }
  .cc-GEMZ-alt:before {
    content: '\ea8d';
  }
  .cc-GEMZ:before {
    content: '\ea8e';
  }
  .cc-GLD-alt:before {
    content: '\ea8f';
  }
  .cc-GLD:before {
    content: '\ea90';
  }
  .cc-GNO-alt:before {
    content: '\ea91';
  }
  .cc-GNO:before {
    content: '\ea92';
  }
  .cc-GNT-alt:before {
    content: '\ea93';
  }
  .cc-GNT:before {
    content: '\ea94';
  }
  .cc-GOLOS-alt:before {
    content: '\ea95';
  }
  .cc-GOLOS:before {
    content: '\ea96';
  }
  .cc-GRC-alt:before {
    content: '\ea97';
  }
  .cc-GRC:before {
    content: '\ea98';
  }
  .cc-GRS:before {
    content: '\ea99';
  }
  .cc-GUP:before {
    content: '\ea9a';
  }
  .cc-GUSD:before {
    content: '\ea9b';
  }
  .cc-HEAT-alt:before {
    content: '\ea9c';
  }
  .cc-HEAT:before {
    content: '\ea9d';
  }
  .cc-HMQ:before {
    content: '\ea9e';
  }
  .cc-HSR:before {
    content: '\ea9f';
  }
  .cc-HUC-alt:before {
    content: '\eaa0';
  }
  .cc-HUC:before {
    content: '\eaa1';
  }
  .cc-ICN-alt:before {
    content: '\eaa2';
  }
  .cc-ICN:before {
    content: '\eaa3';
  }
  .cc-ICX:before {
    content: '\eaa4';
  }
  .cc-IFC-alt:before {
    content: '\eaa5';
  }
  .cc-IFC:before {
    content: '\eaa6';
  }
  .cc-IGNIS:before {
    content: '\eaa7';
  }
  .cc-INCNT-alt:before {
    content: '\eaa8';
  }
  .cc-INCNT:before {
    content: '\eaa9';
  }
  .cc-IOC-alt:before {
    content: '\eaaa';
  }
  .cc-IOC:before {
    content: '\eaab';
  }
  .cc-IOST:before {
    content: '\eaac';
  }
  .cc-IOTA-alt:before {
    content: '\eaad';
  }
  .cc-IOTA:before {
    content: '\eaae';
  }
  .cc-JBS-alt:before {
    content: '\eaaf';
  }
  .cc-JBS:before {
    content: '\eab0';
  }
  .cc-KIN:before {
    content: '\eab1';
  }
  .cc-KMD-alt:before {
    content: '\eab2';
  }
  .cc-KMD:before {
    content: '\eab3';
  }
  .cc-KNC:before {
    content: '\eab4';
  }
  .cc-KOBO:before {
    content: '\eab5';
  }
  .cc-KORE-alt:before {
    content: '\eab6';
  }
  .cc-KORE:before {
    content: '\eab7';
  }
  .cc-LBC-alt:before {
    content: '\eab8';
  }
  .cc-LBC:before {
    content: '\eab9';
  }
  .cc-LDOGE-alt:before {
    content: '\eaba';
  }
  .cc-LDOGE:before {
    content: '\eabb';
  }
  .cc-LINK:before {
    content: '\eabc';
  }
  .cc-LRC:before {
    content: '\eabd';
  }
  .cc-LSK-alt:before {
    content: '\eabe';
  }
  .cc-LSK:before {
    content: '\eabf';
  }
  .cc-LTC-alt:before {
    content: '\eac0';
  }
  .cc-LTC:before {
    content: '\eac1';
  }
  .cc-LUN:before {
    content: '\eac2';
  }
  .cc-MAID-alt:before {
    content: '\eac3';
  }
  .cc-MAID:before {
    content: '\eac4';
  }
  .cc-MARKS-alt:before {
    content: '\eac5';
  }
  .cc-MARKS:before {
    content: '\eac6';
  }
  .cc-MCO-alt:before {
    content: '\eac7';
  }
  .cc-MCO:before {
    content: '\eac8';
  }
  .cc-MINT-alt:before {
    content: '\eac9';
  }
  .cc-MINT:before {
    content: '\eaca';
  }
  .cc-MITH:before {
    content: '\eacb';
  }
  .cc-MKR:before {
    content: '\eacc';
  }
  .cc-MLN:before {
    content: '\eacd';
  }
  .cc-MONA-alt:before {
    content: '\eace';
  }
  .cc-MONA:before {
    content: '\eacf';
  }
  .cc-MRC:before {
    content: '\ead0';
  }
  .cc-MSC-alt:before {
    content: '\ead1';
  }
  .cc-MSC:before {
    content: '\ead2';
  }
  .cc-MTL-alt:before {
    content: '\ead3';
  }
  .cc-MTL:before {
    content: '\ead4';
  }
  .cc-MTR-alt:before {
    content: '\ead5';
  }
  .cc-MTR:before {
    content: '\ead6';
  }
  .cc-MUE-alt:before {
    content: '\ead7';
  }
  .cc-MUE:before {
    content: '\ead8';
  }
  .cc-MYST-alt:before {
    content: '\ead9';
  }
  .cc-MYST:before {
    content: '\eada';
  }
  .cc-NAV-alt:before {
    content: '\eadb';
  }
  .cc-NAV:before {
    content: '\eadc';
  }
  .cc-NBT:before {
    content: '\eadd';
  }
  .cc-NEO-alt:before {
    content: '\eade';
  }
  .cc-NEO:before {
    content: '\eadf';
  }
  .cc-NEOS-alt:before {
    content: '\eae0';
  }
  .cc-NEOS:before {
    content: '\eae1';
  }
  .cc-NEU-alt:before {
    content: '\eae2';
  }
  .cc-NEU:before {
    content: '\eae3';
  }
  .cc-NEXO:before {
    content: '\eae4';
  }
  .cc-NGC:before {
    content: '\eae5';
  }
  .cc-NLG-alt:before {
    content: '\eae6';
  }
  .cc-NLG:before {
    content: '\eae7';
  }
  .cc-NMC-alt:before {
    content: '\eae8';
  }
  .cc-NMC:before {
    content: '\eae9';
  }
  .cc-NMR:before {
    content: '\eaea';
  }
  .cc-NOAH:before {
    content: '\eaeb';
  }
  .cc-NOTE-alt:before {
    content: '\eaec';
  }
  .cc-NOTE:before {
    content: '\eaed';
  }
  .cc-NVC-alt:before {
    content: '\eaee';
  }
  .cc-NVC:before {
    content: '\eaef';
  }
  .cc-NXT-alt:before {
    content: '\eaf0';
  }
  .cc-NXT:before {
    content: '\eaf1';
  }
  .cc-OK-alt:before {
    content: '\eaf2';
  }
  .cc-OK:before {
    content: '\eaf3';
  }
  .cc-OMG-alt:before {
    content: '\eaf4';
  }
  .cc-OMG:before {
    content: '\eaf5';
  }
  .cc-OMNI-alt:before {
    content: '\eaf6';
  }
  .cc-OMNI:before {
    content: '\eaf7';
  }
  .cc-ONT:before {
    content: '\eaf8';
  }
  .cc-OPAL-alt:before {
    content: '\eaf9';
  }
  .cc-OPAL:before {
    content: '\eafa';
  }
  .cc-PART-alt:before {
    content: '\eafb';
  }
  .cc-PART:before {
    content: '\eafc';
  }
  .cc-PASC:before {
    content: '\eafd';
  }
  .cc-PAT:before {
    content: '\eafe';
  }
  .cc-PAY:before {
    content: '\eaff';
  }
  .cc-PIGGY-alt:before {
    content: '\eb00';
  }
  .cc-PIGGY:before {
    content: '\eb01';
  }
  .cc-PINK-alt:before {
    content: '\eb02';
  }
  .cc-PINK:before {
    content: '\eb03';
  }
  .cc-PIVX-alt:before {
    content: '\eb04';
  }
  .cc-PIVX:before {
    content: '\eb05';
  }
  .cc-POLY:before {
    content: '\eb06';
  }
  .cc-POT-alt:before {
    content: '\eb07';
  }
  .cc-POT:before {
    content: '\eb08';
  }
  .cc-POWR:before {
    content: '\eb09';
  }
  .cc-PPC-alt:before {
    content: '\eb0a';
  }
  .cc-PPC:before {
    content: '\eb0b';
  }
  .cc-PPT:before {
    content: '\eb0c';
  }
  .cc-PROC:before {
    content: '\eb0d';
  }
  .cc-PTOY:before {
    content: '\eb0e';
  }
  .cc-QCN:before {
    content: '\eb0f';
  }
  .cc-QRK-alt:before {
    content: '\eb10';
  }
  .cc-QRK:before {
    content: '\eb11';
  }
  .cc-QTUM-alt:before {
    content: '\eb12';
  }
  .cc-QTUM:before {
    content: '\eb13';
  }
  .cc-R:before {
    content: '\eb14';
  }
  .cc-RADS-alt:before {
    content: '\eb15';
  }
  .cc-RADS:before {
    content: '\eb16';
  }
  .cc-RBIES-alt:before {
    content: '\eb17';
  }
  .cc-RBIES:before {
    content: '\eb18';
  }
  .cc-RBT-alt:before {
    content: '\eb19';
  }
  .cc-RBT:before {
    content: '\eb1a';
  }
  .cc-RBY-alt:before {
    content: '\eb1b';
  }
  .cc-RBY:before {
    content: '\eb1c';
  }
  .cc-RCN:before {
    content: '\eb1d';
  }
  .cc-RDD-alt:before {
    content: '\eb1e';
  }
  .cc-RDD:before {
    content: '\eb1f';
  }
  .cc-REP-alt:before {
    content: '\eb20';
  }
  .cc-REP:before {
    content: '\eb21';
  }
  .cc-RHOC:before {
    content: '\eb22';
  }
  .cc-RIC-alt:before {
    content: '\eb23';
  }
  .cc-RIC:before {
    content: '\eb24';
  }
  .cc-RISE-alt:before {
    content: '\eb25';
  }
  .cc-RISE:before {
    content: '\eb26';
  }
  .cc-RLC:before {
    content: '\eb27';
  }
  .cc-SALT-alt:before {
    content: '\eb28';
  }
  .cc-SALT:before {
    content: '\eb29';
  }
  .cc-SAR-alt:before {
    content: '\eb2a';
  }
  .cc-SAR:before {
    content: '\eb2b';
  }
  .cc-SBD:before {
    content: '\eb2c';
  }
  .cc-SCOT-alt:before {
    content: '\eb2d';
  }
  .cc-SCOT:before {
    content: '\eb2e';
  }
  .cc-SDC-alt:before {
    content: '\eb2f';
  }
  .cc-SDC:before {
    content: '\eb30';
  }
  .cc-SIA-alt:before {
    content: '\eb31';
  }
  .cc-SIA:before {
    content: '\eb32';
  }
  .cc-SJCX-alt:before {
    content: '\eb33';
  }
  .cc-SJCX:before {
    content: '\eb34';
  }
  .cc-SKIN:before {
    content: '\eb35';
  }
  .cc-SLG-alt:before {
    content: '\eb36';
  }
  .cc-SLG:before {
    content: '\eb37';
  }
  .cc-SLS-alt:before {
    content: '\eb38';
  }
  .cc-SLS:before {
    content: '\eb39';
  }
  .cc-SMART:before {
    content: '\eb3a';
  }
  .cc-SNGLS:before {
    content: '\eb3b';
  }
  .cc-SNM:before {
    content: '\eb3c';
  }
  .cc-SNRG-alt:before {
    content: '\eb3d';
  }
  .cc-SNRG:before {
    content: '\eb3e';
  }
  .cc-SNT:before {
    content: '\eb3f';
  }
  .cc-START-alt:before {
    content: '\eb40';
  }
  .cc-START:before {
    content: '\eb41';
  }
  .cc-STEEM-alt:before {
    content: '\eb42';
  }
  .cc-STEEM:before {
    content: '\eb43';
  }
  .cc-STORJ:before {
    content: '\eb44';
  }
  .cc-STRAT-alt:before {
    content: '\eb45';
  }
  .cc-STRAT:before {
    content: '\eb46';
  }
  .cc-STX:before {
    content: '\eb47';
  }
  .cc-SWIFT-alt:before {
    content: '\eb48';
  }
  .cc-SWIFT:before {
    content: '\eb49';
  }
  .cc-SWT:before {
    content: '\eb4a';
  }
  .cc-SYNC-alt:before {
    content: '\eb4b';
  }
  .cc-SYNC:before {
    content: '\eb4c';
  }
  .cc-SYS-alt:before {
    content: '\eb4d';
  }
  .cc-SYS:before {
    content: '\eb4e';
  }
  .cc-TEL:before {
    content: '\eb4f';
  }
  .cc-TIME:before {
    content: '\eb50';
  }
  .cc-TKN:before {
    content: '\eb51';
  }
  .cc-TRIG-alt:before {
    content: '\eb52';
  }
  .cc-TRIG:before {
    content: '\eb53';
  }
  .cc-TRST:before {
    content: '\eb54';
  }
  .cc-TRX:before {
    content: '\eb55';
  }
  .cc-TUSD:before {
    content: '\eb56';
  }
  .cc-TX-alt:before {
    content: '\eb57';
  }
  .cc-TX:before {
    content: '\eb58';
  }
  .cc-UBQ-alt:before {
    content: '\eb59';
  }
  .cc-UBQ:before {
    content: '\eb5a';
  }
  .cc-UNITY-alt:before {
    content: '\eb5b';
  }
  .cc-UNITY:before {
    content: '\eb5c';
  }
  .cc-USDC:before {
    content: '\eb5d';
  }
  .cc-USDT-alt:before {
    content: '\eb5e';
  }
  .cc-USDT:before {
    content: '\eb5f';
  }
  .cc-USNBT:before {
    content: '\eb60';
  }
  .cc-VEN:before {
    content: '\eb61';
  }
  .cc-VIA-alt:before {
    content: '\eb62';
  }
  .cc-VIA:before {
    content: '\eb63';
  }
  .cc-VIB:before {
    content: '\eb64';
  }
  .cc-VIOR-alt:before {
    content: '\eb65';
  }
  .cc-VIOR:before {
    content: '\eb66';
  }
  .cc-VNL-alt:before {
    content: '\eb67';
  }
  .cc-VNL:before {
    content: '\eb68';
  }
  .cc-VPN-alt:before {
    content: '\eb69';
  }
  .cc-VPN:before {
    content: '\eb6a';
  }
  .cc-VRC-alt:before {
    content: '\eb6b';
  }
  .cc-VRC:before {
    content: '\eb6c';
  }
  .cc-VTC-alt:before {
    content: '\eb6d';
  }
  .cc-VTC:before {
    content: '\eb6e';
  }
  .cc-WAVES-alt:before {
    content: '\eb6f';
  }
  .cc-WAVES:before {
    content: '\eb70';
  }
  .cc-WAX:before {
    content: '\eb71';
  }
  .cc-WINGS:before {
    content: '\eb72';
  }
  .cc-WTC:before {
    content: '\eb73';
  }
  .cc-XAI-alt:before {
    content: '\eb74';
  }
  .cc-XAI:before {
    content: '\eb75';
  }
  .cc-XAUR:before {
    content: '\eb76';
  }
  .cc-XBC:before {
    content: '\eb77';
  }
  .cc-XBS-alt:before {
    content: '\eb78';
  }
  .cc-XBS:before {
    content: '\eb79';
  }
  .cc-XCP-alt:before {
    content: '\eb7a';
  }
  .cc-XCP:before {
    content: '\eb7b';
  }
  .cc-XDN:before {
    content: '\eb7c';
  }
  .cc-XEM-alt:before {
    content: '\eb7d';
  }
  .cc-XEM:before {
    content: '\eb7e';
  }
  .cc-XLM-alt:before {
    content: '\eb7f';
  }
  .cc-XLM:before {
    content: '\eb80';
  }
  .cc-XMO:before {
    content: '\eb81';
  }
  .cc-XMR:before {
    content: '\eb82';
  }
  .cc-XMY:before {
    content: '\eb83';
  }
  .cc-XPM-alt:before {
    content: '\eb84';
  }
  .cc-XPM:before {
    content: '\eb85';
  }
  .cc-XRP-alt:before {
    content: '\eb86';
  }
  .cc-XRP:before {
    content: '\eb87';
  }
  .cc-XTZ-alt:before {
    content: '\eb88';
  }
  .cc-XTZ:before {
    content: '\eb89';
  }
  .cc-XVC-alt:before {
    content: '\eb8a';
  }
  .cc-XVC:before {
    content: '\eb8b';
  }
  .cc-XVG-alt:before {
    content: '\eb8c';
  }
  .cc-XVG:before {
    content: '\eb8d';
  }
  .cc-XZC-alt:before {
    content: '\eb8e';
  }
  .cc-XZC:before {
    content: '\eb8f';
  }
  .cc-YBC-alt:before {
    content: '\eb90';
  }
  .cc-YBC:before {
    content: '\eb91';
  }
  .cc-ZAP:before {
    content: '\eb92';
  }
  .cc-ZCL:before {
    content: '\eb93';
  }
  .cc-ZEC-alt:before {
    content: '\eb94';
  }
  .cc-ZEC:before {
    content: '\eb95';
  }
  .cc-ZEIT-alt:before {
    content: '\eb96';
  }
  .cc-ZEIT:before {
    content: '\eb97';
  }
  .cc-ZEN:before {
    content: '\eb98';
  }
  .cc-ZIL:before {
    content: '\eb99';
  }
  .cc-ZRX-alt:before {
    content: '\eb9a';
  }
  .cc-ZRX:before {
    content: '\eb9b';
  }
}
