@import '~@/scss/GlobalVariables';

.modal-content-container {
  //Empty
}

.tx-amount {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin-top: 20px;
    height: 22px;
  }
}

.amount-block {
  display: flex;
  align-items: center;
  background-color: $light-green-1;
  padding: 20px;

  .amount {
    font-size: 20px;
    font-weight: 500;
    color: $dark-blue-6;
    span {
      color: $dark-grey-2;
      font-size: 20px;
      margin-left: 10px;
    }
  }

  .icon {
    margin-right: 15px;
  }
}

.detail-info {
  margin-top: 30px;
  ul {
    padding: 0 10px;
    li {
      padding: 5px 0;
      display: flex;
      align-items: center;

      p:nth-child(2){
        margin-left: auto;
      }
      .bold {
        font-weight: 600;
      }
    }
  }
}
