@import '~@/scss/GlobalVariables';

$this-page-mobile-width: 700px;

.modal-content-container {
  //Empty
}

.tx-amount {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  @media all and (max-width: $this-page-mobile-width) {
    display: block;
  }
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin-top: 30px;
    height: 20px;
  }
  @media all and (max-width: $this-page-mobile-width) {
    padding: 10px 0;
    img {
      transform: rotate(90deg);
    }
  }  
}

.amount-block {
  display: flex;
  align-items: center;
  background-color: $light-green-1;
  padding: 20px;

  .amount {
    font-size: 20px;
    font-weight: 500;
    color: $dark-blue-6;
    span {
      color: $dark-grey-2;
      font-size: 20px;
      margin-left: 10px;
    }
  }

  .icon {
    margin-right: 15px;
  }
}

.detail-info {
  margin-top: 30px;
  ul {
    padding: 0 10px;
    li {
      padding: 10px 0;
      display: flex;
      align-items: flex-start;

      p:nth-child(2) {
        margin-left: auto;
        text-align: right;
        min-width: 120px;
      }
      .bold {
        font-weight: 600;
      }
    }
  }
}

.button-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}




