@import '~@/scss/GlobalVariables';
@import '~@/layouts/ExtensionBrowserAction/wrappers/MewcxModalWrapper/MewcxModalInputs';
.wallet-verification-container {
  display: flex;
  padding: 20px;
  background-color: $light-green-1;
  border-radius: 5px;
  word-break: break-all;

  .wallet-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
  }

  .balance-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    .total-text {
      color: $light-blue-3;
      font-weight: bold;
      word-break: break-word;
    }

    .total-balance {
      color: $dark-blue-2;
      font-weight: bold;
      font-size: 16px;
    }

    .eth-balance {
      color: $light-blue-3;
      font-weight: lighter;
    }
  }
}


@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(3000px);
  }
  60% {
    opacity: 1;
    transform: translateX(500px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-from-right-enter,
.slide-from-right-leave-to {
  opacity: 0;
}

// .slide-from-right-enter-active,
// .slide-from-right-leave-active {
//   opacity: 1;
//   transition: ;
// }

.slide-from-right-enter-active {
  opacity: 1;
  animation-duration: 2s;
  animation-name: slideInRight;
}
