@import '~@/scss/GlobalVariables';

.wrap {
  background-color: $background-color-3;
  background-image: url('~@/assets/images/background/right.png'),
    url('~@/assets/images/background/left.png');
  background-position: right top, left 80px;
  background-repeat: no-repeat, no-repeat;
  padding: 60px 0;
} // .wrap


.page-container {
  .content-width-limit {
    margin: 0 auto;
    max-width: 620px;
  }
}


.page-header {
  margin-bottom: 70px;
  text-align: center;

  p {
    margin: 0 auto;
    max-width: 700px;
  }
}

.content {
  h6 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
  }
}
