@import '~@/scss/GlobalVariables';

.ad-image-container {
  display: block;
  position: relative;
  background-color: $background-color-white;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  .inner-adex {
    margin: 0 auto;
    text-align: center;
    //padding-top: calc((130px - 60px) / 2);
    //padding-bottom: calc((130px - 60px) / 2);
    padding-bottom: calc(130px - 60px);
  }
}
