@import '~@/scss/GlobalVariables';
.outer-adex {
  background-size: cover;
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  background-color: $background-color-white;
  position: relative;
  height: 137px;
  width: 100%;

  .ad-image-container {
    position: absolute;
    border-radius: 5px;
    height: 100%;
    min-height: 137px !important;
    text-align: center;
    @media all and (max-width: 1550px) {
      max-width: 366px;
    }

    @media all and (min-width: 1550px) {
      padding-left: 10px;
    }

    .inner-adex {
      margin: 0 auto;
      text-align: center;
      padding-bottom: calc(130px - 60px);
      height: 137px;
    }

    @media all and (max-width: 1024px) {
      background-size: 385px;
    }
  }
}
