@import '~@/scss/GlobalVariables';

$confirmation-modal-mobile-width: 500px;

.bootstrap-modal .modal-dialog {
  max-width: 700px;
}

.qrcode-contents {
  text-align: center;

  .qrcode-title {
    margin-bottom: 7px;
    margin-top: 7px;
  }

  .qrcode-helper {
    margin-bottom: 7px;
  }
}

.confirmation-modal {
  .modal-content {
    padding: 20px;

    .direction {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 25px;
      }
    }

    @media all and (max-width: $tablet-width) {
      .direction {
        padding: 20px 0;
        display: flex;

        img {
          transform: rotate(90deg);
          margin: 0 auto;
          height: 20px;
        }
      }
    }

    .tx-info {
      $tx-info-grid-size: 270px;

      display: grid;
      grid-template-columns: $tx-info-grid-size 70px $tx-info-grid-size;
      padding-bottom: 15px;

      @media all and (max-width: $tablet-width) {
        display: block;
      }

      .address-container {
        width: 100%;
      }

      .tx-data {
        background-color: $background-color-7;
        border-radius: 10px;
        padding: 20px;

        h3 {
          font-size: 20px;
          margin-top: 10px;

          span {
            color: $text-color-4;
            font-size: 20px;
          }
        }

        p {
          width: 200px;
          word-wrap: break-word;
        }

        .address-title {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 5px;
          margin-top: 10px;
        }
      }
    } // .tx-info

    .detail-info {
      border-bottom: 2px solid $border-color-6;
      border-top: 2px solid $border-color-6;
      padding: 20px 10px;

      .info {
        align-items: center;
        color: $text-color-8;
        display: flex;

        .sliding-switch-white {
          margin-left: auto;
        }
      } // .info

      .expended-info {
        max-height: 0;
        transition: max-height 0.3s ease;
        overflow: hidden;

        &.expended-info-open {
          max-height: 600px;
        }

        .padding-container {
          padding-top: 10px;
        }

        .grid-block {
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 16px 0;

          // Mobile
          @media all and (max-width: $confirmation-modal-mobile-width) {
            display: block;
            padding: 16px 0 0 0;
          }

          p:nth-child(even) {
            max-width: 295px;
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            // Mobile
            @media all and (max-width: $confirmation-modal-mobile-width) {
              max-width: initial;
              text-align: left;
            }
          }
        }
      } // .expended-info
    } // .detail-info

    .submit-button-container {
      padding: 50px 0 20px;
      text-align: center;
    }
  }
}

.submit-button-container {
  padding: 60px 0;
  text-align: center;

  .submit-button {
    margin: 0 auto;
    text-align: center;
  }

  p {
    margin-top: 20px;
  }
}

.tokens {
  border-radius: 5px;
}
