@import '~@/scss/GlobalVariables';

.ambrpay-container {
  background-color: $white;
  border-radius: 4px;
  grid-area: main;
  overflow: hidden;
  margin-bottom: 10px;

  .page-title {
    text-align: center;
    margin-top: 30px;
  }

  button {
    text-align: center;
  }
}

.ambrpay-content {
  padding-top: 25px;
}

.row {
  justify-content: space-between;
  padding-bottom: 10px;

  input {
    background: $light-grey-17;
    border-radius: 4px;
    height: 52px;
    border: none;
    width: 100%;
  }
}

.text-danger {
  color: $text-color-red;
}

.label-text {
  color: $dark-blue-2;
  font-family: AvenirNext-DemiBold;
  font-size: 16px;
  font-weight: 600;
  padding-left: 5px;
}

.action-text {
  color: $mew-green;
  font-family: AvenirNext-Regular;
  font-size: 14px;
  font-weight: normal;
  padding-right: 5px;
}

.amount-text {
  display: flex;
  justify-content: space-between;
}

.col-12 {
  padding: 0;
}

.amount-container {
  padding-left: 10px;
}

.fee-text {
  color: $dark-blue-12;
  font-family: AvenirNext-Regular;
  text-align: center;
}

input {
  color: $dark-blue-12;
}

input::placeholder {
  color: $dark-blue-12;
  text-align: right;
  padding-right: 10px;
}

.active-sub-btn {
  background: none;
  border: none;
  color: $mew-green;
  font-family: AvenirNext-Medium;
}
