@import '../../ManageENS';

.manage-ens-container {
  @extend %template-container;

  display: flex;
  flex-direction: column;

  h3 {
    color: $dark-blue-6;
  }
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.manage-form {
  display: flex;
  padding-top: 20px;

  .input-container {
    flex: auto;

    label {
      font-weight: bold;
      margin-bottom: 10px;
    }

    input {
      background-color: $light-grey-1;
      border: 0;
      border-radius: 4px;
      padding: 13px 15px;
      width: 100%;
    }
  }

  .submit-container {
    text-align: center;
    button {
      background-color: $mew-green;
      border: 0;
      border-radius: 4px;
      color: $white;
      cursor: pointer;
      margin: 30px 0 0 10px;
      padding: 13px 15px;
      width: 150px;
    }

    .disabled {
      background-color: $light-grey-12 !important;
      pointer-events: none;
    }
  }
}
