@import '~@/scss/GlobalVariables';

.wrap {
  cursor: pointer;

  .info-block {
    border-radius: 5px;
    color: $text-white;
    display: flex;
    min-height: 158px;
    padding: 25px;
    position: relative;

    h2 {
      font-size: 24px;
      font-weight: 500;
      line-height: initial;
      margin: 0;
      margin-bottom: 4px;
    }

    h4 {
      font-size: 20px;
      font-weight: 400;
      line-height: initial;
      margin: 0;
      margin-bottom: 4px;
    }

    p {
      color: $text-white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .bottom-button {
      bottom: 25px;
      position: absolute;
    }

    .block-image {
      margin-right: 15px;
    }
  }

  .address {
    background-color: $transaction-block-address;
  }

  .balance {
    background-color: $transaction-block-balance;
  }

  .network {
    background-color: $transaction-block-network;
  }

}

.icon-container {
  display: flex;
  margin-top: 27px;

}

.modal-container {

  .modal-title {
    color: $text-color-8;
  }

  .balance {
    .content-block {
      border-bottom: 1px solid $border-color-5;
      margin: 0 20px;
      padding: 25px 15px;

      h4 {
        font-weight: 600;

        span {
          color: $text--link-color;
          font-size: 13px;
        }
      }

      .total-balance-amount {
        font-size: 22px;

        span {
          font-size: 22px;
          font-weight: 600;
        }
      }

      .flex-container {
        align-items: center;
        display: flex;

        .margin-left-auto {
          margin-left: auto;
        }
      }

      .grid-3 {
        display: grid;
        grid-template-columns: auto auto auto;

        p {
          margin-top: 13px;
        }
      } // .grid-3
    } // .content-block

  } // .network
} // .modal-container
