@import '~@/scss/GlobalVariables';

.section-name {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 5px;
}

.token-block-container {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
  > div {
    flex-basis: 200px;
  }
}

.token-block {
  border-radius: 5px;
  border: 1px solid #e5eff4;
  margin: 6px;
  padding: 20px;
  flex: 1;
}

.token-symbol {
  font-size: 30px;
  line-height: 1px;
}

.slider-container {
  span {
    font-size: 12px;
    font-weight: normal;
    padding-left: 5px;
  }

  .stable-txt {
    color: $light-blue-1;
  }

  .variable-txt {
    color: $light-yellow-4;
  }

  .sliding-switch-white {
    display: inline-block;
    vertical-align: middle;
    .borrow-slider {
      background-color: $light-yellow-4;
    }

    input:checked + .borrow-slider {
      background-color: $light-blue-1;
    }

    .input:focus + .borrow-slider {
      box-shadow: 0 0 1px $mew-green;
    }
  }
}
