@import '~@/scss/GlobalVariables';

$input-title-color: #212529;
$mew-green-dark-1: #04ae95;
$mew-green-dark-2: #04957f;

.schedule-transaction-container {
  background-color: $white;
  border-radius: 4px;
  grid-area: main;
  overflow: hidden;
  margin-bottom: 10px;
}

.schedule-transaction-content {
  padding: 40px;

  // Tablet
  @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
    padding: 20px;
  }

  // Mobile
  @media all and (max-width: $mobile-width) {
    padding: 10px;
  }
}

.schedule-transaction-form-container {
  p {
    color: $input-title-color;
    font-size: 16px;
    font-weight: bold;
  }

  .form {
    display: flex;
    flex-direction: column;
  }
}

.hide {
  display: none;
}

.btn-group {
  margin: 8px 0;

  & .btn {
    background-color: $mew-green;
    border-color: $mew-green;
    padding: 12px;

    &:hover {
      background-color: $mew-green-dark-1;
      border-color: $mew-green-dark-1;
    }

    &:active {
      background-color: $mew-green-dark-1;
      border-color: $mew-green-dark-1;
    }

    &.selected {
      background-color: $mew-green-dark-2;
      border-color: $mew-green-dark-2;
    }
  }
}

.input-title {
  font-weight: 600;
  font-size: 16px;
  line-height: initial;
  margin-right: 8px;
  color: $input-title-color;
  padding: 0 10px;
  margin-bottom: 10px;
}

.mode-btn-col {
  align-self: center;
}

.container {
  padding: 0;
}

.toggle-button-container {
  display: flex;
  // Mobile
  @media all and (max-width: $mobile-width) {
    display: block;
  }

  h4 {
    padding: 0 8px;
  }

  .toggle-button {
    align-items: center;
    display: flex;
    margin-left: auto;
    user-select: none;

    @media all and (max-width: $mobile-width) {
      padding: 0 8px;
    }

    > span {
      margin-right: 15px;
    }
  }
}

.standard-input {
  padding: 12px 0;
}

.submit-button-container {
  margin-top: 60px;
  text-align: center;

  @media all and (max-width: $mobile-width) {
    margin-top: 30px;
  }

  .submit-button {
    margin: 0 auto;
    text-align: center;
    @media all and (max-width: $mobile-width) {
      width: 100%;
    }
  }

  p {
    margin-top: 20px;
  }
}

.vertical-center-self {
  align-self: center;
}

.horizontal-center {
  text-align: center;
}

h2 {
  margin: 0;
}
