@import '~@/scss/GlobalVariables';

$input-title-color: #212529;
$mew-green-dark-1: #04ae95;
$mew-green-dark-2: #04957f;

.schedule-transaction-container {
  background-color: $white;
  border-radius: 4px;
  grid-area: main;
  overflow: hidden;
  margin-bottom: 10px;
}

.schedule-transaction-content {
  padding: 40px;

  // Tablet
  @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
    padding: 20px;
  }

  // Mobile
  @media all and (max-width: $mobile-width) {
    padding: 10px;
  }
}

.schedule-transaction-form-container {
  p {
    color: $input-title-color;
    font-size: 16px;
    font-weight: bold;
  }

  .form {
    display: flex;
    flex-direction: column;
  }
}

.hide {
  display: none;
}

.btn-group {

  & .btn {
    background-color: $mew-green;
    border-color: $mew-green;
  
    &:hover {
      background-color: $mew-green-dark-1;
      border-color: $mew-green-dark-1;
    }
    
    &:active {
      background-color: $mew-green-dark-1;
      border-color: $mew-green-dark-1;
    }
  
    &.selected {
      background-color: $mew-green-dark-2;
      border-color: $mew-green-dark-2;
    }
  }
}