@import '~@/scss/GlobalVariables';

.modal-container {
  .network {
    .content-block {
      border-bottom: 1px solid $border-color-5;
      margin: 0 20px;
      padding: 15px 5px;

      h4 {
        font-weight: 500;
        position: relative;

        &.modal-title {
          color: $text-color-8;
          font-weight: 600;
        }

        span {
          color: $text--link-color;
          font-size: 13px;
        }

        &::before {
          border-radius: 50px;
          bottom: 8px;
          content: '';
          height: 6px;
          left: -12px;
          position: absolute;
          width: 6px;
        }
      }

      .flex-container {
        display: flex;

        .margin-left-auto {
          margin-left: auto;
        }
      }

      .grid-3 {
        padding: 0 20px;
        display: grid;
        grid-template-columns: auto auto auto;

        p {
          margin-top: 5px;
        }
      } // .grid-3
    } // .content-block

    .add-custom-network {
      align-items: center;
      display: flex;

      p {
        margin-right: 15px;
      }
    }
  } // .network

  .network-add {
    .input-block-container {
      display: grid;
      grid-gap: 4px;
      grid-template-columns: 1fr 120px;
    }

    .auth-form-container {
      display: grid;
      grid-column-gap: 4px;
      grid-template-columns: 1fr 1fr;
      margin-top: 15px;

      &.hidden {
        display: none;
      }
    }

    .save-button-container {
      padding: 40px 0;
      text-align: center;

      .save-button {
        display: inline-block;
        margin-bottom: 15px;
        min-width: 300px;
      }
    }
  }
}

.switch-network {
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  width: fit-content;
}

.current-network {
  background-color: $mew-green;
  color: $white;
}

.custom-network-item {
  align-items: center;
  display: flex;
  justify-content: space-between;

  i {
    cursor: pointer;
    margin-left: 10px;
  }
}

.network-title {
  display: flex;
  align-items: center;
  img {
    height: 25px;
    margin-right: 13px;
  }
}
