@import '~@/scss/GlobalVariables';

.modal-container {
  .network {
    .content-block {
      border-bottom: 1px solid $border-color-5;
      margin: 0 20px;
      padding: 15px 5px;

      h4 {
        font-weight: 500;
        position: relative;

        &.modal-title {
          color: $text-color-8;
          font-weight: 600;
        }

        span {
          color: $text--link-color;
          font-size: 13px;
        }

        &::before {
          border-radius: 50px;
          bottom: 8px;
          content: '';
          height: 6px;
          left: -12px;
          position: absolute;
          width: 6px;
        }

        &.aka::before {
          background-color: $aka;
        }

        &.clo::before {
          background-color: $clo;
        }

        &.egem::before {
          background-color: $egem;
        }

        &.ella::before {
          background-color: $ella;
        }

        &.eosc::before {
          background-color: $eosc;
        }

        &.esn::before {
          background-color: $esn;
        }

        &.etc::before {
          background-color: $etc;
        }

        &.eth::before {
          background-color: $eth;
        }

        &.etho::before {
          background-color: $etho;
        }

        &.etsc::before {
          background-color: $etsc;
        }

        &.exp::before {
          background-color: $exp;
        }

        &.go::before {
          background-color: $go;
        }

        &.kov::before {
          background-color: $kov;
        }

        &.music::before {
          background-color: $music;
        }

        &.pirl::before {
          background-color: $pirl;
        }

        &.poa::before {
          background-color: $poa;
        }

        &.rin::before {
          background-color: $rin;
        }

        &.rop::before {
          background-color: $rop;
        }

        &.tomo::before {
          background-color: $tomo;
        }

        &.ubq::before {
          background-color: $ubq;
        }

        &.cust::before {
          background-color: $cust;
        }
      }

      .flex-container {
        display: flex;

        .margin-left-auto {
          margin-left: auto;
        }
      }

      .grid-3 {
        display: grid;
        grid-template-columns: auto auto auto;

        p {
          margin-top: 5px;
        }
      } // .grid-3
    } // .content-block

    .add-custom-network {
      align-items: center;
      display: flex;

      p {
        margin-right: 15px;
      }
    }
  } // .network

  .network-add {
    .input-block-container {
      display: grid;
      grid-gap: 4px;
      grid-template-columns: 1fr 120px;
    }

    .auth-form-container {
      display: grid;
      grid-column-gap: 4px;
      grid-template-columns: 1fr 1fr;
      margin-top: 15px;

      &.hidden {
        display: none;
      }
    }

    .save-button-container {
      padding: 40px 0;
      text-align: center;

      .save-button {
        display: inline-block;
        margin-bottom: 15px;
        min-width: 300px;
      }
    }
  }
}

.switch-network {
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  width: fit-content;
}

.current-network {
  background-color: $light-grey-5;
}

.custom-network-item {
  align-items: center;
  display: flex;
  justify-content: space-between;

  i {
    cursor: pointer;
    margin-left: 10px;
  }
}
