@import '../InterfaceContainer';

$swap-custom-mobile-colleps-width: 700px;

.swap-container {
  @extend %interface-container;

  .title-block {
    position: relative;
    .buy-eth {
      right: 30px;
      top: 28px;
      position: absolute;
      display: flex;
      align-items: center;
      color: $mew-green;

      img {
        height: 20px;
        margin-left: 10px;
      }
    }
  }

  .title-and-copy {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    h4 {
      margin: 0;
    }
    .copy-button {
      margin-left: auto;
      color: $mew-green;
      cursor: pointer;
    }

    .all-button {
      margin-left: auto;
      color: $mew-green;
      cursor: pointer;
      font-size: 12px;
    }
  }

  .send-form {
    margin-bottom: 30px;
    .title-container {
      .title {
        padding: 0 8px;

        .title-and-popover {
          display: flex;
          align-items: center;
        }
      }

      .buttons {
        margin-bottom: 3px;
        margin-left: auto;
      }
    }

    .form-block {
      @extend %form-block-base;
    }

    .amount-to-address {
      display: grid;
      grid-column-gap: 5px;
      grid-template-columns: 1fr 70px 1fr;

      @media all and (max-width: $swap-custom-mobile-colleps-width) {
        display: block;
      }

      .title {
        margin-bottom: 13px;
        padding: 0 8px;
      }

      .exchange-icon {
        color: $text-color-9;
        font-size: 30px;
        padding-top: 62px;
        text-align: center;
        @media all and (max-width: $swap-custom-mobile-colleps-width) {
          padding: 0;
          margin: 10px auto -20px auto;
          img {
            transform: rotate(90deg);
          }
        }
      }

      .amount {
        .dropdown-select-search-1 {
          background-color: $background-color-1;
          margin-bottom: 5px;
          position: relative;

          i {
            color: $text-color-2;
            left: 14px;
            position: absolute;
            top: 16px;
          }
        }

        .amount-number {
          position: relative;

          input {
            background-color: transparent;
            border: 0;
            padding: 13px 15px;
            width: 100%;
          }

          i {
            position: absolute;
            right: 13px;
            top: 13px;
          }
        }
      }

      .to-address {
        position: relative;

        .title {
          align-items: center;
          display: flex;
          position: relative;

          img {
            height: 50px;
            left: 98px;
            position: absolute;
            top: -14px;
          }

          .copy-button {
            color: $text--link-color;
            cursor: pointer;
            margin-left: auto;
          }
        }

        .address-block {
          height: 98px;

          i {
            bottom: 13px;
            position: absolute;
            right: 13px;
          }

          textarea {
            background-color: transparent;
            border: 0;
            height: 100%;
            padding: 13px 15px;
            resize: none;
            width: 100%;
          }
        }
      }
    }

    .gas-amount {
      position: relative;

      input {
        background-color: $background-color-1;
        border: 0;
        padding: 13px 15px;
        width: 100%;
      }

      .good-button-container {
        align-items: center;
        display: flex;
        position: absolute;
        right: 10px;
        top: 12px;

        p {
          color: $text--link-color;
          margin-right: 10px;
        }
      }
    }

    .error-message-container {
      p {
        color: $text-color-red;
        margin: 7px 0 0 15px;
      }
    }
  } // .send-form

  .advanced {
    padding-top: 10px;

    .advanced-content {
      border-bottom: 2px solid $background-color-1;
      border-top: 2px solid $background-color-1;
      display: flex;
      padding: 0 8px;
      padding-bottom: 20px;
      padding-top: 20px;

      .toggle-button {
        align-items: center;
        display: flex;
        margin-left: auto;

        > span {
          margin-right: 15px;
        }
      }
    }
  } // .advanced

  .submit-button-container {
    margin-top: 60px;
    text-align: center;
    // Mobile
    @media all and (max-width: $mobile-width) {
      margin-top: 20px;
    }

    h4 {
      margin-bottom: 20px;
    }

    .submit-button {
      margin: 0 auto;
      text-align: center;
      width: 300px;
      position: relative;
      @media all and (max-width: $mobile-width) {
        width: 100%;
      }

      i {
        position: absolute;
        right: 20px;
        top: 16px;
        font-size: 30px;
      }
    }

    p {
      margin-top: 20px;
    }

    .buy-eth {
      margin-top: 20px;
      color: $mew-green;

      img {
        height: 20px;
      }
    }
  }
}
