@import '~@/scss/GlobalVariables';

.wrap {
  padding-top: 87px;
}

.fixed-header {
  background-color: $background-color-white;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-menu;

  &.tiny-header {
    box-shadow: 0 2px 13px $tiny-header-shadow-color;

    .header-container {
      padding: 5px 0;
    }
  }

  .header-container {
    align-items: center;
    display: flex;
    padding: 12px 0;
    transition: all .3s ease;

    @media all and (max-width: $tablet-width){
      padding: 15px 0;
    }

    .top-logo {
      line-height: 10px;

      img {
        height: 33px;
        transition: all .3s ease;
      }

      .logo-small {
        height: 28px;
      }
    }

    .top-menu {
      margin-left: auto;
      position: relative;

      a:link,
      a:visited,
      a:hover,
      a:active {
        color: $text-base-color;
      }

      span {
        color: $text-base-color;
      }

      @media all and (max-width: $tablet-width){
        display: none;
      }

      .nav {
        align-items: center;

        .nav-item a,
        .nav-item a span {
          color: $text-base-color;
          outline: none;

          &.active {
            color: $text-black;
            font-weight: 500;
          }
        }
      }

      .language-menu {
        margin-left: 0;

        .dropdown-menu {
          a {
            $language-item-padding-value: 8px;
            font-size: 13px;
            padding-bottom: $language-item-padding-value;
            padding-left: 15px;
            padding-top: $language-item-padding-value;
          }
        }
      }

      .current-language-flag {
        display: flex;

        img {
          flex: 45;
          height: 25px;
          margin-right: 15px;
          outline: 1px solid;
        }
      }

      >ul {
        >li {
          display: inline-block;
          font-size: 14px;
          margin-left: 26px;
          padding: 13px 0;

          a {
            color: $text-color-3;
          }
        }
      }
    }// .top-menu

    .mobile-menu {
      display: none;
      margin-left: auto;

      @media all and (max-width: $tablet-width){
        display: block;
      }

      .mobile-menu-button {
        padding: 10px 5px;

        div {
          background-color: $background-color-black;
          border-radius: 2px;
          height: 4px;
          margin-bottom: 5px;
          width: 30px;
        }

        .bar-3 {
          margin: 0;
          width: 15px;
        }
      }
    }// .mobile-menu

  }// .header-container
}// .fixed-header

.identicon-dropdown {
  padding: 0 !important;
}

.get-free-wallet {
  border: 1px solid $border-green;
  border-radius: 4px;
  color: $text-color-green;
  cursor: pointer;
  font-size: 12px;
  margin-left: 24px;
  padding: 10px 20px;
  transition: background-color .2s ease;

  &:hover {
    background-color: $text-color-green;
    color: $text-white;
  }
}
