@import '~@/scss/GlobalVariables';
@media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
  .wrap {
    padding-top: 70px;
  }

  .scrollup-container {
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

    &.active {
      opacity: 1;
      pointer-events: initial;
    }
  }

  .fixed-header {
    background-color: $background-color-white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-menu;

    &.tiny-header {
      box-shadow: 0 2px 13px $tiny-header-shadow-color;
    }

    .top-menu-bar {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $white;
      width: 100vw;
      z-index: 99;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    }

    .header-container {
      align-items: center;
      display: flex;
      padding: 17px 8px;
      transition: all 0.3s ease;

      &.tiny-header-container {
        padding: 10px 8px;
      }

      .top-logo {
        line-height: 10px;

        img {
          height: 36px;
          transition: all 0.3s ease;
        }

        .logo-small {
          height: 28px;
        }
      }

      .top-menu {
        margin-left: auto;
        position: relative;
        display: none;

        a:link,
        a:visited,
        a:hover,
        a:active {
          color: $text-base-color;
        }

        span {
          color: $text-base-color;
        }

        .nav {
          align-items: center;

          .nav-item a,
          .nav-item a span {
            color: $text-base-color;
            outline: none;

            &.active {
              color: $text-black;
              font-weight: 500;
            }
          }
        }

        .language-menu-container {
          margin-left: 20px;
        }

        .language-menu {
          margin-left: 0;

          .dropdown-menu {
            a {
              $language-item-padding-value: 8px;

              font-size: 13px;
              padding-bottom: $language-item-padding-value;
              padding-left: 15px;
              padding-top: $language-item-padding-value;
            }
          }
        }

        .current-language-flag {
          align-items: center;
          display: flex;

          img {
            border-radius: 3px;
            box-shadow: 0 0 2pt 1pt $mew-green;
            flex: 45;
            height: 16px;
            margin-right: 10px;
          }
        }

        > ul {
          > li {
            display: inline-block;
            font-size: 14px;
            margin-left: 26px;
            padding: 13px 0;

            &.nopadding {
              padding: 0;
            }

            a {
              color: $text-color-3;
            }
          }
        }
      } // .top-menu

      .mobile-menu-buttons {
        margin-left: auto;
        display: block;
        position: relative;

        > div {
          position: relative;
          height: 35px;
          width: 35px;
          padding: 0;
        }

        .menu-open {
          div {
            width: 30px;
            height: 4px;
            background-color: $background-color-black;
            border-radius: 2px;
            position: absolute;
            left: 0;
          }

          $top-position: 5px;
          $increment-value: 9px;

          .bar-1 {
            top: $top-position;
          }

          .bar-2 {
            top: $top-position + $increment-value;
          }

          .bar-3 {
            top: $top-position + ($increment-value * 2);
            width: 18px;
          }
        } // .menu-open

        .menu-close {
          div {
            width: 30px;
            height: 4px;
            background-color: $background-color-black;
            border-radius: 2px;
            position: absolute;
            top: 14px;
            left: 2px;
          }
          div:nth-child(1) {
            transform: rotate(45deg);
          }
          div:nth-child(2) {
            transform: rotate(-45deg);
          }
        }
      } // .mobile-menu-buttons
    } // .header-container
  } // .fixed-header

  .identicon-dropdown {
    padding: 0 !important;
  }

  .get-free-wallet {
    position: relative;
    animation: fadeInFromNone 0.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 1;

    .get-free-wallet-button {
      border: 1px solid $border-green;
      border-radius: 4px;
      color: $text-color-green;
      cursor: pointer;
      display: block;
      font-size: 12px;
      padding: 10px 20px;
      position: relative;
      overflow: hidden;

      &:hover {
        background-color: $text-color-green;
        color: $text-white;
      }
    }

    &.noshow {
      animation: fadeOutFromBlock 0.5s ease-out;
      animation-fill-mode: forwards;
    }

    @keyframes fadeInFromNone {
      0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin-left: 0;
      }

      50% {
        width: 173px;
        height: 54px;
        opacity: 0;
        margin-left: 20px;
      }

      100% {
        width: 173px;
        height: 54px;
        opacity: 1;
        margin-left: 20px;
      }
    }

    @keyframes fadeOutFromBlock {
      0% {
        width: 173px;
        height: 54px;
        opacity: 1;
        margin-left: 20px;
      }

      50% {
        width: 173px;
        height: 54px;
        opacity: 0;
        margin-left: 20px;
      }

      100% {
        width: 0;
        height: 0;
        opacity: 0;
        margin-left: 0;
      }
    }
  } // .get-free-wallet

  .mobile-menu {
    border-top: 1px solid $border-color-5;
    border-bottom: 1px solid $border-color-5;
    transition: all 0.3s ease;
    overflow-y: auto;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $white;
    width: 100vw;
    z-index: 9;

    .nav {
      padding: 75px 0 25px;
      display: block;

      .nav-item {
        display: block;

        a {
          font-size: 20px;
          color: $text-base-color;
          padding: 25px 40px;

          @media all and (max-width: 370px) {
            padding: 15px 30px;
          }
        }
      }
    }

    .language-menu-container {
      .arrows {
        right: 37px;
        top: 27px;
        @media all and (max-width: 370px) {
          top: 17px;
        }
      }

      .current-language-flag {
        display: flex;
        align-items: center;
        padding: 30px 40px;

        @media all and (max-width: 370px) {
          padding: 20px 30px;
        }

        img {
          //width: 50px;
          height: 17px;
        }

        p {
          font-size: 20px;
          color: $text-base-color;
          padding-right: 15px;
        }
      }
    }
  }

  .mobile-menu-closed {
    height: 0;
  }

  .mobile-menu-background-fill {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100vw;
    height: 100vh;
    z-index: 10;
    opacity: 0;
    background-color: $black;
    transition: opacity 0.2s linear;
    pointer-events: none;

    &.background-fill-active {
      pointer-events: auto;
      opacity: 0.6;
    }
  }
} // @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width)
