@import '~@/scss/GlobalVariables';

.page-container {
  padding: 0 10px;
}

.wrap {
  padding-top: 99px;
  @media all and (max-width: $tablet-width) {
    padding-top: 82px;
  }
}

.scrollup-container {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;

  &.active {
    opacity: 1;
    pointer-events: initial;
  }
}

.fixed-header-border-bottom {
  //border-bottom: 1px solid black;
  box-shadow: 0 0 2px #0000003b;
}

.fixed-header {
  background-color: $background-color-white;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  //z-index: $z-menu + 100;
  z-index: 1000;

  &.tiny-header {
    box-shadow: 0 2px 13px $tiny-header-shadow-color;

    .header-container {
      padding: 5px 0;
    }
  }

  .header-container {
    align-items: center;
    display: flex;
    padding: 12px 0;
    transition: all 0.3s ease;

    @media all and (max-width: $tablet-width) {
      padding: 20px 0;
    }

    .top-logo {
      line-height: 10px;

      img {
        height: 33px;
        transition: all 0.3s ease;
      }

      .logo-small {
        height: 28px;
      }
    }

    .top-menu {
      margin-left: auto;
      position: relative;

      a:link,
      a:visited,
      a:hover,
      a:active {
        color: $text-base-color;
      }

      span {
        color: $text-base-color;
      }

      @media all and (max-width: $tablet-width) {
        display: none;
      }

      .nav {
        align-items: center;

        .nav-item a,
        .nav-item a span {
          color: $text-base-color;
          outline: none;

          &.active {
            color: $text-black;
            font-weight: 500;
          }
        }
      }

      .language-menu-container {
        margin-left: 20px;
      }

      .language-menu {
        margin-left: 0;

        .dropdown-menu {
          a {
            $language-item-padding-value: 8px;

            font-size: 13px;
            padding-bottom: $language-item-padding-value;
            padding-left: 15px;
            padding-top: $language-item-padding-value;
          }
        }
      }

      .current-language-flag {
        align-items: center;
        display: flex;

        img {
          border-radius: 3px;
          box-shadow: 0 0 1pt 1pt $mew-green;
          flex: 45;
          height: 16px;
          margin-right: 10px;
        }
      }

      > ul {
        > li {
          display: inline-block;
          font-size: 14px;
          margin-left: 26px;
          padding: 13px 0;

          &.nopadding {
            padding: 0;
          }

          a {
            color: $text-color-3;
          }
        }
      }
    } // .top-menu

    .mobile-menu {
      display: none;
      margin-left: auto;

      @media all and (max-width: $tablet-width) {
        display: block;
      }

      .mobile-menu-button {
        padding: 10px 5px;

        div {
          background-color: $background-color-black;
          border-radius: 2px;
          height: 4px;
          margin-bottom: 5px;
          width: 26px;
        }

        .bar-3 {
          margin: 0;
          width: 15px;
        }
      }
    } // .mobile-menu
  } // .header-container
} // .fixed-header

//********************************************************
// .mobile-language-menu-container
//********************************************************
.mobile-language-menu-container {
  user-select: none;
  display: flex !important;
  align-items: center;
  padding: 16px 21px 16px 7px !important;

  li {
    width: 100%;
  }

  .arrows {
    margin-left: auto;
  }
}

.mobile-language-menu {
  .current-language-flag {
    display: flex;
    align-items: center;

    &::after {
      display: none;
    }

    img {
      height: 25px;
      border-radius: 4px;
    }
    p {
      margin-right: 15px;
      font-size: 20px;
      display: block;
      color: #506175;
    }
  }
}

//********************************************************
// .mobile-menu-content
//********************************************************

@media all and (min-width: calc(#{$tablet-width} + 1px)) {
  .mobile-menu-underblock {
    display: none;
  }
}

.mobile-menu-underblock {
  pointer-events: none;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.2s linear;
  background-color: $menu-under-background-color;
  opacity: 0;

  &.mobile-menu-open {
    opacity: 1;
  }
}

.mobile-menu-content {
  position: fixed;
  width: 100vw;
  z-index: 1000;
  top: 0;
  left: 0;
  transition: all 0.2s linear;
  height: 0;
  overflow: hidden;
  background-color: white;

  .page-container {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  ul {
    li {
      > * {
        padding: 20px;
        font-size: 20px;
        display: block;
        color: $text-base-color;
      }
    }
  }

  @media all and (max-width: $tablet-width) {
    &.mobile-menu-open-height-change {
      height: 100vh;
      
      >div {
        height: 100%;
        overflow-y: auto;
      }
    }
  }
}

@media all and (max-width: $tablet-width) {
  .mobile-menu-boxshadow {
    //box-shadow: 0 0 1px #adadad1f;
  }
}

.identicon-dropdown {
  padding: 0 !important;
}

.get-free-wallet {
  position: relative;
  animation: fadeInFromNone 0.5s ease-out;
  animation-fill-mode: forwards;
  opacity: 1;

  .get-free-wallet-button {
    border: 1px solid $border-green;
    border-radius: 4px;
    color: $text-color-green;
    cursor: pointer;
    display: block;
    font-size: 12px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;

    &:hover {
      background-color: $text-color-green;
      color: $text-white;
    }
  }

  &.noshow {
    animation: fadeOutFromBlock 0.5s ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInFromNone {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
      margin-left: 0;
    }

    50% {
      width: 173px;
      height: 54px;
      opacity: 0;
      margin-left: 20px;
    }

    100% {
      width: 173px;
      height: 54px;
      opacity: 1;
      margin-left: 20px;
    }
  }

  @keyframes fadeOutFromBlock {
    0% {
      width: 173px;
      height: 54px;
      opacity: 1;
      margin-left: 20px;
    }

    50% {
      width: 173px;
      height: 54px;
      opacity: 0;
      margin-left: 20px;
    }

    100% {
      width: 0;
      height: 0;
      opacity: 0;
      margin-left: 0;
    }
  }
} // .get-free-wallet



//********************************************************
// .info-block-container for mobile interface menu
//********************************************************
.info-block-container {
  //margin-top: 160px;

  >* {
    margin-bottom: 5px;
  }
}


