@import '~@/scss/GlobalVariables';

.wrap {
  padding-top: 87px;
}

.scrollup-container {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;

  &.active {
    opacity: 1;
    pointer-events: initial;
  }
}

.fixed-header {
  background-color: $background-color-white;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-menu;

  &.tiny-header {
    box-shadow: 0 2px 13px $tiny-header-shadow-color;

    .header-container {
      padding: 5px 0;
    }
  }

  .header-container {
    align-items: center;
    display: flex;
    padding: 12px 0;
    transition: all 0.3s ease;

    @media all and (max-width: $tablet-width) {
      padding: 15px 0;
    }

    .top-logo {
      line-height: 10px;

      img {
        height: 33px;
        transition: all 0.3s ease;
      }

      .logo-small {
        height: 28px;
      }
    }

    .top-menu {
      margin-left: auto;
      position: relative;

      a:link,
      a:visited,
      a:hover,
      a:active {
        color: $text-base-color;
      }

      span {
        color: $text-base-color;
      }

      @media all and (max-width: $tablet-width) {
        display: none;
      }

      .nav {
        align-items: center;

        .nav-item a,
        .nav-item a span {
          color: $text-base-color;
          outline: none;

          &.active {
            color: $text-black;
            font-weight: 500;
          }
        }
      }

      .language-menu-container {
        margin-left: 20px;
      }

      .language-menu {
        margin-left: 0;

        .dropdown-menu {
          a {
            $language-item-padding-value: 8px;

            font-size: 13px;
            padding-bottom: $language-item-padding-value;
            padding-left: 15px;
            padding-top: $language-item-padding-value;
          }
        }
      }

      .current-language-flag {
        display: flex;
        align-items: center;

        img {
          flex: 45;
          margin-right: 10px;
          height: 15px;
          border-radius: 3px;
        }
      }

      > ul {
        > li {
          display: inline-block;
          font-size: 14px;
          margin-left: 26px;
          padding: 13px 0;

          a {
            color: $text-color-3;
          }
        }
      }
    } // .top-menu

    .mobile-menu {
      display: none;
      margin-left: auto;

      @media all and (max-width: $tablet-width) {
        display: block;
      }

      .mobile-menu-button {
        padding: 10px 5px;

        div {
          background-color: $background-color-black;
          border-radius: 2px;
          height: 4px;
          margin-bottom: 5px;
          width: 30px;
        }

        .bar-3 {
          margin: 0;
          width: 15px;
        }
      }
    } // .mobile-menu
  } // .header-container
} // .fixed-header

.identicon-dropdown {
  padding: 0 !important;
}

.get-free-wallet {
  position: relative;
  animation: fadeInFromNone 0.3s ease-out;
  animation-fill-mode: forwards;

  .get-free-wallet-button {
    border: 1px solid $border-green;
    border-radius: 4px;
    color: $text-color-green;
    cursor: pointer;
    font-size: 12px;
    padding: 10px 20px;
    transition: background-color 0.2s ease;
    display: block;
    position: relative;

    &:hover {
      background-color: $text-color-green;
      color: $text-white;
    }
  }

  &.noshow {
    animation: fadeOutFromBlock 0.3s ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInFromNone {
    0% {
      opacity: 0;
      position: relative;
    }

    1% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOutFromBlock {
    0% {
      opacity: 1;
      position: relative;
    }

    99% {
      opacity: 0;
      position: relative;
    }

    100% {
      opacity: 0;
      z-index: -1;
      position: absolute;
    }
  }
} // .get-free-wallet
