{
  "openapi": "3.0.3",
  "info": {
    "title": "Ondo Perps REST API",
    "version": "1.1",
    "description": "REST API for Ondo Perps: account, wallet, deposits/withdrawals, API keys, and perpetual futures trading."
  },
  "servers": [
    {
      "url": "https://api.ondoperps.xyz"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/status": {
      "get": {
        "summary": "Get Status",
        "description": "Returns public API and system status. No authentication required.",
        "operationId": "getStatus",
        "tags": ["Tool"],
        "responses": {
          "200": {
            "description": "Status response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/StatusResult"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "marketStatus": "open"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/hello": {
      "get": {
        "summary": "Hello",
        "description": "Simple health check. Returns a static JSON payload. No authentication required.",
        "operationId": "hello",
        "tags": ["Tool"],
        "responses": {
          "200": {
            "description": "Hello response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hello": {
                      "type": "string",
                      "example": "world"
                    }
                  }
                },
                "example": {
                  "hello": "world"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "summary": "Get Account",
        "description": "Returns account information for the authenticated user.",
        "operationId": "getAccount",
        "tags": ["Account"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account info",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/AccountInfo"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "accountID": "10458932786832481",
                    "identifier": "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD18",
                    "authType": "web3",
                    "accountState": "open",
                    "withdrawalFeeUSD": "0.00",
                    "termsVersion": 2,
                    "termsUnixSecs": 1704067200,
                    "privacyVersion": 1,
                    "privacyUnixSecs": 1704067200,
                    "marketingConsent": "accepted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": ["account_not_found"]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "account_not_found"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/auth/erc-4361/login/get_challenge": {
      "post": {
        "summary": "Get SIWE Login Challenge",
        "description": "Get a Sign-In with Ethereum (ERC-4361) challenge for login. No auth required.",
        "operationId": "getSIWEChallenge",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginGetChallengeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge message for signing",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/AuthChallengeResult"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "id": "chg_9f8e7d6c5b4a3210",
                    "message": "api.ondoperps.xyz wants you to sign in with your Ethereum account:\n0x742d35Cc6634C0532925a3b844Bc9e7595f2bD18\n\nSign in to Ondo Perps\n\nURI: https://api.ondoperps.xyz\nVersion: 1\nChain ID: 1\nNonce: abc123\nIssued At: 2025-03-05T14:30:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": ["challenge_not_found"]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "challenge_not_found"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/auth/erc-4361/login/complete_challenge": {
      "post": {
        "summary": "Complete SIWE Login",
        "description": "Complete Sign-In with Ethereum by submitting the signed challenge. Returns JWT.",
        "operationId": "completeSIWEChallenge",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginCompleteChallengeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auth token",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/AuthToken"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "identifier": "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD18",
                    "authType": "web3",
                    "accountId": "10458932786832481",
                    "issuedAtSecs": 1709648400,
                    "expirationSecs": 1709734800,
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                    "newAccount": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "account_cannot_be_verified",
                        "challenge_not_found",
                        "invite_code_already_used",
                        "invite_code_invalid"
                      ]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "account_cannot_be_verified"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/auth/erc-4361/address_book/get_challenge": {
      "post": {
        "summary": "Get SIWE Address Book Challenge",
        "description": "Get a Sign-In with Ethereum challenge for adding a withdrawal address. Requires auth.",
        "operationId": "getSIWEAddressBookChallenge",
        "tags": ["Auth"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressBookGetChallengeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge for signing",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/AuthChallengeResult"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "id": "chg_ab12cd34ef56",
                    "message": "Sign this message to add withdrawal address 0x054A94b753CBf65D1Bc484F6D41897b48251fbfF to your address book."
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/auth/erc-4361/address_book/complete_challenge": {
      "post": {
        "summary": "Complete SIWE Address Book Challenge",
        "description": "Complete the signed challenge to add a withdrawal address.",
        "operationId": "completeSIWEAddressBookChallenge",
        "tags": ["Auth"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressBookCompleteChallengeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "account_not_found",
                        "bad_label",
                        "bad_withdrawal_address",
                        "challenge_not_found",
                        "empty_label",
                        "internal_withdrawal_address",
                        "withdrawal_address_not_found"
                      ]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "account_not_found"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/auth/invalidate_jwt": {
      "get": {
        "summary": "Invalidate JWT",
        "description": "Invalidates all JWTs for the authenticated account. Requires valid auth.",
        "operationId": "invalidateJWT",
        "tags": ["Auth"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/markets": {
      "get": {
        "summary": "Get Markets",
        "description": "Returns available trading markets. Auth optional; when provided, returns markets available to the account.",
        "operationId": "getMarkets",
        "tags": ["Markets"],
        "responses": {
          "200": {
            "description": "Markets response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/MarketsResult"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "perps": {
                      "tradingPairs": [
                        {
                          "market": "AAPL-USD.P",
                          "baseIncrement": "0.01",
                          "quoteIncrement": "0.01"
                        }
                      ]
                    },
                    "tokenConfig": [
                      {
                        "id": "USDC",
                        "name": "USD Coin",
                        "decimals": 2,
                        "tokenDecimals": 6,
                        "networks": {}
                      }
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/sandbox_deposit": {
      "post": {
        "summary": "Sandbox Deposit",
        "description": "Credits the account with funds in sandbox environment only.",
        "operationId": "sandboxDeposit",
        "tags": ["Sandbox"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SandboxDepositRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deposit result",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/SandboxDepositResult"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "deposit_address": "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD18",
                    "txn_hash": "0xabc123def456..."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": ["invalid_network", "invalid_symbol"]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "invalid_network"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/sandbox_withdrawal": {
      "post": {
        "summary": "Sandbox Withdrawal",
        "description": "Debits the account in sandbox environment only.",
        "operationId": "sandboxWithdrawal",
        "tags": ["Sandbox"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SandboxWithdrawalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal result",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/WithdrawalResult"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "withdrawal_status": "WITHDRAWAL_PENDING",
                    "withdrawal_id": "w_9f8e7d6c5b4a3210",
                    "customer_withdrawal_id": "my-withdrawal-001"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "bad_withdrawal_address",
                        "insufficient_funds",
                        "internal_withdrawal_address",
                        "invalid_network",
                        "invalid_symbol",
                        "invalid_withdrawal_network",
                        "transfer_amount_precision_overflow",
                        "withdrawal_address_not_found",
                        "withdrawal_amount_too_small",
                        "withdrawal_duplicate_customer_withdrawal_id",
                        "withdrawal_error_insufficient_balance",
                        "withdrawal_failed",
                        "withdrawal_invalid_amount",
                        "withdrawal_limit_exceeded",
                        "withdrawal_missing_customer_withdrawal_id",
                        "withdrawal_system_error",
                        "withdrawal_try_later"
                      ]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "bad_withdrawal_address"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/withdraw": {
      "post": {
        "summary": "Withdraw",
        "description": "Submit a withdrawal request. Rate limited per account.",
        "operationId": "withdraw",
        "tags": ["Wallet"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["customer_withdrawal_id", "symbol", "network", "amount", "address"],
                "properties": {
                  "customer_withdrawal_id": {
                    "type": "string",
                    "description": "Unique ID for this withdrawal"
                  },
                  "symbol": {
                    "type": "string",
                    "description": "Coin to withdraw (e.g. USDC, SOL)"
                  },
                  "network": {
                    "type": "string",
                    "description": "Target network (e.g. ethereum, solana)",
                    "enum": ["avalanche", "ethereum", "solana"]
                  },
                  "amount": {
                    "type": "string",
                    "description": "Amount to withdraw"
                  },
                  "address": {
                    "type": "string",
                    "description": "Withdrawal destination address"
                  },
                  "from": {
                    "$ref": "#/components/schemas/AccountWalletKey"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal result",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/WithdrawalResult"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "withdrawal_status": "WITHDRAWAL_PENDING",
                    "withdrawal_id": "w_9f8e7d6c5b4a3210",
                    "customer_withdrawal_id": "my-withdrawal-001"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "bad_withdrawal_address",
                        "insufficient_funds",
                        "internal_withdrawal_address",
                        "invalid_network",
                        "invalid_symbol",
                        "invalid_withdrawal_network",
                        "service_unavailable",
                        "transfer_amount_precision_overflow",
                        "withdrawal_address_not_found",
                        "withdrawal_amount_too_small",
                        "withdrawal_duplicate_customer_withdrawal_id",
                        "withdrawal_error_insufficient_balance",
                        "withdrawal_failed",
                        "withdrawal_invalid_amount",
                        "withdrawal_limit_exceeded",
                        "withdrawal_missing_customer_withdrawal_id",
                        "withdrawal_system_error",
                        "withdrawal_try_later"
                      ]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "bad_withdrawal_address"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/provision_address": {
      "post": {
        "summary": "Provision Deposit Address",
        "description": "Provision a new deposit address for a given symbol/chain.",
        "operationId": "provisionAddress",
        "tags": ["Wallet"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProvisionAddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provisioned address",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/ProvisionAddressResult"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "chain": "ethereum",
                    "accountId": "10458932786832481",
                    "symbol": "USDC",
                    "address": "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD18"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": ["invalid_network", "invalid_symbol"]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "invalid_network"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/get_withdrawal_status": {
      "post": {
        "summary": "Get Withdrawal Status",
        "description": "Get status of one or more withdrawals.",
        "operationId": "getWithdrawalStatus",
        "tags": ["Wallet"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWithdrawalStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal status result",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/WithdrawalStatusResult"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "original_request": {
                      "account_id": "10458932786832481",
                      "customer_withdrawal_id": "my-withdrawal-001",
                      "symbol": "USDC",
                      "amount": "100.00",
                      "address": "0x054A94b753CBf65D1Bc484F6D41897b48251fbfF",
                      "network": "ethereum"
                    },
                    "withdrawal_id": "w_9f8e7d6c5b4a3210",
                    "txid": "0xabc123...",
                    "confirmation_number": 12,
                    "withdrawal_status": "WITHDRAWAL_SUCCESS"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/wallet/deposits": {
      "get": {
        "summary": "List Deposits",
        "description": "Returns deposit history for the authenticated account.",
        "operationId": "listDeposits",
        "tags": ["Wallet"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of deposits",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WalletDeposit"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": [
                    {
                      "coin": "USDC",
                      "size": "1000.00",
                      "status": "confirmed",
                      "txid": "0xabc123...",
                      "fromAddress": "0x054A94b753CBf65D1Bc484F6D41897b48251fbfF",
                      "time": "2025-01-15T10:30:00Z",
                      "currentConfirmations": 64,
                      "requiredConfirmations": 64,
                      "chainId": "1",
                      "usdValue": "1000.00"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/wallet/deposits/{depositID}": {
      "get": {
        "summary": "Get Deposit by ID",
        "description": "Returns a single deposit by transaction ID.",
        "operationId": "getDepositById",
        "tags": ["Wallet"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "depositID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deposit",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/WalletDeposit"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "coin": "USDC",
                    "size": "1000.00",
                    "status": "confirmed",
                    "txid": "0xabc123...",
                    "fromAddress": "0x054A94b753CBf65D1Bc484F6D41897b48251fbfF",
                    "time": "2025-01-15T10:30:00Z",
                    "currentConfirmations": 64,
                    "requiredConfirmations": 64,
                    "chainId": "1",
                    "usdValue": "1000.00"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": ["deposit_not_found"]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "deposit_not_found"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/wallet/withdrawals": {
      "get": {
        "summary": "List Withdrawals",
        "description": "Returns withdrawal history for the authenticated account.",
        "operationId": "listWithdrawals",
        "tags": ["Wallet"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of withdrawals",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WalletWithdrawal"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": [
                    {
                      "coin": "USDC",
                      "size": "500.00",
                      "status": "WITHDRAWAL_SUCCESS",
                      "address": "0x054A94b753CBf65D1Bc484F6D41897b48251fbfF",
                      "withdrawal_id": "w_9f8e7d6c5b4a3210",
                      "txid": "0xdef456...",
                      "customer_withdrawal_id": "my-withdrawal-001",
                      "time": "2025-02-20T15:45:00Z",
                      "usdValue": "500.00",
                      "usdFee": "0.00",
                      "chainId": "1",
                      "from": {
                        "id": "10458932786832481",
                        "wallet": "margin"
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/wallet/withdrawals/limit": {
      "get": {
        "summary": "Get Withdrawal Limits",
        "description": "Returns withdrawal limits for the authenticated account.",
        "operationId": "getWithdrawalLimits",
        "tags": ["Wallet"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Withdrawal limits",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/WithdrawalLimits"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "currentWithdrawalsUsd": "500.00",
                    "withdrawalLimitUsd": "50000.00"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/wallet/withdrawals/{withdrawalID}": {
      "get": {
        "summary": "Get Withdrawal by ID",
        "description": "Returns a single withdrawal by transaction ID.",
        "operationId": "getWithdrawalById",
        "tags": ["Wallet"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "withdrawalID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Withdrawal",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/WalletWithdrawal"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "coin": "USDC",
                    "size": "500.00",
                    "status": "WITHDRAWAL_SUCCESS",
                    "address": "0x054A94b753CBf65D1Bc484F6D41897b48251fbfF",
                    "withdrawal_id": "w_9f8e7d6c5b4a3210",
                    "txid": "0xdef456...",
                    "customer_withdrawal_id": "my-withdrawal-001",
                    "time": "2025-02-20T15:45:00Z",
                    "usdValue": "500.00",
                    "usdFee": "0.00",
                    "chainId": "1",
                    "from": {
                      "id": "10458932786832481",
                      "wallet": "margin"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": ["withdrawal_not_found"]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "withdrawal_not_found"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/wallet/deposit_address/list": {
      "post": {
        "summary": "List Deposit Addresses",
        "description": "Returns the list of deposit addresses for the account.",
        "operationId": "listDepositAddresses",
        "tags": ["Wallet"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepositAddressListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of deposit addresses",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/DepositAddress"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": [
                    {
                      "coin": "USDC",
                      "network": "ethereum",
                      "address": "0x742d35Cc6634C0532925a3b844Bc9e7595f2bD18",
                      "depositDestination": {
                        "id": "10458932786832481",
                        "wallet": "margin"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": ["invalid_network", "invalid_symbol", "too_few_items"]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "invalid_network"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/wallet/deposits/csv": {
      "post": {
        "summary": "Export Deposits CSV",
        "description": "Export deposits as CSV for a time range.",
        "operationId": "exportDepositsCsv",
        "tags": ["Wallet"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnixTimeRangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CSV file",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/wallet/withdrawals/csv": {
      "post": {
        "summary": "Export Withdrawals CSV",
        "description": "Export withdrawals as CSV for a time range.",
        "operationId": "exportWithdrawalsCsv",
        "tags": ["Wallet"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnixTimeRangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CSV file",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/wallet/address_book": {
      "get": {
        "summary": "Get Address Book",
        "description": "Returns withdrawal address book entries for the authenticated account.",
        "operationId": "getAddressBook",
        "tags": ["Wallet"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Address book",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/AddressBookResult"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "addressBook": [
                      {
                        "withdrawalAddress": "0x054A94b753CBf65D1Bc484F6D41897b48251fbfF",
                        "label": "My Ledger",
                        "lastUpdated": "2025-01-10T08:00:00Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "summary": "Edit Address Book Entry",
        "description": "Update label for a withdrawal address.",
        "operationId": "editAddressBookEntry",
        "tags": ["Wallet"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditWithdrawalAddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "account_not_found",
                        "bad_label",
                        "empty_label",
                        "withdrawal_address_not_found"
                      ]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "account_not_found"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "summary": "Remove Address Book Entry",
        "description": "Remove a withdrawal address from the address book.",
        "operationId": "deleteAddressBookEntry",
        "tags": ["Wallet"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWithdrawalAddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": ["account_not_found", "withdrawal_address_not_found"]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "account_not_found"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/api_keys": {
      "get": {
        "summary": "List API Keys",
        "description": "Returns API keys for the authenticated account.",
        "operationId": "listApiKeys",
        "tags": ["API Keys"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ApiKeyInfo"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": [
                    {
                      "keyId": "ondoKeyId_abc123",
                      "name": "Trading Bot",
                      "createdAt": "2025-01-01T00:00:00Z",
                      "scopes": ["trade", "transfer"],
                      "whitelistedIPs": ["192.168.1.1"]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Create API Key",
        "description": "Create a new API key. The secret is returned only once.",
        "operationId": "createApiKey",
        "tags": ["API Keys"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeysCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created API key (includes secret)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/ApiKeyCreateResult"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "keyId": "ondoKeyId_abc123",
                    "name": "Trading Bot",
                    "createdAt": "2025-01-01T00:00:00Z",
                    "scopes": ["trade", "transfer"],
                    "secretKey": "ondoApiSecret_abc123def456ghi789..."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": ["bad_query_param"]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "bad_query_param"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/api_keys/{apiKeyID}": {
      "delete": {
        "summary": "Delete API Key",
        "description": "Delete an API key by ID.",
        "operationId": "deleteApiKey",
        "tags": ["API Keys"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "apiKeyID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": ["api_key_not_found"]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "api_key_not_found"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/api_keys/{apiKeyID}/ip_whitelist": {
      "post": {
        "summary": "Set API Key IP Whitelist",
        "description": "Set or update IP whitelist for an API key.",
        "operationId": "setApiKeyIpWhitelist",
        "tags": ["API Keys"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "apiKeyID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyWhitelistRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": ["api_key_not_found", "too_many_ips"]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "api_key_not_found"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "summary": "Remove API Key IP Whitelist Entry",
        "description": "Remove an IP address from the whitelist for an API key.",
        "operationId": "deleteApiKeyIpWhitelist",
        "tags": ["API Keys"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "apiKeyID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["ip"],
                "properties": {
                  "ip": {
                    "type": "string",
                    "description": "IP address to remove from the whitelist"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IP removed from whitelist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": ["api_key_not_found"]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "api_key_not_found"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/counts/orders": {
      "get": {
        "summary": "Get Open Order Counts",
        "description": "Returns open order counts per market/product for the authenticated account.",
        "operationId": "getOrderCounts",
        "tags": ["Account"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Order counts",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/OpenOrderCounts"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "perps": {
                      "open": 3
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/perps/orders": {
      "post": {
        "summary": "Create Order",
        "description": "Creates a limit or market order. Change the \"type\" field to switch between order types. If `postOnly` is `true` and an order would match at placement, a 400 is returned with error `post_only_has_match`.\n",
        "operationId": "createOrder",
        "tags": ["Orders"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrderReq"
              },
              "example": {
                "clientOrderId": "order123",
                "market": "AAPL-USD.P",
                "price": "1.55",
                "side": "buy",
                "size": "20.30"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created order",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/ApiOrder"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "orderId": "197ec08e001658690721be129e7fa595",
                    "clientOrderId": "order123",
                    "side": "buy",
                    "price": "227.50",
                    "size": "10.00",
                    "market": "AAPL-USD.P",
                    "filledSize": "0.00",
                    "lastFillSize": "0.00",
                    "filledCost": "0.00",
                    "fee": "0.00",
                    "status": "open",
                    "createdAt": "2025-03-05T14:30:00Z",
                    "type": "limit",
                    "timeInForce": "GTC",
                    "reduceOnly": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "account_in_liquidation",
                        "clientOrderID_chars_invalid",
                        "clientOrderID_collision",
                        "clientOrderID_length_invalid",
                        "deprecated_field",
                        "insufficient_funds",
                        "insufficient_liquidity",
                        "insufficient_margin",
                        "invalid_market",
                        "invalid_market_order_fields",
                        "invalid_order_type",
                        "invalid_stop_order",
                        "invalid_time_in_force",
                        "mark_price_not_available",
                        "market_orders_disabled",
                        "must_use_delayed_path",
                        "net_position_too_large",
                        "order_invalid_price",
                        "order_invalid_size",
                        "order_matches_against_self",
                        "order_negative_price",
                        "order_negative_size",
                        "order_price_outside_min_max_bounds",
                        "order_price_outside_safe_bounds",
                        "post_only_has_match",
                        "price_over_ui_limit_10MM",
                        "redirect",
                        "reduce_only_flipping_position",
                        "reduce_only_increasing_position",
                        "reduce_only_invalid_tif",
                        "reduce_only_no_open_position",
                        "stop_order_crosses_mark_price",
                        "stop_order_crosses_order_price",
                        "stop_order_trigger_price_exceeds_max",
                        "stop_order_trigger_price_invalid_increment",
                        "stop_order_trigger_price_negative",
                        "too_many_open_orders",
                        "trading_disabled"
                      ]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "account_in_liquidation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "summary": "Get Orders",
        "description": "Returns a paginated list of orders matching the given parameters.",
        "operationId": "getOrders",
        "tags": ["Orders"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string",
              "example": "NQ5WWO3THN3Q===="
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Filter by trading market",
            "required": false,
            "schema": {
              "type": "string",
              "example": "AAPL-USD.P"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by order status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["open", "canceled", "fullyfilled"],
              "example": "open"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Filter orders placed at or after this time (UTC milliseconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1684814400000
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "Filter orders placed at or before this time (UTC milliseconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1672549200000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of orders, reverse chronological",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ApiOrder"
                          }
                        },
                        "pageInfo": {
                          "$ref": "#/components/schemas/PageInfo"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": [
                    {
                      "orderId": "197ec08e001658690721be129e7fa595",
                      "side": "buy",
                      "price": "227.50",
                      "size": "10.00",
                      "market": "AAPL-USD.P",
                      "filledSize": "5.00",
                      "lastFillSize": "2.50",
                      "filledCost": "1137.50",
                      "fee": "0.57",
                      "status": "open",
                      "createdAt": "2025-03-05T14:30:00Z",
                      "type": "limit",
                      "timeInForce": "GTC",
                      "reduceOnly": false
                    }
                  ],
                  "pageInfo": {
                    "nextCursor": "NQ5WWO3THN3Q====",
                    "prevCursor": "O4ZTGM3RGM2DG==="
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "bad_query_param",
                        "failed_to_parse_timestamp",
                        "invalid_cursor",
                        "invalid_market"
                      ]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "bad_query_param"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "summary": "Cancel All Orders",
        "description": "Cancels all orders for the authenticated user. Optionally restricted to a single market.\n",
        "operationId": "cancelAllOrders",
        "tags": ["Orders"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "description": "If specified, only cancel orders for this market",
            "required": false,
            "schema": {
              "type": "string",
              "example": "AAPL-USD.P"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": ["bad_query_param"]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "bad_query_param"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/perps/orders/batch": {
      "post": {
        "summary": "Create Batched Orders",
        "description": "Creates multiple orders in a single API call. Some orders may succeed while others fail. The response code is 2XX as long as there is no internal server error. Returns 400 with `error_code=batch_order_empty` if the `orders` array is empty. Returns 400 with `error_code=batch_order_too_many_orders` if too many orders are provided (max 20).\n",
        "operationId": "createBatchOrders",
        "tags": ["Orders"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchAddOrderReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch order result",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/BatchAddOrderRes"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "addedOrders": [
                      {
                        "orderId": "197ec08e001658690721be129e7fa595",
                        "side": "buy",
                        "price": "227.50",
                        "size": "10.00",
                        "market": "AAPL-USD.P",
                        "filledSize": "0.00",
                        "lastFillSize": "0.00",
                        "filledCost": "0.00",
                        "fee": "0.00",
                        "status": "open",
                        "createdAt": "2025-03-05T14:30:00Z",
                        "type": "limit"
                      }
                    ],
                    "failedOrders": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was malformed or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "error_code": {
                      "type": "string",
                      "enum": [
                        "account_in_liquidation",
                        "batch_order_empty",
                        "batch_order_too_many_orders",
                        "clientOrderID_chars_invalid",
                        "clientOrderID_collision",
                        "clientOrderID_length_invalid",
                        "deprecated_field",
                        "insufficient_funds",
                        "insufficient_liquidity",
                        "insufficient_margin",
                        "invalid_market",
                        "invalid_market_order_fields",
                        "invalid_order_type",
                        "invalid_stop_order",
                        "invalid_time_in_force",
                        "mark_price_not_available",
                        "market_orders_disabled",
                        "net_position_too_large",
                        "order_invalid_price",
                        "order_invalid_size",
                        "order_matches_against_self",
                        "order_negative_price",
                        "order_negative_size",
                        "order_price_outside_min_max_bounds",
                        "order_price_outside_safe_bounds",
                        "post_only_has_match",
                        "price_over_ui_limit_10MM",
                        "redirect",
                        "reduce_only_flipping_position",
                        "reduce_only_increasing_position",
                        "reduce_only_invalid_tif",
                        "reduce_only_no_open_position",
                        "stop_order_crosses_mark_price",
                        "stop_order_crosses_order_price",
                        "stop_order_trigger_price_exceeds_max",
                        "stop_order_trigger_price_invalid_increment",
                        "stop_order_trigger_price_negative",
                        "too_many_open_orders",
                        "trading_disabled"
                      ]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Description of the error",
                  "error_code": "account_in_liquidation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "summary": "Batch Cancel Orders",
        "description": "Cancels multiple orders in a single call. Returns results for each order. Provide a comma-separated list of order IDs via the `orderIDs` query parameter. Each entry can be an internal order ID or `client:{clientOrderID}`.\n",
        "operationId": "batchCancelOrders",
        "tags": ["Orders"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderIDs",
            "in": "query",
            "description": "Comma-separated list of order IDs to cancel",
            "required": true,
            "schema": {
              "type": "string",
              "example": "abc123,def456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch cancel result",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GenericResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/BatchCancelResult"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "result": {
                    "successfulCancels": [
                      {
                        "orderId": "197ec08e001658690721be129e7fa595",
                        "side": "buy",
                        "price": "227.50",
                        "size": "10.00",
                        "market": "AAPL-USD.P",
                        "filledSize": "0.00",
                        "lastFillSize": "0.00",
                        "filledCost": "0.00",
                        "fee": "0.00",
                        "status": "canceled",
                        "createdAt": "2025-03-05T14:30:00Z",
                        "canceledAt": "2025-03-05T14:35:00Z",
                        "type": "limit"
                      }
                    ],
                    "failedCancels": []
                  }
                }
              }
            }
          },
[...]
