@import '~@/scss/GlobalVariables';

.bootstrap-modal {
  .check-icon {
    border: 3px solid $border-green;
    border-radius: 200px;
    color: $text-color-green;
    font-size: 90px;
    margin-bottom: 15px;
    padding: 25px;
  }

  .title {
    // title
  }

  .content {
    // content
  }

  .close-button {
    // close button
  }
}

.wrap {
  .send-form {
    padding: 40px 60px 0;

    .title-container {
      align-items: flex-end;
      display: flex;
      margin-bottom: 10px;

      .title {
        padding: 0 8px;
        display: flex;
        width: 100%;
        div {
          h4 {
            margin-bottom: 2px;
          }
        }
        
        .form-controller {
          margin-left: auto;
          display: flex;
          p {
            margin-left: 25px;
          }
        }
      }
    }

    .gas-amount {
      position: relative;

      textarea {
        background-color: $background-color-1;
        border: 0;
        padding: 13px 15px;
        width: 100%;
        resize: none;
        min-height: 200px;
      }
    }
  } // .send-form
  
  .submit-button-container {
    padding: 60px 0 200px;
    text-align: center;

    .submit-button {
      margin: 0 auto;
      text-align: center;
      width: 300px;
    }

    p {
      margin-top: 20px;
    }
  }
}
