@import '~@/scss/GlobalVariables';
.fake-input {
  background: $light-blue-9;
  border-radius: 4px;
  display: table;
  height: 52px;
  width: 100%;

  .file-name {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
  }
}

.dapp-icon-label {
  max-width: 14%;
  width: 100%;
}

.image-label {
  align-items: center;
  display: flex;
  height: 223px;
  text-align: center;
  vertical-align: middle;
  i {
    color: $light-grey-8;
    font-size: 60px;
  }
}

.image-placeholder {
  width: 100%;
}

.image-container {
  cursor: pointer;
  display: table;
  height: 223px;
  position: relative;
  width: 90%;
}

.image-text {
  color: $dark-grey-9;
  font-family: 'Avenir Next';
  font-size: 14px;
}

.image-requirements {
  color: $light-grey-11;
  font-family: 'Avenir Next';
  font-weight: normal;
}

.upload-btn {
  background-color: $white;
  border-radius: 4px;
  border: 1px solid $mew-green;
  color: $mew-green;
  height: 52px;
  width: 112px;
}

.upload-btn-wrapper {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.input-tags-container {
  display: flex;
  align-items: center;

  span {
    color: $red-9;
    font-size: 16px;
    padding-left: 10px;
  }
}
.tag-wrapper {
  max-width: 90%;
  overflow: auto;
  position: relative;
  width: 90%;

  .dapp-tags-input {
    max-width: 100%;
    width: 100%;
    padding-left: 10.5px;
  }
}

.tag-holder {
  display: flex;
  justify-content: space-around;
  left: 5px;
  position: absolute;
  top: 13px;
}

.suggested-tags-container {
  margin-top: 15px;
  margin-left: 15px;
  text-align: left;
  .title {
    text-transform: uppercase;
    font-weight: 500;
    color: $light-blue-7;
  }
  .tags {
    color: $dark-blue-2;
    font-weight: normal;
    span {
      margin-right: 15px;
    }
  }
}

.custom-file {
  border-radius: 6px;
  border: 1px dashed $dark-grey-11;
  cursor: pointer;
  height: 223px;
  position: absolute;
}

.replace-label {
  color: $mew-green;
  cursor: pointer;
  font-weight: normal;
  text-align: right;
  width: 100%;
}

.dapp-icon-uploaded {
  &.image-container {
    height: 180px;
  }
  .image-placeholder {
    margin-left: 150px;
    text-align: left;
    position: absolute;
    width: 50%;
  }
  .image-label {
    align-items: normal;
    height: 100%;
    margin-top: 20px;
  }
  .image-text {
    margin-top: 20px;
  }
  .custom-file {
    height: 118px;
    width: 118px;
  }
  .dapp-icon-img {
    height: 118px;
    width: 118px;
  }
}

.banner-uploaded {
  &.image-container {
    height: 200px;
  }
  .image-label {
    height: 150px;
  }
  .banner-img {
    border-radius: 4px;
    height: 99px;
    width: 100%;
  }
  .custom-file {
    height: 99px;
  }
  .image-placeholder {
    margin-left: 20px;
    margin-top: 90px;
    position: absolute;
    text-align: left;
  }
  .replace-label {
    text-align: right;
    width: 100%;
  }
}
