@import '~@/scss/GlobalVariables';


.about-dapp-container {
  form {
    .form-group {
      label {
        text-align: left;
        font-weight: 600;
        font-size: 16px;
        margin-top: 5px;
      }
    }
  }
}