@import '~@/scss/GlobalVariables';

.about-dapp-container {
  .form-group {
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;

    input {
      margin-top: 10px;
    }

    select {
      margin-top: 10px;
    }
  }
}
