@import '~@/scss/GlobalVariables';
a {
  text-decoration: none;
}

.metamask-modal-content {
  padding: 40px;
}

.button-container {
  margin-bottom: 20px;
  button {
    display: inline-block;
    width: 100%;
  }
}

.modal-metamask {
  .modal-multi-icons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

    img {
      padding: 0 13px;
    }

    .logo-small {
      max-height: 90px;
    }
  }

  .content-container {
    margin-bottom: 30px;

    h4 {
      font-weight: 500;
      line-height: 28px;
      font-size: 20px;
      margin: 0 auto;
      max-width: 400px;
    }
  }
}

.accept-terms {
  text-align: center;
  margin-bottom: 30px;

  a {
    text-decoration: underline;
  }
}
