@import '~@/scss/GlobalVariables';
.button-container {
  button {
    display: inline-block;
    width: 100%;
  }

  a {
    color: $white;
  }
}

.modal-metamask {
  .modal-multi-icons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

    img {
      padding: 0 13px;
    }

    .logo-small {
      max-height: 90px;
    }
  }

  .content-container {
    margin-bottom: 30px;

    h4 {
      font-weight: 400;
      line-height: 22px;
      margin: 0 auto;
      max-width: 400px;
    }
  }
}
