@import "~@/scss/Globals.scss";
@import "~@/scss/GlobalVariables.scss";

.wrap{
  background-color: #05c0a5;
  padding: 70px 0;
  @media all and (max-width: $tablet-width){
    padding: 50px 0;
  }

  .content{
    @media all and (max-width: $tablet-width){
      //flex-direction: column;
      display: block;
      padding: 0;
    }
    
    .title{
      color: white;
      @media all and (max-width: $tablet-width){
        margin-bottom: 30px;
      }
      h2{

      }
    }
    .buttons{
      margin-left: auto;
      display: flex;
      @media all and (min-width: $mobile-width + 1) and (max-width: $tablet-width){
        &>div{
          &:last-child span{
            margin: 0 0 0 7px;
          }
          &:first-child span{
            margin: 0 7px 0 0;
          }
        }
      }

      @media all and (max-width: $mobile-width){
        &>div{
          flex: 1;
          &:last-child span{
            margin: 0 0 0 7px;
          }
          &:first-child span{
            margin: 0 7px 0 0;
          }
        }
      }

      span{
        margin-left: 20px;
        display: block;
        padding: 20px 45px;
        @media all and (min-width: $mobile-width + 1) and (max-width: $tablet-width){
          display: block;
          text-align: center;
          line-height: 15px;
          font-size: 11px;
          padding: 18px 45px;
        }

        @media all and (max-width: $mobile-width){
          display: block;
          text-align: center;
          line-height: 15px;
          font-size: 11px;
          padding: 18px 15px;
        }

      }
    }
  }
}// .wrap
