@import '~@/scss/GlobalVariables';

.modal-container {
  .balance {
    .content-block {
      margin: 0;
      padding: 25px 35px;

      h4 {
        font-weight: 600;
        color: $text-color-8;

        span {
          color: $text--link-color;
          font-size: 13px;
        }
      }

      .total-balance-amount {
        font-size: 22px;

        span {
          font-size: 22px;
          font-weight: 600;
        }
      }

      .flex-container {
        align-items: center;
        display: flex;

        .margin-left-auto {
          margin-left: auto;
        }
      }
    } // .content-block

    .total-balance {
      background-color: $light-grey-1;
      padding: 15px 35px;
    }

    .equivalent-values-title {
      margin-bottom: 20px;
    }

    .equivalent-values {
      li {
        display: flex;
        padding: 14px;
        background-color: $light-grey-1;
        margin-bottom: 5px;
        align-items: center;

        img {
          margin-right: 10px;
        }

        .ev-value {
          margin-left: auto;
          font-weight: 600;
        }
      }
    }
  } // .network
} // .modal-container
