@import '../InformationBlock';

.address {
  background-color: $transaction-block-address;
}

.hidden-input {
  opacity: 0;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.blockie-image {
  border: 4px solid white;
  $blockie-size: 60px !important;

  height: $blockie-size;
  width: $blockie-size;
  margin-right: 10px;
}
