@import '../InformationBlock';

.address {
  background-color: $transaction-block-address;
}

.hidden-input {
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.custom-tooltip {
  background: none;
  border: 0;
  padding: 0;
}

.blockie-image {
  border: 4px solid white;
  $blockie-size: 60px !important;
  height: $blockie-size;
  width: $blockie-size;
  margin-right: 10px;
}
