@import '~@/scss/GlobalVariables';
@media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
  ::-webkit-scrollbar {
    width: 0 !important;
  }

  .send-offline-container {
    border-radius: 5px;
    grid-area: main;
    margin-bottom: 10px;
    background: $background-color-white;
  }

  .progress-status-container {
    overflow-x: auto;
  }

  .progress-status {
    background-color: #f9f9f9;
    border-bottom: 1px solid $opaque-black-9;
    box-shadow: 0 2px 0 $black;
    display: grid;
    width: 100%;
    grid-template-columns: 27% 27% 27%;
    justify-content: space-evenly;
    text-align: center;

    @media all and (max-width: 730px) {
      width: 700px;
    }

    > div {
      cursor: pointer;
      padding-bottom: 18px;
      padding-top: 24px;

      p {
        color: $text-color-9;
        display: block;
        margin: 0 auto;
      }

      .title {
        font-weight: 600;
        font-size: 18px;
      }
    }

    .active {
      border-bottom: 4px solid $black;

      p {
        color: $text-black;
      }
    }
  } // .progress-status
} // @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width)
