@import '~@/scss/GlobalVariables';
@media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
  .page-container {
    margin: 0 auto;
  }

  .wallet-not-found {
    background-color: $about-mew-spaceman-background-color;
    position: relative;
  }

  .wallet-not-found .wrap {
    height: 700px;
    background-image: url('~@/assets/images/background/404bg.jpg');
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;

    .content-block {
      position: relative;

      .block-title {
        color: $text-white;
        font-weight: 700;
        font-size: 42px;
        text-align: center;
      }

      .buttons {
        text-align: center;
        margin-top: 60px;

        > a {
          margin: 0 0 10px 0;
          display: block;
        }
      }

      .spaceman {
        position: absolute;
        bottom: -181px;
        left: 0%;

        img {
          height: 200px;
          transform: rotate(-45deg);
        }
      }
    }
  }
} // @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width)
