@import '~@/scss/GlobalVariables';

.wrap {
  background-color: $background-color-1;
  padding: 60px 0;

  .page-container {
    text-align: center;
    padding: 60px 0;

    .page-header {
      p {
        max-width: 700px;
        margin: 0 auto;
      }
    }
  }

}// .wrap
