@import '../InformationPages/InformationPages';
.page-container {
  max-width: 1280px;
  padding-bottom: 80px;
}

.team-info {
  .member {
    img {
      width: 100%;
    }

    .text {
      padding: 30px 0;
      text-align: center;

      h4 {
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 4px;
      }

      h6 {
        color: $text-color-3;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
      }
    }
  }
}

// Desktop
@media all and (min-width: calc(#{$tablet-width} + 1px)) {
  .team-info {
    margin-top: 100px;
    display: grid;
    grid-row-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Tablet
@media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
  .team-info {
    //margin-top: 60px;
    margin: 80px -25px 0 -25px;
    display: grid;
    grid-row-gap: 80px;
    grid-template-columns: 1fr 1fr;

    @media all and (max-width: 580px) {
      grid-template-columns: 1fr;
    }
  }
}

// Mobile
@media all and (max-width: $mobile-width) {
  .team-info {
    margin: 60px -25px 0 -25px;
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: 1fr;
  }
}
