@import '~@/scss/GlobalVariables';

.input-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  input {
    background-color: $light-grey-2;
    border: none;
    padding: 15px;
  }

  label {
    color: $dark-blue-12;
    font-weight: bold;
  }
}

%keystore-inputs {
  align-items: center;
  display: flex;
  width: 100%;
}

.keystore-filepath-input {
  @extend %keystore-inputs;

  input {
    flex: 1;
    margin-right: 20px;
  }
}

.keystore-password-input {
  @extend %keystore-inputs;

  position: relative;

  img {
    cursor: pointer;
    position: absolute;
    right: 10px;
  }

  input {
    flex: auto;
  }
}

.hidden {
  display: none !important;
}

.keystore-submit {
  background-color: $mew-green;
  border: 1px solid $white;
  border-radius: 6px;
  color: $white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 40px;
  user-select: none;
  margin-top: 10px;
  width: 100% !important;
}

.disable-file-input {
  pointer-events: none;
}

.disabled {
  background-color: $dark-grey-11 !important;
  border: 1px solid $dark-grey-11;
  color: $light-grey-6;
  pointer-events: none;
}
