@import '~@/scss/GlobalVariables';
@media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
  .wrap {
    background-color: $background-color-1;
    padding: 45px 0;
  }

  .title {
    margin-bottom: 50px;
    text-align: center;
  }

  .buttons-container {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 228px);
    justify-content: center;
    margin: 0 auto;
    overflow-y: auto;
    position: relative;
    text-align: center;
    max-width: 725px;
  }
}
