@import '~@/scss/GlobalVariables';
body {
  font-family: 'Avenir Next';
}

.about-your-dapp {
  display: inline-block;
}

.dapp-container-right {
  display: inline-block;
  vertical-align: top;
}

.dapp-container {
  text-align: center;
}

.dapp-progress-bar {
  height: 5px;
}

.fake-form {
  opacity: 0;
}
