@import '~@/scss/GlobalVariables';

.wrap {
  border: 1px solid $light-grey-3;
  padding: 35px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.block-icon {
  margin-right: 30px;
}

.block-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  color: $dark-blue-11;
}

.email {
  margin-top: 20px;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  span {
    font-weight: 500;
    font-size: 16px;
  }

  i {
    font-size: 25px;
    margin-left: 10px;
  }
}

.social {
  margin-top: 15px;
  display: flex;

  div {
    margin-right: 15px;
    img {
      height: 30px;
    }
  }
}
