@import '~@/scss/GlobalVariables';
@import '../DashboardButtons';

.content-container {
  background-color: $dark-blue-2;
}

.left {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
}

.right {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50%;
}

.spaceman {
  position: absolute;
  right: 8%;
  top: 6%;
  height: 116%;
}

p {
  color: $white;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: calc(50% - 10px);
  left: 12%;
  text-shadow: 2px 2px 0 $black;
}
