@import '~@/scss/GlobalVariables';

.wallet-info-container {
  margin: 10px 0 20px;
  width: 100%;

  .wallet-info-header {
    width: 100%;
    padding: 10px 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: $dark-blue-12;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .address-and-blockie {
      display: flex;

      .blockie-container {
        border-radius: 50%;
        border: 2px solid $white;
        margin-right: 20px;
      }
    }

    .address-and-nickname-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        color: $white;
      }

      img {
        cursor: pointer;
      }
      input {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
    }

    .wallet-options {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 60px;

      i {
        color: $white;
        cursor: pointer;
      }

      .heart-color {
        color: $red-7 !important;
      }
    }
  }
}

.wallet-info-body {
  background-color: $white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 30px 30px;

  .low-eth-warning {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .warning-container {
      align-items: center;
      background-color: $light-orange-3;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      width: 100%;

      img {
        cursor: pointer;
      }

      .actual-warning {
        color: $dark-blue-2;
      }
    }
    .link-container {
      min-width: 95px;
      padding-left: 10px;

      a {
        border: 1px solid $mew-green;
        border-radius: 5px;
        padding: 15px 10px;
      }
    }
  }

  .main-wallet-content {
    display: flex;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    padding-top: 20px;

    .view-all-container {
      align-items: center;
      display: flex;

      p {
        color: $mew-green;
        cursor: pointer;
        margin-right: 10px;
      }

      i {
        color: $mew-green;
      }
    }

    .disable-token-show {
      pointer-events: none;

      p,
      i {
        color: $dark-grey-11 !important;
      }
    }

    .wallet-img-container {
      background-color: $orange-1;
      border-radius: 50%;
      height: 40px;
      margin-right: 20px;
      padding: 8px 11px;
      width: 40px;

      img {
        height: 20px;
        width: 20px;
      }
    }

    .no-background {
      background: none !important;
      border-radius: 0 !important;
    }

    .main-wallet-content-container {
      display: flex;
      justify-content: space-between;
      width: 70%;
    }

    .wallet-value-with-img {
      display: flex;
    }

    .wallet-value-container {
      .title {
        font-weight: bold;
        color: $light-blue-7;
      }

      .dollar-amt {
        font-weight: bold;
        color: $dark-blue-2;
        font-size: 16px;
      }

      .value {
        color: $dark-grey-11;
      }
    }
  }

  .wallet-tokens {
    max-height: 200px;
    overflow: auto;
    margin-top: 30px;

    table {
      width: 100%;
    }

    .name-container {
      align-items: center;
      display: flex;

      .token-icon {
        border-radius: 50%;
        margin-right: 15px;

        img {
          height: 50px;
          width: 50px;
        }

        svg {
          height: 50px;
          width: 50px;
        }
      }
    }

    .table-header {
      background-color: $light-grey-2;

      th {
        color: $light-blue-2 !important;
        text-align: center;
        padding: 5px 15px;
      }
    }

    .table-body {
      td {
        height: 60px;
        text-align: center;
      }
    }
  }

  .green {
    color: $mew-green;
  }

  .red {
    color: $red-7;
  }
}
