@import "~@/scss/GlobalVariables.scss";

.wrap{
  padding: 80px 0;
  @media all and (max-width: $tablet-width){
    padding: 40px 0 60px 0;
  }
  .content{
    @media all and (max-width: $tablet-width){
      display: block;
    }

    .title{
      h5{
        line-height: 21px;
      }
    }

    .icons{
      margin-left: auto;
      display: flex;
      @media all and (max-width: $tablet-width){
        margin-top: 50px;
      }

      @media all and (max-width: $mobile-width){
        justify-content: space-around;
      }


      &>a:first-child>div{
        margin-left: 0;
      }
      &>a>div{
        margin-left: 30px;
        display: flex;
        flex-direction: column;

        @media all and (max-width: $mobile-width){
          margin-left: 0px;
          margin-right: 0px;
        }
        img{
          margin: 0 auto;
        }
        p{
          text-align: center;
        }
      }

      $mobile-subtract-value: 10;

      div{
        img{
          $icon-size: 64px;
          width: $icon-size;
          height: $icon-size;
          padding-bottom: 9px;
          @media all and (max-width: $mobile-width){
            $mobile-icon-size: $icon-size - $mobile-subtract-value;
            width: $mobile-icon-size;
            height: $mobile-icon-size;
          }
        }
      }

    }
  }
}// .wrap
