@import "~@/scss/GlobalVariables.scss";

.wrap{
  .header-container{
    display: flex;
    padding: 30px 0;
    @media all and (max-width: $tablet-width){
      padding: 15px 0;
    }
    .top-logo{
      img{
        height: 40px;
      }
    }

    .top-menu{
      margin-left: auto;
      @media all and (max-width: $tablet-width){
        display: none;
      }
      ul{

        li{
          display: inline-block;
          margin-left: 40px;
          padding: 13px 0;
          font-size: 15px;
          a{
            color: $body-text-color-1;
          }

          .country-flag{
            height: 13px;
            margin-right: 7px;
            vertical-align: bottom;
          }

          i{
            font-size: 14px;
            vertical-align: top;
            margin-left: 3px;
          }

        }
      }
    }// .top-menu

    .mobile-menu{
      display: none;
      margin-left: auto;
      @media all and (max-width: $tablet-width){
        display: block;
      }
      .mobile-menu-button{
        padding: 5px;
        div{
          background-color: black;
          width: 30px;
          height: 4px;
          margin-bottom: 5px;
          border-radius: 2px;
        }
        .bar-1{

        }
        .bar-2{
          
        }
        .bar-3{
          width: 15px;
          margin: 0;
        }
      }
    }// .mobile-menu
  }// .header-container
}// .wrap
