//@import '~@/scss/GlobalVariables';

.review-step {
  color: #566679;
  flex-direction: column;
  .main-title {
    text-align: center;
    margin-bottom: 10px;
    @media all and (max-width: 500px) {
      margin-top: 30px;
    }
  }
  div {
    justify-content: space-between;
  }
  .review-container {
    @media all and (max-width: 414px) {
      margin-top: 20px;
    }
  }
  .address-container,
  .review-container {
    background-color: #f2fafa;
    border-radius: 5px;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    .eth-value {
      color: #003b48;
      font-weight: 500;
    }
    .convert-value {
      color: #cecece;
    }
    .number {
      color: #5a78f0;
    }
    .title {
      color: #003b48;
      font-size: 16px;
      font-weight: 600;
      margin-top: 10px;
    }
    .address {
      color: #506175;
    }
  }
  .align-right,
  .eth-value {
    text-align: right;
  }
  .checkboxes-container {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: start;
    align-self: center;
    max-width: 650px;
    padding-bottom: 40px;

    .switch {
      align-items: start;
      justify-content: start;
      width: 100%;
      span {
        text-align: left;
      }
      .link {
        color: #05c0a5;
      }

      input[type='checkbox']::after {
        content: ' ';
        background-color: #05c0a5;
        color: #fff;
        display: inline-block;
        visibility: visible;
      }

      input {
        margin-right: 10px;
        margin-top: 4px;
      }
    }
  }
}
