@import '~@/scss/GlobalVariables';

.content-block {
  position: relative;
  img {
    max-height: 200px;
  }

  .text-content {
    position: absolute;
    left: 43px;
    top: 27px;

    h3,
    p {
      color: $black;
    }

    h3 {
      font-size: 1.7vw;
      font-weight: 600;
      margin-bottom: 5px;
    }

    p {
      font-size: 1vw;
      font-weight: 400;
      line-height: 1.3vw;
    }
  }
}
