// Colors
$color-white: #fff;
$color-green: #05c0a5;
$form-background: #f9f9f9;

.password-input {
  position: relative;
}

.show-password-icons {
  position: absolute;
  right: 20px;
  top: 17px;
  cursor: pointer;
}
