@import '~@/scss/GlobalVariables';
@media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
  .dapps-button {
    border-radius: 5px;
    cursor: pointer;
    padding: 40px 20px;
    text-align: center;
    height: 100%;
    background: rgb(241, 250, 250);

    &:hover {
      background-color: #c9f2ed;
    }
  }

  img {
    margin-bottom: 15px;
  }

  h4 {
    margin-bottom: 5px;
  }

  p {
    padding: 0 10px;
  }
} // @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width)
