@import '~@/scss/GlobalVariables';

.dapps-button {
  background: $light-green-4;
  border: 1px solid $light-green-4;
  border-radius: 5px;
  color: $black;
  cursor: pointer;
  height: 100%;
  padding: 40px 20px;
  text-align: center;

  &:hover {
    border: 1px solid $mew-green;
    background-color: $light-green-6;
  }

  img {
    margin-bottom: 15px;
  }

  h4 {
    margin-bottom: 5px;
  }

  p {
    padding: 0 10px;
  }

  // a {
  //   color: black;
  // }
}
