@import '~@/scss/GlobalVariables';
.tag-container {
  background-color: $light-blue-7;
  border-radius: 5px;
  color: $white;
  display: inline-flex;
  font-size: 14px;
  font-weight: normal;
  margin-left: 2px;
  padding: 2px;

  span {
    cursor: pointer;
  }
}
