@import '~@/scss/GlobalVariables';

.bootstrap-modal {
  .check-icon {
    border: 3px solid $border-green;
    border-radius: 200px;
    color: $text-color-green;
    font-size: 90px;
    margin-bottom: 15px;
    padding: 25px;
  }
}

.modal-content-block {
  padding: 40px 40px;
  @media all and (max-width: $mobile-width) {
    padding: 40px 20px;
  }
}

.buttons {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 0 !important;
  margin-top: 30px;

  > * {
    text-decoration: none;
    display: block;
    margin-top: 10px;
  }
}
