@import '~@/scss/GlobalVariables';
@import '~@/layouts/ExtensionBrowserAction/wrappers/MewcxModalWrapper/MewcxModalInputs';
.warning-text-container {
  max-width: 700px;
  margin: auto;

  .modal-contents {
    max-width: 405px;
    margin: auto;
  }

  p {
    font-size: 16px !important;
  }

  h2 {
    color: $dark-blue-6;
    font-weight: bold;
    text-align: center;
  }

  h3 {
    text-align: center;
    margin-bottom: 15px;
  }

  .text-container {
    padding: 10px 30px;
  }
}

.remove-modal-buttons {
  .remove {
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: $red-7;
    border: 1px solid $red-7;
    color: $white;
  }

  .remove-wallet-warning {
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    background-color: $light-orange-3;
    padding: 30px;

    .warning-image {
      margin-right: 15px;
    }

    span {
      color: $red-5;
    }
  }

  .disabled {
    background-color: $dark-grey-11 !important;
    pointer-events: none !important;
    border: 1px solid $dark-grey-11 !important;
  }
}
