@import '~@/scss/GlobalVariables';

.wrap {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 270px 1fr;

  .side-nav {
    // background-color: yellow;
  }

  .contents {
    background-color: $background-color-1;
    padding: 40px 60px;

    .tx-contents {
      display: grid;
      grid-gap: 15px;
      grid-template-areas: 'info-1 info-2 info-3' 'main main tokens';
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;

      .main-content {
        background-color: $background-color-white;
        border-radius: 5px;
        grid-area: main;
        overflow: hidden;

        .content-title {
          // box-shadow: 0 1px 1px $box-shadow-color-2;
          border-bottom: 2px solid $background-color-1;
          padding: 17px 0;

          h2 {
            border-left: 5px solid $background-color-2;
            font-size: 24px;
            font-weight: 500;
            line-height: 37px;
            margin: 0;
            padding: 0;
            padding-left: 27px;
          }
        }

        .send-form {
          padding: 40px 60px 0;

          .title {
            margin-bottom: 10px;
            padding: 0 8px;

            h4 {
              margin-bottom: 2px;
            }
          }

          .form-block {
            border-radius: 5px;

            .the-form {
              background-color: $background-color-1;
              border-radius: 5px;
            }
          }

          .amount-to-address {
            display: grid;
            grid-column-gap: 5px;
            grid-template-columns: 2fr 3fr;

            .amount {

              .dropdown-select-search {
                background-color: $background-color-1;
                margin-bottom: 5px;
              }

              .amount-number {
                input {
                  background-color: transparent;
                  border: 0;
                  padding: 13px 15px;
                  width: 100%;
                }
              }
            }

            .to-address {
              .title {
                align-items: center;
                display: flex;
                position: relative;

                img {
                  height: 50px;
                  left: 98px;
                  position: absolute;
                  top: -14px;
                }

                .copy-button {
                  color: $text--link-color;
                  cursor: pointer;
                  margin-left: auto;
                }
              }

              .address-block {
                height: 98px;

                textarea {
                  background-color: transparent;
                  border: 0;
                  height: 100%;
                  padding: 13px 15px;
                  resize: none;
                  width: 100%;
                }
              }
            }
          }

          .gas-amount {
            input {
              background-color: $background-color-1;
              border: 0;
              padding: 13px 15px;
              width: 100%;
            }
          }
        } // .send-form

        .advanced {
          padding-top: 10px;

          .advanced-content {
            border-bottom: 2px solid $background-color-1;
            border-top: 2px solid $background-color-1;
            display: flex;
            padding: 0 8px;
            padding-bottom: 20px;
            padding-top: 20px;

            .toggle-button {
              align-items: center;
              display: flex;
              margin-left: auto;

              span {
                margin-right: 10px;
              }
            }
          }
        } // .advanced

        .submit-button-container {
          padding: 60px 0;
          text-align: center;

          .submit-button {
            margin: 0 auto;
            text-align: center;
            width: 300px;
          }

          p {
            margin-top: 20px;
          }
        }
      }

      .tokens {
        border-radius: 5px;
      }
    }
  }
}
