@import '~@/scss/GlobalVariables';

.wrap {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 270px 1fr;

  .side-nav {
    // background-color: yellow;
  }

  .contents {
    background-color: $background-color-1;
    padding: 40px 60px;

    .tx-contents {
      display: grid;
      grid-gap: 15px;
      grid-template-areas: 'info-1 info-2 info-3' 'main main tokens';
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      margin-top: 15px;

      .main-content {
        background-color: $background-color-white;
        border-radius: 5px;
        grid-area: main;
        overflow: hidden;

        .title {
          box-shadow: 0 1px 1px $box-shadow-color-2;
          padding: 17px 0;

          h2 {
            border-left: 5px solid $background-color-2;
            font-size: 24px;
            font-weight: 500;
            line-height: 37px;
            margin: 0;
            padding: 0;
            padding-left: 27px;
          }
        }

        .status {
          background-color: $background-color-1;
          // display: flex;
          display: none;
          margin-top: 1px;
          padding: 0 20px;
          text-align: center;

          >div {
            flex: 1;
          }

          .status-block {
            padding-top: 24px;

            p {
              line-height: 17px;
            }

            p:nth-child(1) {
              font-weight: 600;
            }

            p:nth-child(2) {
              display: inline-block;
              padding: 0 8px 18px;
            }

            &.active {
              p:nth-child(2) {
                border-bottom: 4px solid $border-color-3;
              }
            }
          } // .status-block
        } // .status

        .send-form {
          padding: 30px;
        } // .send-form
      }

      .tokens {
        border-radius: 5px;
      }
    }
  }
}
