@import '~@/scss/GlobalVariables';

.password-form {
  display: flex;
  flex-direction: column;

  input {
    background-color: $background-color-1;
    border: 0;
    font-size: 14px;
    margin-bottom: 40px;
    padding: 20px;
    width: 100%;
  }

  .submit-button {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    max-width: 300px;
    padding: 20px 0;
    text-align: center;
    width: 100%;

    &:disabled {
      background-color: $disabled;
      cursor: auto;
      pointer-events: none;
    }

    img {
      margin-left: 5px;
      width: 20px;
    }
  }
}

.error {
  color: $text-color-red;
}

.input-container {
  position: relative;

  img {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 22px;
  }
}

.modal-body {
  padding: 0 !important;
}
