@import '~@/scss/GlobalVariables';

.wrap {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  align-items: center;
}

select, input {
  width: 100%;
  border: 0;
  background-color: white;
  padding: 13px 13px;
  border-radius: 4px;

}

select {
  margin: 0;
  margin-bottom: 5px;
  position: relative;
}

input {
  
}

.select-block {
  position: relative;

  .select-down-arrow {
    position: absolute;
    top: 8px;
    right: 0px;
    font-size: 22px;
    background-color: white;
    width: 34px;
    pointer-events: none;
    font-weight: 400;
  }  
}


.block-center {
  text-align: center;
}