@import '~@/scss/GlobalVariables';

.network-info-container {
  align-items: center;
  background-color: $light-grey-2;
  display: flex;
  font-size: 14px;
  height: 43px;
  padding: 0 27px;

  .line {
    border-left: 1px solid $black;
    margin-left: 19px;
    height: 20px;
    padding-right: 18px;
  }

  p {
    span {
      color: $dark-grey-11;
    }
  }
}

.modal-content-body {
  max-height: 350px;
  overflow-y: scroll;
  padding: 0 19px;
}

.item {
  background-color: $light-green-1;
  border-radius: 4px;
  margin-top: 10px;

  .header {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    height: 72px;

    &.collapsed {
      .fa-angle-down {
        display: inherit;
      }
      .fa-angle-up {
        display: none;
      }
    }

    &:not(.collapsed) {
      .fa-angle-up {
        display: inherit;
      }

      .fa-angle-down {
        display: none;
      }
    }

    .header-item {
      align-items: center;
      display: flex;
      justify-content: space-around;
      height: 72px;

      span {
        color: $dark-grey-11;
      }

      p {
        font-size: 16px;
        font-weight: bold;

        span {
          color: $dark-grey-2;
          font-weight: normal;
        }
      }

      img {
        margin-right: 10px;
        width: 40px;
      }
    }
  }

  .body {
    border-top: 1px solid $light-grey-3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 26px;

    .body-item {
      display: flex;
      justify-content: space-between;

      .item-title {
        color: $dark-grey-11;
      }

      .data-string {
        overflow: hidden;
        max-width: 200px;
        text-overflow: ellipsis;
      }
    }
  }
}

.submit-button-container {
  padding: 60px 0;
  text-align: center;

  .submit-button {
    margin: 0 auto;
    text-align: center;
    width: 300px;
  }

  p {
    margin-top: 20px;
  }
}
