@import "~@/scss/GlobalVariables";

.back-container {
  cursor: pointer;
  display: flex;
  align-items: cneter;
  background-color: $background-color-white;
  border-bottom: 2px solid $background-color-1;

  .back-icon-container {
    border: 1px solid $black;
    border-radius: 50%;
    display: flex;
    font-size: 13px;
    font-weight: 300;
    justify-content: center;
    margin-right: 10px;
    padding: 6px;
    width: 28px;
    height: 28px;

    i {
      font-size: inherit;
      font-weight: inherit;
      margin-right: 0;
    }
  }

  .content-title {
    align-items: center;
    display: flex;
    padding: 20px 25px;

    p {
      color: $text-black;
      font-weight: 500;
    }
  }
}

.right-slot {
  margin-left: auto;
}
