@import '~@/scss/GlobalVariables';

.kyc-string-input {
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  input {
    background-color: $background-color-1;
    border: 0;
    font-size: 14px;
    padding: 20px;
    margin: 5px 0;
    width: 100%;
  }
}
.kyc-radio-input {
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  .radio-inputs {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    div {
      padding: 30px;
    }

    label {
      padding-right: 10px;
    }
  }
}

.move-on-buttons {
  padding-top: 10px;

  .back,
  .next {
    color: $mew-green;
    cursor: pointer;
    font-size: 10px;
  }

  .border-span {
    border-right: 1px solid $mew-green;
    margin-right: 6px;
    padding-left: 5px;
  }

  .disabled {
    background-color: $dark-grey-12 !important;
    color: $white !important;
    pointer-events: none !important;
  }

  .disable-forward {
    color: $dark-grey-12 !important;
    pointer-events: none !important;
  }
}

.kyc-button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.final-card {
  padding: 30px;

  h3 {
    padding-bottom: 30px;
  }

  ol {
    padding-left: 25px;
  }

  .final-button-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}

.final-final-card {
  background-image: url('~@/assets/images/home/stars.svg');
  background-size: 40%;
}
