@import '~@/scss/GlobalVariables';

.standard-modal-container {
  text-align: center;
  padding: 50px 40px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
  color: $text-color-6;
}

.text {
  margin-bottom: 30px;
  color: $text-color-6;
}
