@import '~@/scss/GlobalVariables';

%interface-container {
  border-radius: 5px;
  grid-area: main;
  overflow: hidden;

  > div {
    background: $background-color-white;
  }
}

%send-form-base {
  padding: 40px 60px 0;

  .title-container {
    align-items: flex-end;
    display: flex;
    margin-bottom: 5px;
  }
}

%form-block-base {
  border-radius: 5px;

  .the-form {
    background-color: $background-color-1;
    border-radius: 5px;
  }
}

.select-contract .dropdown-toggle {
  border: 0;
  display: none;
}

//=====================================================================

.title-with-button {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  padding: 0 8px;

  .the-button {
    margin-left: auto;
    color: $mew-green;
    cursor: pointer;

    &:hover {
      color: $black;
    }
  }
}

.send-form {
  padding: 40px 60px 0;

  @media all and (max-width: $mobile-width) {
    padding: 10px;
  }

  input {
    width: 100%;
  }
}

.expending-block {
  padding-top: 30px;

  .expending-block-content {
    padding: 20px 0;
    border-bottom: 2px solid $background-color-1;
    border-top: 2px solid $background-color-1;

    .toggle-button-container {
      display: flex;
      padding: 0 8px;
      align-items: center;

      .toggle-button {
        align-items: center;
        display: flex;
        margin-left: auto;
        user-select: none;

        > span {
          margin-right: 15px;
        }
      } // .toggle-button
    } // .toggle-button-container

    .input-container {
      margin-top: 20px;
      margin-bottom: -15px;
      max-height: 0;
      transition: all 0.4s ease;
      overflow: hidden;
      opacity: 1;

      @media all and (max-width: $mobile-width) {
        margin-bottom: 0;
      }

      &.expended {
        max-height: 300px;
        opacity: 1;
      }

      &.unexpended {
        margin: 0;
      }

      .user-input {
        margin-bottom: 5px;
      }
    }
  }
}

@media all and (max-width: $mobile-width) {
  .submit-button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 9;
    transition: all 0.3s ease;

    &.hide-mobile-button {
      opacity: 0;
      pointer-events: none;
    }

    .bottom-text {
      display: none;
    }

    .submit-button {
      margin: 0 auto;
      text-align: center;
      width: 100vw;
      border-radius: 0;
      background-color: $mew-green;
      border: 0;
    }
  }
}
