@import '~@/scss/GlobalVariables';

.add-wallet-container {
  align-items: center;
  background-color: $light-grey-2;
  display: flex;
  flex-flow: column;
  padding: 173px 20px;

  h2 {
    margin: 0 0 10px 0;
  }
}

.add-wallet-options {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 50px;
  position: relative;
  text-align: center;

  @media only screen and (max-width: 1500px) {
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
  }
}

.extension-selection {
  align-items: center;
  display: flex;
  flex-flow: column;
  font-weight: bold;
  justify-content: space-between;

  h3 {
    font-size: 16px !important;
    font-weight: bold !important;
  }
}
