@import "~@/scss/GlobalVariables.scss";


.wrap{
  padding: 60px 0;
  background-color: $background-color-1;

  .user-input-box{
    max-width: 550px;
    margin: 0 auto;
    ul{

      li{

      }
    }


    .tab-pane{
      background-color: white;
      padding: 50px 50px;
      h3{
        text-align: center;
        margin-bottom: 40px;
      }
      .user-input{
        margin-bottom: 40px;
        input{
          width: 100%;
          border: none;
          background-color: $background-color-1;
          padding: 20px;
          font-size: 14px;
          margin-bottom: 40px;
        }
        button{
          text-align: center;
        }
      }
    }
  }
}

