@import "~@/scss/Globals.scss";
@import "~@/scss/GlobalVariables.scss";

.wrap{
  padding: 60px 0;
  background-color: $background-color-1;

  .user-input-box{
    border-radius: 5px;
    overflow: hidden;
    max-width: 550px;
    margin: 0 auto;
    
    .tab-content{
      .tab-pane{
        background-color: white;
        padding: 50px 50px;
        h3{
          text-align: center;
          margin-bottom: 40px;
        }
        .user-input{
          margin-bottom: 40px;
          input{
            width: 100%;
            border: none;
            background-color: $background-color-1;
            padding: 20px;
            font-size: 14px;
            margin-bottom: 40px;
          }
          button{
            text-align: center;
          }
        }
      }
    }// .tab-content

    .nav-tabs{
      border-bottom: 3px solid green !important;
      .nav-item{
        width: 50%;
        text-align: center;
      }
    }// .nav-tabs

    .nav-link{
      padding: 20px 0;
      background-color: #e0e0e0;
      font-size: 14px;
      border-radius: 0;
      &.active{
        background-color: #434f61 !important;
        color: white !important;
      }
    }// .nav-link

  }// .user-input-box
}// .wrap

