@import '~@/scss/GlobalVariables';

.extension-browser-action-wrapper {
  background-color: $light-grey-2;
  height: 100%;
  width: 100%;
  padding: 50px 20px 50px 90px;

  .spacer {
    padding-top: 60px;
  }
}
