@import "~@/scss/GlobalVariables.scss";

$border-bottom-color: #506175;

.wrap{
  background-color: #132b3f;
  color: white;
  padding: 70px 0;
  @media all and (max-width: $tablet-width){
    padding: 30px 0;
  }

  .footer-contents{
    @media all and (max-width: $tablet-width){
      display: block;
    }
    &>div{

      @media all and (max-width: $tablet-width){
        border-bottom: 1px solid $border-bottom-color;
        padding: 25px 15px;
      }

      display: flex;
      flex-direction: column;
      .content-title{
        
        display: flex;
        align-items: center;
        h3{
          font-size: 19px;
        }

        @media all and (min-width: $tablet-width + 1){
          p{
            display: none;
          }
        }

        p{
          font-size: 20px;
          font-weight: 400;
          margin-left: auto;
          cursor: pointer;
          text-align: center;
          //width: 30px;
        }
        p.close{
          display: none;
        }
      }

      .content-links{
        margin-top: 20px;
        overflow: hidden;
        transition: all 0.3s ease;
        max-height: 600px;

        @media all and (max-width: $tablet-width){
          &.mobile-hide{
            margin-top: 0px;
            max-height: 0px;
          }
        }
        p{
          margin-bottom: 10px;
        }
        p.no-margin{
          margin-bottom: 3px;
        }
      }

    }

    div.donate-us{
      .crypto-link{
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h3{
        img{
          vertical-align: top;
          height: 30px;
          margin-top: -7px;
        }
      }
    }
  }// .footer-contents

  .foot-note{
    padding-top: 40px;
    border-top: 1px solid $border-bottom-color;
    margin-top: 40px;

    @media all and (max-width: $tablet-width){
      border-top: none;
      margin-top: 0px;
      flex-direction: column;
      .links{
        order: 1;
        text-align: center;
        a:last-child{
          span{
            margin-right: 0;
            padding-right: 0;
          }
        }
          
      }
      .social{
        order: 2;
      }
      .copyright{
        order: 3;
      }
    }

    &>div{
      //margin: 0 auto;
      margin-bottom: 20px;
    }
    .links{
      span{
        font-size: 12px;
        color: white;
        padding-right: 15px;
        border-right: 1px solid white;
        margin-right: 15px;
      }
      a:last-child span{
        border-right: none;
      }
    }
    .copyright{
      color: #96a8b6;
      text-align: center;
    }
    .social{
      @media all and (max-width: $tablet-width){
        text-align: center;
      }
      
      i{
        margin-left: 15px;
        font-size: 19px;
        @media all and (max-width: $tablet-width){
          font-size: 24px;
          line-height: 40px;
        }
      }
    }
  }
}