@import '~@/scss/GlobalVariables';

.create-password-container {
  align-items: center;
  flex-direction: column;
  .password-container {
    background-color: $white;
    border-radius: 4px;
    flex-direction: column;
    padding: 50px;
    width: 500px;
    @media all and (max-width: 500px) {
      width: 300px;
    }

    .title-container {
      align-items: center;
      justify-content: center;
      span {
        color: $dark-blue-2;
        font-size: 20px;
        font-weight: 500;
      }
    }

    .passwd-strength {
      color: $dark-blue-13;
      text-align: left;
    }

    .errors {
      color: $red-1;
      text-align: left;
    }

    .user-input-field {
      width: 100%;
      input {
        background-color: $light-grey-17;
        border: none;
        height: 52px;
        padding-left: 20px;
        width: 100%;
      }
      .password-icons {
        top: 35px;
      }
      .confirm-pw-icons {
        top: 20px;
      }
    }
    button {
      cursor: pointer;
      display: block;
      margin: 0 auto;
      max-width: 300px;
      padding: 20px 0;
      text-align: center;
      width: 100%;
      position: relative;
      margin-top: 40px;

      img {
        position: absolute;
        right: 20px;
        top: 24px;
        width: 25px;
      }
    }

    .user-input {
      margin-bottom: 40px;
    }
  }
  .warning-container {
    background-color: $light-orange-3;
    width: 500px;
    padding: 30px;
    text-align: left;
    @media all and (max-width: 500px) {
      width: 300px;
    }
    i {
      color: $light-orange-1;
      font-size: 16px;
      margin-right: 10px;
      margin-top: 5px;
    }
    span {
      color: $dark-blue-2;
      font-size: 16px;
      font-weight: 600;
    }
    .warning {
      span {
        color: $red-1;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
  .switch {
    align-items: start;
    cursor: pointer;
    justify-content: center;
    text-align: left;
    .link {
      color: $mew-green;
    }

    input {
      width: auto;
      margin-top: 4px;
    }

    input[type='checkbox']::after {
      content: ' ';
      background-color: $mew-green;
      color: $white;
      display: inline-block;
      visibility: visible;
    }
  }

  .disabled {
    background-color: $dark-grey-11;
    border: none;
    color: $white;
    pointer-events: none;
  }
}
