@import '~@/scss/GlobalVariables';

.wrap {
  border-bottom: 1px solid $light-grey-2;
}

.title-container {
  padding: 20px 30px;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;

  // Mobile
  @media all and (max-width: $mobile-width) {
    padding: 20px 20px;
  }

  .menu-title-component {
    margin-right: 10px;
  }

  i {
    margin-left: auto;
  }
}

.contents-container {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease;

  .padding-block {
    padding: 0 30px 20px 30px;
    @media all and (max-width: $mobile-width) {
      padding: 0 20px 20px 20px;
    }
  }

  &.opened {
    max-height: 300px;
  }
}
