@import '~@/scss/GlobalVariables';
.buy-subdomain-container {
  background-color: $white;
  border-radius: 4px;
  grid-area: main;
  overflow: hidden;
}

.buy-subdomain-content {
  padding: 35px 62px;
}

.buy-subdomain-form-container {
  p {
    color: $text-base-color;
    font-size: 16px;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 31px 0 24px;
  }

  .subdomain-input {
    display: flex;

    input {
      background-color: $light-grey-1;
      border: 0;
      border-radius: 4px;
      height: 52px;
      padding-left: 24px;
      //min-width: 485px;
      width: 100%;
    }

    button {
      background-color: $light-blue-7;
      border: 0;
      color: $white;
      cursor: pointer;
      border-radius: 4px;
      padding: 15px 35px;
    }
  }

  .results-container {
    border-bottom: 1px solid $dark-grey-11;
    display: flex;
    flex-direction: column;

    .result-item {
      border-top: 1px dashed $light-grey-3;
      color: $dark-blue-1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px 0;
      > div > span {
        word-break: break-all;
      }
    }

    .result-item.disabled {
      color: $light-grey-1;
    }

    button {
      border-radius: 12px;
      border: 1px solid $mew-green;
      color: $mew-green;
      cursor: pointer;
      margin-left: 10px;
      background-color: white;
      padding: 0 10px;

      span {
        font-size: 12px;
      }

      &:hover {
        background-color: $mew-green;
        border: 1px solid $mew-green;
        color: $white;
      }
    }
  }
}

.title-sub-domain {
  margin-top: 40px;
  margin-bottom: 20px;
}
