@import '../InterfaceContainer';

.interact-with-contract-container {
  @extend %interface-container;

  .submit-button {
    margin: 0 auto;
    text-align: center;
    width: 300px;
  }

  .send-form {
    @extend %send-form-base;

    .title-container {
      .title {
        align-items: flex-end;
        display: flex;
        margin-bottom: 10px;
        padding: 0 8px;
        width: 100%;

        .select-contract {
          margin-left: auto;
        }

        .copy-buttons {
          color: $text-color-3;
          margin-left: auto;

          span {
            margin-left: 20px;
          }
        }
      }

      .search-block {
        margin-left: auto;
      }

      .buttons {
        margin-bottom: 3px;
        margin-left: auto;
      }
    }

    .form-block {
      @extend %form-block-base;
    }

    .domain-name {
      align-items: center;
      display: flex;
      position: relative;

      input {
        background-color: $background-color-1;
        border: 0;
        padding: 13px 15px;
        width: 100%;
      }

      span {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  .submit-button-container {
    padding: 40px 60px;
  }
}
