@import '../InterfaceContainer';

$contract-mobile-width: 600px;

.interact-with-contract-container {
  @extend %interface-container;

  .contract-address-container {
    margin-bottom: 30px;
  }

  .send-form {
    .title-container {
      .title {
        align-items: center;
        display: flex;
        margin-bottom: 10px;
        padding: 0 8px;
        position: relative;
        width: 100%;

        .select-contract {
          margin-left: auto;
          min-width: 230px;
          position: absolute;
          right: 0;
          top: -12px;
          @media all and (max-width: $contract-mobile-width) {
            min-width: initial;
            left: 0;
            top: 35px;
          }
        }

        .copy-buttons {
          color: $text-color-3;
          margin-left: auto;
          min-width: 100px;

          span {
            cursor: pointer;
            margin-left: 20px;
          }
        }
      }

      .search-block {
        margin-left: auto;
      }

      .buttons {
        margin-bottom: 3px;
        margin-left: auto;
      }
    }

    .form-block {
      @extend %form-block-base;
    }

    .domain-name {
      align-items: center;
      display: flex;
      position: relative;

      input {
        background-color: $background-color-1;
        border: 0;
        padding: 13px 45px 13px 15px;
        width: 100%;
      }

      span {
        font-size: 20px;
        font-weight: 600;
      }

      i {
        bottom: 13px;
        position: absolute;
        right: 16px;
      }

      .address-validation-check {
        bottom: 13px;
        right: 16px;
      }
    }
  }

  .submit-button-container {
    margin-top: 60px;
    text-align: center;

    // Mobile
    @media all and (max-width: $mobile-width) {
      margin-top: 30px;
    }

    .submit-button {
      margin: 0 auto;
      text-align: center;
      width: 300px;
      position: relative;
      @media all and (max-width: $mobile-width) {
        width: 100%;
      }
    }

    img {
      position: absolute;
      right: 25px;
      top: 25px;
      width: 30px;
    }
  }

  .copy-buttons {
    span {
      cursor: pointer;
    }
  }

  .address-container {
    align-items: center;
    color: $dark-blue-7;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;

    .address {
      border-bottom: 2px solid $background-color-1;
    }

    .functions {
      border: 1px solid $background-color-1;
      border-radius: 5px;
      flex: 30;
    }
  }

  .interact-buttons {
    display: flex;
  }
}

.bool-input {
  display: flex;
  flex-direction: column;

  .bool-input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 8px;
  }
}

.contract-inputs {
  margin-bottom: 10px;
}

.interact-div {
  @extend %send-form-base;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
}

.result-container {
  align-items: end !important;
  flex-direction: column;

  input {
    margin-bottom: 10px;
  }

  label {
    padding: 0 8px;
  }

  .result-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.with-resolver {
  display: block !important;

  i {
    bottom: 33px !important;
  }
}

.contract-address-title {
  // Mobile
  @media all and (max-width: $contract-mobile-width) {
    margin-bottom: 55px;
  }
}
