@import '../InterfaceContainer';

.interact-with-contract-container {
  @extend %interface-container;

  .submit-button {
    //margin: 0 auto;
    text-align: center;
    min-width: 230px;
    margin: 5px;
    @media all and (max-width: $tablet-width) {
      min-width: initial;
    }
  }

  .send-form {
    @extend %send-form-base;

    .title-container {
      .title {
        align-items: flex-end;
        color: $dark-blue-7;
        display: flex;
        margin-bottom: 10px;
        padding: 0 8px;
        position: relative;
        width: 100%;

        @media all and (max-width: $mobile-width) {
          &.title-currency-picker {
            margin-bottom: 32px;
          }
        }

        .select-contract {
          margin-left: auto;
          min-width: 220px;
          position: absolute;
          right: 0;
          top: -10px;
          z-index: 1;

          @media all and (max-width: $mobile-width) {
            top: 17px;
            left: 0;
            right: initial;
          }
        }

        .copy-buttons {
          color: $text-color-3;
          margin-left: auto;

          span {
            cursor: pointer;
            margin-left: 20px;
          }
        }
      }

      .search-block {
        margin-left: auto;
      }

      .buttons {
        margin-bottom: 3px;
        margin-left: auto;
      }
    }

    .form-block {
      @extend %form-block-base;
    }

    .domain-name {
      align-items: center;
      display: flex;
      position: relative;

      input {
        background-color: $background-color-1;
        border: 0;
        padding: 13px 15px;
        width: 100%;
      }

      span {
        font-size: 20px;
        font-weight: 600;
      }

      i {
        bottom: 3px;
        position: absolute;
        right: 3px;
      }

      .address-validation-check {
        bottom: 13px;
        right: 6px;
      }
    }
  }

  .submit-button-container {
    padding: 40px 0;
    text-align: center;

    .submit-button {
      position: relative;
      min-width: 200px;
      @media all and (max-width: $tablet-width) {
        min-width: initial;
      }
    }

    img {
      position: absolute;
      right: 20px;
      top: 23px;
      width: 30px;
    }
  }

  .copy-buttons {
    span {
      cursor: pointer;
    }
  }

  .address-container {
    align-items: center;
    color: $dark-blue-7;
    //display: flex;
    //justify-content: space-between;
    padding: 0 8px;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 10px;

    @media all and (max-width: $tablet-width) {

      .functions {
        grid-area: functions;
      }

      .address {
        grid-area: address;
      }

      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
        "functions"
        "address";
    }

    .address {
      display: grid;
      padding: 10px 0;
      border-bottom: 2px solid $background-color-1;
      grid-template-columns: auto 1fr;

      @media all and (max-width: $tablet-width) {
        display: block;
      }

      input {
        width: 100%;
        color: $dark-blue-1;
        border: 0;
        margin-left: 10px;
        @media all and (max-width: $tablet-width) {
          margin-left: 0px;
        }
      }
    }

    .functions {
      border: 1px solid $background-color-1;
      border-radius: 5px;
      flex: 30;
    }
  }

  .interact-buttons {
    display: flex;
    justify-content: center;
  }
}

.bool-input {
  display: flex;
  flex-direction: column;

  .bool-input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 8px;
  }
}

.contract-inputs {
  margin-bottom: 10px;
}

.interact-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;

  @media all and (max-width: $tablet-width) {
    padding: 10px 0;
  }
}

.result-container {
  align-items: end !important;
  flex-direction: column;

  input {
    margin-bottom: 10px;
  }

  label {
    padding: 0 8px;
  }

  .result-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.with-resolver {
  display: block !important;

  i {
    bottom: 33px !important;
  }
}
