@import '~@/scss/GlobalVariables';

$collepse-width: 650px;

.desktop-menu {
  @media all and (max-width: $collepse-width) {
    display: none;
  }

  .listing-container {
    margin-top: 30px;
  }
  .input-search-container {
    margin-bottom: 30px;

    .input-search {
      position: relative;
    }

    input {
      position: relative;
      border: 0;
      padding: 20px;
      padding-left: 50px;
      background-color: $light-grey-17;
      width: 100%;
    }

    img {
      position: absolute;
      top: 24px;
      left: 20px;
      height: 15px;
    }
  }

  ul {
    li {
      position: relative;
      padding: 5px 20px;
      color: $dark-grey-7;
      cursor: pointer;
      user-select: none;
      &:hover {
        color: $dark-grey-9;
      }
      &.selected {
        color: $dark-grey-9;
        font-weight: 600;
      }
      .title {
        display: inline-block;
        width: 120px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .count {
        float: right;
      }
    }
  }
}

.mobile-menu {
  @media all and (min-width: $collepse-width) {
    display: none;
  }
  .input-search-container {
    margin-bottom: 15px;

    .input-search {
      position: relative;
    }

    input {
      position: relative;
      border: 0;
      padding: 20px;
      padding-left: 50px;
      background-color: $light-grey-17;
      width: 100%;
    }

    img {
      position: absolute;
      top: 24px;
      left: 20px;
      height: 15px;
    }
  }
}
