@import '~@/scss/GlobalVariables';

.submit-container {
  border-radius: 0;
  height: 89px;
  background: $light-green-1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-text {
  color: $dark-blue-2;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.logo {
  height: 36px;
  width: 145px;
}

.submit-btn {
  border: 1px solid $border-green;
  background-color: $button--background-color-1;
  border-radius: 6px;
  height: 52px;
  width: 180px;
  color: $text-white;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    background-color: $white;
    color: $text-color-green;
  }
}

.back-btn {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid $light-blue-7;
  height: 52px;
  width: 109px;
  color: $light-blue-7;
  font-weight: 500;

  &:hover {
    background-color: $text-color-green;
    color: $text-white;
    border: 1px solid $white;
  }
}

.preview-txt {
  color: $mew-green;
  font-family: PingFangSC-Medium;
  font-weight: 500;
}
