@import '~@/scss/GlobalVariables';
@media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width) {
  $collapse-point: 700px;

  .wrap {
    padding: 80px 0;

    .content {
      @media all and (max-width: $collapse-point) {
        display: block;
      }

      .title {
        @media all and (max-width: $collapse-point) {
          margin-bottom: 30px;
        }
        h5 {
          line-height: 21px;
          @media all and (max-width: $collapse-point) {
            max-width: 300px;
          }
        }
      }

      .icons {
        padding-left: 20px;
        display: flex;
        margin-left: auto;

        @media all and (max-width: $collapse-point) {
          padding-left: 0;
          justify-content: space-around;
        }

        a:first-child > div {
          margin-left: 0;
        }

        a > div {
          flex-direction: column;
          margin-left: 40px;
          @media all and (max-width: $collapse-point) {
            margin: 0;
          }

          img {
            margin: 0 auto 9px;
          }

          p {
            color: $text-color-3;
            text-align: center;
          }
        }

        $mobile-subtract-value: 10;

        div {
          img {
            $icon-size: 64px;

            height: $icon-size;
            width: $icon-size;
          }
        }
      }
    }
  }
} // @media all and (min-width: calc(#{$mobile-width} + 1px)) and (max-width: $tablet-width)
