@import '~@/scss/GlobalVariables';

.wrap {
  background-color: $background-color-2;
  padding: 70px 0;

  @media all and (max-width: $tablet-width){
    padding: 50px 0;
  }

  .content {
    @media all and (max-width: $tablet-width){
      //flex-direction: column;
      display: block;
      padding: 0;
    }

    .title {
      color: $text-color-1;

      @media all and (max-width: $tablet-width){
        margin-bottom: 30px;
      }
    }

    .buttons {
      display: flex;
      margin-left: auto;

      .button-block {
        margin-left: 20px;
        transition: all .2s ease;

        span {
          transition: all .2s ease;
        }

      }

      @media all and (min-width: $mobile-width + 1) and (max-width: $tablet-width){
        div {
          &:last-child span {
            margin: 0 0 0 7px;
          }

          &:first-child span {
            margin: 0 7px 0 0;
          }
        }
      }

      @media all and (max-width: $mobile-width){
        div {
          flex: 1;

          &:last-child span {
            margin: 0 0 0 7px;
          }

          &:first-child span {
            margin: 0 7px 0 0;
          }
        }
      }

      span {
        display: block;
        padding: 20px 45px;

        @media all and (min-width: $mobile-width + 1) and (max-width: $tablet-width){
          display: block;
          font-size: 11px;
          line-height: 15px;
          padding: 18px 45px;
          text-align: center;
        }

        @media all and (max-width: $mobile-width){
          display: block;
          font-size: 11px;
          line-height: 15px;
          padding: 18px 15px;
          text-align: center;
        }
      }
    } // .buttons
  } // .content
}// .wrap
