@import '~@/scss/GlobalVariables';

.ledger-app-selection-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h4 {
    color: $dark-blue-12;
  }

  .ledger-app-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 30px;

  }

  .selected-app-icon {
    align-items: center;
    background-color: #3074d4;
    border-radius: 50%;
    display: flex;
    height: 63px;
    justify-content: center;
    width: 63px;

    img {
      height: 40px;
    }
  }
}
