@import '~@/scss/GlobalVariables';

.card-block {
  background-color: $background-color-1;
  padding: 25px 30px;
  position: relative;

  .title {
    margin-bottom: 20px;
    position: relative;
  }

  .title::before {
    background-color: $background-color-2;
    content: '';
    height: 25px;
    left: -30px;
    position: absolute;
    top: -2px;
    width: 5px;
  }

  .questions {
    position: relative;

    > a {
      display: block;
      margin-bottom: 15px;
    }

    p {
      position: relative;

      &:hover {
        color: $background-color-2;

        &::after {
          color: $background-color-2;
          right: -7px;
        }
      }

      &::after {
        color: lighten($text-color-4, 40%);
        content: '›';
        font-size: 25px;
        position: absolute;
        right: 0;
        top: 0;
        transition: right .2s ease;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }// .questions
}// .card
