@import '../InformationBlock';

.info-block {
  padding: 15px 20px;
  background-color: $transaction-block-balance;
  align-items: center;
  margin-right: 0;
}

.block-content {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.block-image {
  padding-top: 0 !important;
  padding-right: 0px;
  img {
    height: 40px;
  }
}

.title-block {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: -3px;
}

.balance-data {
  display: flex;
  align-items: center;
}

.balance-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  word-wrap: normal;
}

.currency {
  font-size: 13px;
  margin-left: 5px;
}

.icon-container {
  position: relative !important;
}

.balance-check {
  margin-right: 0 !important;
}
