@import '~@/scss/GlobalVariables';
@media all and (max-width: $mobile-width) {
  .modal-content {
    padding: 20px 10px;
  }

  .modal-software {
    .button-options {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr;
      margin-bottom: 40px;
    }
  }
}
