@import '~@/scss/GlobalVariables';
@media all and (max-width: $mobile-width) {
  .content-block {
    padding: 20px;
  }

  .modal-software {
    .button-options {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr;
    }
  }
}
