@import '~@/scss/CustomModal';

.modal-software {
  .button-options {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;

    li {
      user-select: none;
      align-items: center;
      color: $light-grey-11;
      cursor: pointer;
      display: flex;
      padding: 30px 10px 30px 30px;
      text-align: left;

      .hover-icon {
        display: none;
        height: 50px;
        width: 50px;
        margin-right: 8px;
      }

      &:hover,
      &.selected {
        .icon {
          display: none;
        }
        .hover-icon {
          display: block;
        }

        span {
          font-weight: 500;
          color: black;
        }
      }

      span {
        color: $mew-green;
        font-weight: 500;
        line-height: 16px;
      }

      &.selected {
        box-shadow: 0 3px 15px $box-shadow-color-1;
        color: $text-black;
        font-weight: 500;
      }

      .icon {
        margin-right: 8px;
        width: 50px;
      }

      // .icon-hover {
      //   display: none;
      // }
    }
  }
}

.button-container {
  width: 100%;

  button {
    width: inherit;
  }
}
