@import '~@/scss/GlobalVariables';
.cant-load {
  background-color: $red-1;
  color: $white;
  padding: 5px;
  text-align: center;
  width: 100%;
}
.tokens-container {
  border-radius: 5px;
  overflow: hidden;

  .token-search {
    background-color: $transaction-block-token-search;
    color: $text-white;
    padding: 15px 20px 10px;

    .block-title {
      display: flex;
      margin-bottom: 10px;

      .title-container {
        display: flex;
      }

      h4 {
        font-size: 14px;
        font-weight: 400;
      }

      img {
        cursor: pointer;
        padding-left: 5px;
      }

      p {
        color: $text-white;
        cursor: pointer;
        font-size: 12px;
        font-weight: 300;
        margin-left: auto;
      }
    }

    .search-block {
      position: relative;

      input {
        background-color: $white;
        border: 0;
        height: 35px;
        margin-bottom: 5px;
        padding-left: 30px;
        position: relative;
        width: 100%;
      }

      i {
        color: $black;
        left: 10px;
        pointer-events: none;
        position: absolute;
        top: 10px;
      }
    }
  }

  .token-table-container {
    background-color: $background-color-white;
    height: auto;
    max-height: 254px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px 30px;
    transition: max-height 0.6s ease;

    &.expanded {
      max-height: 800px;
    }

    table {
      width: 100%;

      tr {
        td {
          padding: 6px 0;
        }

        .load-token {
          cursor: pointer;
        }

        td:nth-child(2) {
          text-align: right;
        }
      }
    } // table
  } // .token-table-container

  .expend-bar {
    background-color: $background-color-white;
    border-top: 2px solid $border-color-4;
    cursor: pointer;
    padding: 8px;
    text-align: center;

    p {
      font-size: 20px;
    }
  } // .expend-bar
} // .tokens-container

.bottom-image-container {
  background-color: $background-color-white;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.spinner-container {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.address-qr-display {
  align-items: center;
  background-color: $white;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 15px;

  .address-container {
    padding-left: 10px;
    word-break: break-word;
  }
}
