@import '~@/scss/GlobalVariables';

.cx-menu {
  padding: 10px 20px 10px 10px;
  //max-width: 1100px;
  margin: 0 auto;
}

.cx-header {
  width: 100%;
}

.cx-menu-container {
  /*
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  */
  //box-shadow: 0 2px 13px rgba(0, 0, 0, 0.1);
  min-width: 960px;
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
  align-items: center;
}

.logo-block {
  p {
    color: $mew-green;
    margin-left: 10px;
    padding-left: 15px;
    border-left: 1px solid $mew-green;
  }
}

.menu-items {
  p {
    font-size: 13px;
  }

  > * {
    margin-left: 30px;
  }
}

.buy-eth {
  p {
    margin-left: 2px;
  }
}

.spacer {
  margin: 0 auto;
}

.settings-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 20px;

  .blockie-image {
    position: absolute;
    top: -9px;
    right: 20px;
  }

  i {
    color: $dark-blue-1;
    font-size: 18px;
    margin-left: 7px;
  }
}
