@import '~@/scss/GlobalVariables';

.input-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  input {
    background-color: $light-grey-2;
    border: none;
    padding: 15px;
  }

  label {
    color: $dark-blue-12;
    font-weight: bold;
  }
}

.submit-button {
  margin-top: 10px;
  width: 100% !important;
}

.remove-button {
  @extend .submit-button;

  color: $red-7;
  text-align: center;
}
