.staked-status {
  .title {
    color: #003b48;
    font-size: 18px;
    font-weight: 600;
    padding: 30px 40px 10px 40px;
  }
  .no-validators {
    padding: 30px 40px 0 40px;
  }
  a {
    color: #003b48 !important;
    font-weight: normal;
  }
  .validator-container {
    border-radius: 4px;
    color: #003b48;
    cursor: pointer;
    flex-direction: column;
    font-weight: 600;
    margin: 20px 40px;
    .top-row {
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;
      width: 100%;
      .badge-container {
        align-items: center;
        @media all and (max-width: 625px) {
          align-items: baseline;
          flex-direction: column;
        }
      }
      &.pending-expanded {
        border-bottom: 1px solid #f5a623;
      }
      &.active-expanded {
        border-bottom: 1px solid #05c0a5;
      }
      &.deposited-expanded {
        border-bottom: 1px solid #5a78f0;
      }
      &.exited-expanded {
        border-bottom: 1px solid #ff445b;
      }
      .badge {
        color: #fff;
        font-weight: normal;
        padding: 10px;
        text-transform: capitalize;
        width: 100px;
        @media all and (max-width: 625px) {
          margin-left: 0 !important;
          margin-top: 15px;
        }
      }
      .pending-badge {
        background-color: #f5a623;
      }
      .active-badge {
        background-color: #05c0a5;
      }
      .deposited-badge {
        background-color: #5a78f0;
      }
      .exited-badge {
        background-color: #ff445b;
      }
      .right-container {
        align-items: center;
        justify-content: center;
      }
    }
    .more-info {
      background: #fff;
      cursor: text;
      flex-direction: column;
      .queue-speed {
        font-style: italic;
        padding: 15px 20px;
      }
      .more-info-row {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 20px;
        span {
          width: 100%;
        }
        .info-text {
          word-break: break-all;
          font-weight: normal;
          text-align: right;
        }
      }
      .more-info-border {
        border-bottom: 1px solid #efefef;
      }
    }
  }

  .pending-container {
    border: 1px solid #f5a623;
    background-color: #fff6e6;
  }

  .active-container {
    background-color: #f2fafa;
    border: 1px solid #05c0a5;
  }

  .deposited-container {
    background-color: #f9fafe;
    border: 1px solid #5a78f0;
  }

  .exited-container {
    background-color: #fff8f9;
    border: 1px solid #ff445b;
  }
}
