@import '~@/scss/GlobalVariables';

.network-picker {
  span {
    font-size: 12px;
  }

  .network-text {
    color: $dark-grey-11;
    text-align: right;
    font-weight: 600;
  }

  .current-network {
    background-color: $white;
    border: 1px solid $light-grey-8;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 20px;
    margin-left: 20px;
  }
}
