@import "~@/scss/GlobalVariables";
.network-picker {
  p {
    font-size: 12px;
  }

  .network-text {
    color: $dark-grey-11;
    text-align: right;
  }

  .current-network {
    background-color: $white;
    border: 1px solid $light-grey-8;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
  }
}
