@import '~@/scss/GlobalVariables';


// *********************************************************************
// CSS reset
// *********************************************************************
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}


// *********************************************************************
// Standard list styles
// *********************************************************************
ul li {
  list-style-type: none;
}


// *********************************************************************
// Standard link styles
// *********************************************************************
a:link,
a:visited,
a:hover,
a:active {
  color: $link-text-color-2;
  // text-decoration: none;

  p {
    text-decoration: none;
  }

  &.nounderline,
  &.nounderline * {
    text-decoration: none;
  }
}

a {
  &.underline {
    text-decoration: underline;
  }

  &.underline:hover * {
    text-decoration: underline;
  }
}

.underline a {
  text-decoration: underline;
}


// *********************************************************************
// Standard elements
// *********************************************************************
.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
}

.page-container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0;

  @media all and (max-width: $tablet-width){
    padding: 0 15px;
  }
}


// *********************************************************************
// Standard text styles
// *********************************************************************
p {
  color: $text-base-color;
  line-height: 21px;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  // line-height: 42px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  margin-bottom: 15px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
}

h5 {
  color: $text-base-color;
  font-size: 14px;
  font-weight: 400;
}

h6 {
  font-size: 13px;
  font-weight: 600;
}

.color-green {
  color: $text-color-green;
}

.color-white {
  color: $text-white;
}

.noselect {
  user-select: none;
}

.text-bold {
  font-weight: 600;
}


// *********************************************************************
// Standard flex-box styles
// *********************************************************************
.flex {
  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.align-items-start {
    align-items: flex-start;
  }

  &.align-items-center {
    align-items: center;
  }

  &.align-items-end {
    align-items: flex-end;
  }
}

.flex-col-1-1-vertical-center {
  align-items: center;
  display: flex;

  >* {
    flex: 1;
  }
}

.flex-col-vertical-top {
  align-items: flex-start;
  display: flex;
}

.flex-col-vertical-center {
  align-items: center;
  display: flex;
}

.flex-col-vertical-bottom {
  align-items: flex-end;
  display: flex;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}


// *********************************************************************
// Standard grid styles
// *********************************************************************
.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-col-1-1-1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
}


// *********************************************************************
// Standard button styles
// *********************************************************************

.large-round-button-green-filled {
  background-color: $button--background-color-1;
  border: 1px solid $button--border-color-1;
  border-radius: 6px;
  color: $button--text-color-1;
  font-size: 14px;
  font-weight: 500;
  padding: 21px 55px;
}

.mid-round-button-green-filled {
  background-color: $button--background-color-1;
  border: 1px solid $button--border-color-1;
  border-radius: 6px;
  color: $button--text-color-1;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 40px;
}

.mid-round-button-green-border {
  background-color: $background-color-white;
  border: 1px solid $button--border-color-2;
  border-radius: 6px;
  color: $text-color-2;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 40px;
}

.large-round-button-white-filled {
  background-color: $button--background-color-2;
  border: 1px solid $button--border-color-1;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  padding: 21px 55px;
}

.large-round-button-white-border {
  border: 1px solid $button--border-color-1;
  border-radius: 5px;
  color: $button--text-color-1;
  font-size: 14px;
  font-weight: 500;
  padding: 21px 55px;
}

.small-circle-button-green-border {
  background-color: $background-color-white;
  border: 1px solid $button--border-color-2;
  border-radius: 100px;
  color: $text-color-2;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  min-width: 70px;
  padding: 6px 0;
  text-align: center;

  &.active {
    background-color: $button--background-color-1;
    border: 1px solid $button--border-color-1;
    color: $text-white;
  }
}

.small-circle-button-green-filled {
  background-color: $button--background-color-1;
  border: 1px solid $button--border-color-1;
  border-radius: 100px;
  color: $text-white;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  min-width: 80px;
  padding: 7px 0;
  text-align: center;
}

// *********************************************************************
// Custom check mark
// *********************************************************************




// *********************************************************************
// Custom scroll bar style
// *********************************************************************
.custom-scroll-bar {
  // width
  &::-webkit-scrollbar {
    width: 7px;
  }
  // Track
  &::-webkit-scrollbar-track {
    background: $scrollbar--track-color;
  }
  // Handle
  &::-webkit-scrollbar-thumb {
    background: $scrollbar--handle-color;
    border-radius: 10px;
  }
  // Handle on hover
  &::-webkit-scrollbar-thumb:hover {
    background: $scrollbar--handle-hover-color;
  }
}


// *********************************************************************
// [Bootstrap] Dropdown language menu style
// *********************************************************************
.modal {
  z-index: $z-bootstrap-modal;
}

.modal-backdrop {
  z-index: $z-bootstrap-modal-backdrop;
}


// *********************************************************************
// [Bootstrap] Dropdown language menu style
// *********************************************************************
.dropdown-menu {
  border: 1px solid $dropdown-menu-border-color;
  box-shadow: 0 2px 12px $language-menu-box-shadow;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: $dropdown-menu--active--background-color;
}

.nav-link-custom span {
  color: $text-base-color;
}

// *********************************************************************
// [Bootstrap] Tooltip style
// *********************************************************************
.tooltip {
  pointer-events: none;
  z-index: 9999999;

  &.show {
    opacity: 1;
  }

  .arrow {
    display: none;
  }

  .tooltip-inner {
    background-color: $tooltip-background-color;
    border: 1px solid $tooltip-border-color;
    border-radius: 3px;
    box-shadow: 0 0 15px $tooltip-box-shadow-color;
    color: $tooltip-font-color;
    font-size: 13px;
    line-height: 20px;
    max-width: 400px;
    padding: 24px 35px;
    text-align: left;
  }
}

.tooltip-icon {
  button {
    background-color: $tooltip--button-background-color;
    border: 0;
    border-radius: 100px;
    color: $tooltip--button-font-color;
    font-size: 10px;
    font-weight: 700;
    height: 17px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 17px;
  }
}


// *********************************************************************
// [Bootstrap] Modal style
// *********************************************************************

// Modal header
.modal-header {
  background-color: $bootstrap-modal-header-background-color;

  h5 {
    color: $text-white;
  }

  .close {
    color: $text-white;
    float: right;
    font-size: 52px;
    font-weight: 100;
    line-height: 30px;
    opacity: 1;
    outline: none;
    text-shadow: none;
  }
}

.modal-dialog {
  max-width: 530px;
}

.modal-content {
  border: 0;
}

.modal-body {
  padding: 60px 70px 50px;

  .title {
    color: $text-color-6;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .content {
    color: $link-text-color-1;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 40px;
  }

  .button-container {
    display: flex;
    justify-content: center;

    button {
      margin: 0 7px;
    }
  }
}

// Custom modal style for each pages -------------------------------
.access-my-wallet-options {
  .modal-title {
    font-size: 20px;
    padding: 0 15px;
  }

  .modal-body {
    padding: 40px;
  }
}

.your-password .modal-body {
  background-image: url('~@/assets/images/modal/garlands.png');
  background-position: center 20px;
  background-repeat: no-repeat;
  background-size: 91%;

}


// *********************************************************************
// [Bootstrap] Nav tab style
// @ Create Wallet pages
// *********************************************************************
.nav-tab-user-input-box {
  background-color: $nav-tab-background-color;
  border-radius: 5px;
  overflow: hidden;

  .progress-bar {
    animation-duration: .5s;
    background-color: $nav-tab--progress-bar-background-color;
    height: 6px;
  }

  .nav-link {
    background-color: $nav-tab--button-background-color;
    border: 0;
    border-radius: 0;
    font-size: 14px;
    padding: 20px 0;

    &.active {
      background-color: $nav-tab--button--active--background-color;
      color: $nav-tab--button--active--font-color;
    }
  }

  .nav-tabs {
    border: 0;
    display: flex;

    .nav-item {
      flex: 1;
      text-align: center;
    }
  }
}


// *********************************************************************
// CSS Toggle Button(Switch) style
// *********************************************************************
// The switch - the box around the slider
.sliding-switch {
  height: 27px;
  position: relative;

  .switch {
    display: inline-block;
    height: 28px;
    position: relative;
    width: 60px;

    // Hide default HTML checkbox
    input {
      display: none;
    }
  }

  .labels {
    span {
      color: $text-color-3;
      font-size: 11px;
      pointer-events: none;
      position: absolute;
      top: 6px;
      transition: all .5s ease;

      &.white {
        color: $text-color-1;
      }
    }

    .label-left {
      left: 11px;
    }

    .label-right {
      left: 37px;
    }
  }

  // The slider
  .slider {
    background-color: $css-toggle-button--slider-background-color;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;

    &::before {
      background-color: $css-toggle-button--button-background-color;
      bottom: 3px;
      content: '';
      height: 22px;
      left: 4px;
      padding: 1px 7px;
      position: absolute;
      transition: .4s;
      width: 25px;
    }

    // Rounded sliders
    &.round {
      border-radius: 34px;
    }

    &.round::before {
      border-radius: 100%;
    }
  }

  input:checked + .slider {
    background-color: $css-toggle-button--slider--active--background-color;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $css-toggle-button--slider--active--background-color;
  }

  input:checked + .slider::before {
    transform: translateX(26px);
  }

}

.sliding-switch-white {
  height: 27px;
  position: relative;

  .switch {
    display: inline-block;
    height: 28px;
    position: relative;
    width: 67px;

    // Hide default HTML checkbox
    input {
      display: none;
    }
  }

  // The slider
  .slider {
    background-color: $css-toggle-button--slider-background-color;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;

    &::before {
      background-color: $text-white;
      bottom: 3px;
      content: '';
      height: 22px;
      left: 4px;
      padding: 1px 7px;
      position: absolute;
      transition: .4s;
      width: 23px;
    }

    // Rounded sliders
    &.round {
      border-radius: 34px;
    }

    &.round::before {
      border-radius: 100%;
    }
  }

  input:checked + .slider {
    background-color: $css-toggle-button--slider--active--background-color;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $css-toggle-button--slider--active--background-color;
  }

  input:checked + .slider::before {
    transform: translateX(26px);
  }

}

// *********************************************************************
// Custom Checkbox
// *********************************************************************
// Customize the label (the container)
.checkbox-container {
  cursor: pointer;
  display: inline;
  font-size: 14px;
  margin-bottom: 12px;
  padding-left: 33px;
  padding-right: 0;
  position: relative;
  user-select: none;

  &.checkbox-container-small {
    padding-left: 0;
  }

  // Hide the browser's default checkbox
  input {
    cursor: pointer;
    opacity: 0;
    position: absolute;

  }

  // On mouse-over, add a grey background color
  &:hover input ~ .checkmark {
    $check-box-hover-color: #ccc;
    background-color: $check-box-hover-color;
  }

  // When the checkbox is checked, add a blue background
  input:checked ~ .checkmark {
    background-color: $background-color-2;
  }

  // Show the checkmark when checked
  input:checked ~ .checkmark::after {
    display: block;
  }

  // Create a custom checkbox
  .checkmark {
    $unchecked-box-color: #eee;
    background-color: $unchecked-box-color;
    border-radius: 100px;
    height: 22px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 22px;

    // Create the checkmark/indicator (hidden when not checked)
    // Style the checkmark/indicator
    &::after {
      border: solid $border-color-2;
      border-width: 0 3px 3px 0;
      content: '';
      // display: none;
      height: 10px;
      left: 9px;
      position: absolute;
      top: 5px;
      transform: rotate(45deg);
      width: 5px;
    }
  }

  .checkmark-small {
    $unchecked-box-color: #eee;
    background-color: $unchecked-box-color;
    border-radius: 100px;
    height: 19px;
    left: 0;
    position: absolute;
    top: 0;
    width: 19px;

    // Create the checkmark/indicator (hidden when not checked)
    // Style the checkmark/indicator
    &::after {
      border: solid $border-color-2;
      border-width: 0 3px 3px 0;
      content: '';
      // display: none;
      height: 9px;
      left: 7px;
      position: absolute;
      top: 4px;
      transform: rotate(45deg);
      width: 5px;
    }
  }
}


// *********************************************************************
// Dropdown Buttons
// *********************************************************************
.dropdown-button-1 {

  >button {
    background-color: $background-color-white;
    border: solid 1px $button--border-color-2;
    color: $text-color-6;
    font-family: arial;
    min-width: 180px;
    padding: 8px 15px;
    text-align: left;
  }

  .active {
    color: $text-black;
  }

  a {
    outline: none;
  }
}

.dropdown-select-search {
  border-radius: 5px;

  .dropdown .dropdown-toggle {
    border: 0;
    padding: 6px 5px;
  }

  .dropdown.open .dropdown-toggle,
  .v-select .dropdown-menu {
    border: 1px solid #8a8a8a;
  }

  .v-select .dropdown-menu {
    border-top: 0;
  }

  .clear {
    display: none;
  }

  .v-select .open-indicator {
    position: absolute;
    bottom: 4px;
    right: 17px;
    cursor: pointer;
    pointer-events: all;
    opacity: 1;
    height: 25px;
  }

  /* width */
  ::-webkit-scrollbar {
      border-radius: 10px;
      width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }

}


.alert-button {
  position: relative;

  &::before {
    background-color: $text-color-3;
    border-radius: 100px;
    color: $text-white;
    content: '!';
    display: inline-block;
    font-size: 12px;
    line-height: 17px;
    margin-left: 10px;
    position: relative;
    text-align: center;
    width: 17px;
  }
}

.good-button {
  color: $text-color-3;
  display: inline-block;
  font-size: 20px;
}
