
// *********************************************************************
// Standard window width sizes
// *********************************************************************
$tablet-width: 900px;
$mobile-width: 600px;


// *********************************************************************
// Box Shadow color styles
// *********************************************************************
$box-shadow-color-1: rgba(0, 0, 0, .12);
$box-shadow-color-2: rgba(0, 0, 0, .10);
$news-block-box-shadow-color: rgba(0, 0, 0, .05);
$topbanner-block-box-shadow-color: rgba(0, 0, 0, .15);
$tiny-header-shadow-color: rgba(0, 0, 0, .1);
$language-flag-box-shadow: rgba(0, 0, 0, .4);
$language-menu-box-shadow: rgba(0, 0, 0, .12);

// *********************************************************************
// Elements background color styles
// *********************************************************************
// This background color used for most of the elements background
$background-color-1: #f9f9f9; // Lite grey background color
$background-color-2: #05c0a5; // Green background color
$background-color-3: #f2f4fa; // Team page background
$background-color-4: #f0f0f0;
$background-color-5: rgba(255, 255, 255, .25);
$background-color-6: #f2fafa;
$background-color-white: #fff;
$background-color-black: #000;
$nav-tab-background-color: #fff;
$nav-tab--progress-bar-background-color: $background-color-2;
$about-mew-spaceman-background-color: #0b2840;
$create-wallet-background-color: #5a78f0;
$unlock-wallet-background-color: $background-color-2;
$footer-background-color: #132b3f;
$price-bar-background-color: #476081;
$bootstrap-modal-header-background-color: #434f61;

$transaction-block-address: #7070e3;
$transaction-block-balance: #5a78f0;
$transaction-block-network: #25b0e8;
$transaction-block-token-search: #536d8b;

$button-background-color-1: #6b87a3;
$small-tooltip-shadow: rgba(0, 0, 0, 0.1);

// *********************************************************************
// Social button styles
// *********************************************************************
$social-button-color-1: #adadad; // News block social buttons



// *********************************************************************
// Border styles
// *********************************************************************
$border-color-1: #e0e0e0;
$border-color-2: #fff;
$border-color-3: #000;
$border-color-4: #f9f9f9;
$border-color-5: #e8e8e8;
$price-bar-border-color: #677890;
$border-bottom--mnemonic-phrase-key-color: $border-color-1;
$border-bottom--mnemonic-phrase-key-color-verification: #434f60;
$border-green: #05c0a5;


// *********************************************************************
// z-index values
// *********************************************************************
$z-base: 0;
$z-base-top: 5;
$z-banner-animation: 10;
$z-menu: 100;
$z-tooltip: 500;
$z-bootstrap-modal-backdrop: 600;
$z-bootstrap-modal: 601;



// *********************************************************************
// Text styles
// *********************************************************************
$text-base-color: #506175;
$text-white: #fff;
$text-black: #000;
$text-color-1: #fff; // White text color
$text-color-2: #05c0a5; // Green text color
$text-color-3: #999;
$text-color-4: #536d8b;
$text-color-5: #ff2f49; // create-wallet footer text color
$text-color-6: #003945;
$text-color-7: #444;
$text-color-8: #0c5876;
$text-color-9: #dadada;
$text-color-red: #f00;
$text-color-news-content: $text-color-3;
$text--tooltip-color: #4c4c4c;
$text--link-color: $text-color-2;
$text--mnemonic-phrase-key-color: $text-color-6;
$text--mnemonic-phrase-index-color: $text-color-3;
$text--footer-link-color: #96a8b6;
$text-color-green: $text-color-2;
$text-side-menu-inactive-color: #c7c7c7;
$text-good-button-not-good: #e2e2e2;

$link-text-color-1: #506175;
$link-text-color-2: #05c0a5;
$link-text-color-3: #afafaf;

// *********************************************************************
// Button styles
// *********************************************************************
$button--text-color-1: #fff; // White text color
$button--border-color-1: #fff; // White border color
$button--border-color-2: #05c0a5; // Green border color
$button--background-color-1: #05c0a5; // Green background color
$button--background-color-2: #fff; // White background color
$button--background-color-3: #989898; // Hardware connection waiting button


// *********************************************************************
// Custom scroll bar style
// *********************************************************************
$scrollbar--track-color: #f1f1f1;
$scrollbar--handle-color: #888;
$scrollbar--handle-hover-color: #555;


// *********************************************************************
// [Bootstrap] Dropdown language menu style
// *********************************************************************
$dropdown-menu-border-color: #b1b1b1;
$dropdown-menu--active--background-color: #e8e8e8;


// *********************************************************************
// [Bootstrap] Tooltip style
// *********************************************************************
$tooltip-font-color: #4c4c4c;
$tooltip-box-shadow-color: rgba(0, 0, 0, .2);
$tooltip-box-shadow-color2: rgba(0, 0, 0, .6);
$tooltip-border-color: #c5c5c5;
$tooltip-background-color: #fff;
$tooltip--button-background-color: #96a8b6;
$tooltip--button-font-color: #fff;


// *********************************************************************
// [Bootstrap] Nav tab style
// @ Create Wallet pages
// *********************************************************************
$nav-tab-background-color: #fff;
$nav-tab--button-background-color: #e0e0e0;
$nav-tab--button--active--background-color: #434f61;
$nav-tab--button--active--font-color: #fff;
$nav-tab--progress-bar-background-color: #05c0a5;


// *********************************************************************
// CSS Toggle Button(Switch) style
// *********************************************************************
$css-toggle-button--slider-background-color: #f2f4fa;
$css-toggle-button--button-background-color: #05c0a5;
$css-toggle-button--slider--active--background-color: $background-color-2;
