
body{
  //background-color: #f2f4fa;
  font-family: 'Montserrat', sans-serif;
}

.page-container{
  max-width: 1140px;
  margin: 0 auto;
}

.flex-col-vertical-center{
  display: flex;
  align-items: center;
}

.grid-col-2{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

