
$body-text-color-1: #506175;
$body-text-color-2: #05c0a5;
$body-text-color-3: #003945;

$news-content-text-color: #999999;

$link-text-color-1: #05c0a5;

$title-text-color-1: #003945;

$background-color-1: #f9f9f9;

$social-button-color-1: #adadad;



$tablet-width: 900px;
$mobile-width: 500px;
