@import "~@/scss/GlobalVariables.scss";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: $link-text-color-1;
}

.title{
  color: $title-text-color-1;
}

h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 42px;
}

h3{
  font-size: 20px;
  font-weight: 500;
}

h3.lite{
  font-size: 20px;
  font-weight: 400;
}

h4{
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}

h5{
  font-size: 14px;
  font-weight: 400;
  color: $body-text-color-1;
}

p{
  font-size: 12px;
  line-height: 16px;
}

body{
  box-sizing: border-box;
}


.page-container{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 40px;
  @media all and (max-width: $tablet-width){
    padding: 0 15px;
  }
}

.hidden{
  display: none;
}

/*
@media all and (min-width: 800px) and (max-width: 1100px) {
  .page-container{
    max-width: 900px;
    margin: 0 auto;
  }
}
*/



.flex-col-1-1-vertical-center{
  display: flex;
  align-items: center;
  &>*{
    flex: 1;
  }
}

.flex-col-vertical-top{
  display: flex;
  align-items: flex-start;
}

.flex-col-vertical-center{
  display: flex;
  align-items: center;
}

.flex-col-vertical-bottom{
  display: flex;
  align-items: flex-end;
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
}

.grid-col-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-col-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-col-1-1-1-2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
}

// Buttons
.large-round-button-green-filled{
  padding: 21px 55px;
  border: 2px solid white;
  background-color: rgb(5, 192, 165);
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.large-round-button-white-filled{
  padding: 21px 55px;
  border: 2px solid white;
  background-color: white;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
}

.large-round-button-white-border{
  padding: 21px 55px;
  border: 2px solid white;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}


.white-text-color{
  color: white;
}

.green-text-color{
  color: #05c0a5;
}



.custom-scroll-bar{
  /* width */
  &::-webkit-scrollbar {
      width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
      background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
}

.dropdown-menu{
  border: 1px solid #b1b1b1 !important;
}

.dropdown-item.active,
.dropdown-item:active{
  background-color: #e8e8e8;
}

