@import "~@/scss/GlobalVariables.scss";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

ul li{
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: $link-text-color-1;
}

.underline a{
  text-decoration: underline;
}

.title{
  color: $title-text-color-1;
}

h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 42px;
}

h3{
  font-size: 20px;
  font-weight: 500;
}

h3.lite{
  font-size: 20px;
  font-weight: 400;
}

h4{
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}

h5{
  font-size: 14px;
  font-weight: 400;
  color: $body-text-color-1;
}

h6{
  font-size: 13px;
  font-weight: 600;
  color: $body-text-color-1;
}

p{
  font-size: 12px;
  line-height: 16px;
}

body{
  box-sizing: border-box;
}


.page-container{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 40px;
  @media all and (max-width: $tablet-width){
    padding: 0 15px;
  }
}

.hidden{
  display: none;
}

/*
@media all and (min-width: 800px) and (max-width: 1100px) {
  .page-container{
    max-width: 900px;
    margin: 0 auto;
  }
}
*/



.flex-col-1-1-vertical-center{
  display: flex;
  align-items: center;
  &>*{
    flex: 1;
  }
}

.flex-col-vertical-top{
  display: flex;
  align-items: flex-start;
}

.flex-col-vertical-center{
  display: flex;
  align-items: center;
}

.flex-col-vertical-bottom{
  display: flex;
  align-items: flex-end;
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
}

.grid-col-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-col-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-col-1-1-1-2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
}

// Buttons
.large-round-button-green-filled{
  padding: 21px 55px;
  border: 2px solid white;
  background-color: rgb(5, 192, 165);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.large-round-button-white-filled{
  padding: 21px 55px;
  border: 2px solid white;
  background-color: white;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
}

.large-round-button-white-border{
  padding: 21px 55px;
  border: 2px solid white;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}


.white-text-color{
  color: white;
}

.green-text-color{
  color: #05c0a5;
}



.custom-scroll-bar{
  /* width */
  &::-webkit-scrollbar {
      width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
      background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
}

.dropdown-menu{
  border: 1px solid #b1b1b1 !important;
}

.dropdown-item.active,
.dropdown-item:active{
  background-color: #e8e8e8;
}


// Bootstrap Tooltip
.tooltip{
  z-index: 9999999;

  &.show{
    opacity: 1;
  }
  .arrow{
    display: none;
    &::before{
      border-top-color: #c5c5c5;
      border-bottom-color: #c5c5c5;
      //display: none;
    }
  }
  .tooltip-inner{
    padding: 24px 35px;
    border: 1px solid #c5c5c5;
    background-color: white;
    color: #4c4c4c;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    max-width: 400px;
    border-radius: 3px;
    box-shadow: 0 0px 15px rgba(0,0,0,0.2);
  }
}

.tooltip-icon{
  button{
    background-color: #96a8b6;
    color: white;
    border-radius: 100px;
    padding: 0px 0px 0px 0px;
    font-size: 10px;
    margin: 0;
    font-weight: 700;
    border: none;
    width: 17px;
    height: 17px;
    text-align: center;
  }
}




// Bootstrap-VUE: Nav tab
// create-wallet-by-json-file page
.user-input-box{
  border-radius: 5px;
  overflow: hidden;
  .nav-tabs,
  .nav-link{
    border: none !important;
  }
  .nav-link{
    padding: 20px 0;
  }

  .nav-tabs{
    display: flex;
    .nav-item{
      flex: 1;
      text-align: center;
    }
  }

  .nav-link{
    background-color: #e0e0e0;
    font-size: 14px;
    border-radius: 0 !important;
  }


  .nav-link.active{
    background-color: #434f61 !important;
    color: white !important;
  }
}



// CSS Toggle Button
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}