// Asphalt
.asphalt {
  color: #161E2C
}

.asphalt-900 {
  color: #1C2537
}

.asphalt-800 {
  color: #2B3546
}

.asphalt-700 {
  color: #454E60
}

.asphalt-600 {
  color: #5F6879
}

.asphalt-500 {
  color: #798194
}

.asphalt-400 {
  color: #99A1B3
}

.asphalt-300 {
  color: #B6BECE
}

.asphalt-200 {
  color: #C9D0DF
}

.asphalt-100 {
  color: #D5DCE9
}

.asphalt-75 {
  color: #E1E7F1
}

.asphalt-50 {
  color: #E9EEF6
}

.asphalt-25 {
  color: #F3F6FB
}

.asphalt-10 {
  color: #F8FAFD
}

// Blue
.blue {
  color: #161E2C
}

.blue-900 {
  color: #1C2537
}

.blue-800 {
  color: #2B3546
}

.blue-700 {
  color: #454E60
}

.blue-600 {
  color: #5F6879
}

.blue-500 {
  color: #798194
}

.blue-400 {
  color: #99A1B3
}

.blue-300 {
  color: #B6BECE
}

.blue-200 {
  color: #C9D0DF
}

.blue-100 {
  color: #D5DCE9
}

.blue-75 {
  color: #E1E7F1
}

.blue-50 {
  color: #E9EEF6
}

.blue-25 {
  color: #F3F6FB
}

.blue-10 {
  color: #F8FAFD
}


// Green
.green {
  color: #161E2C
}

.green-900 {
  color: #1C2537
}

.green-800 {
  color: #2B3546
}

.green-700 {
  color: #454E60
}

.green-600 {
  color: #5F6879
}

.green-500 {
  color: #798194
}

.green-400 {
  color: #99A1B3
}

.green-300 {
  color: #B6BECE
}

.green-200 {
  color: #C9D0DF
}

.green-100 {
  color: #D5DCE9
}

.green-75 {
  color: #E1E7F1
}

.green-50 {
  color: #E9EEF6
}

.green-25 {
  color: #F3F6FB
}

.green-10 {
  color: #F8FAFD
}