$white: white;
$black: black;
$emerald: #05c0a5;
$royal-blue: #5a78f0;
$dark-sacramento: #003945;
$dark-space: #0b2840;
$violet: #7070e3;
$police-strobe: #25b0e8;
$independence: #536d8b;
$dark-independence: #334758;
$cerise: #e96071;
$cardinal: #a70015;
$naples-yellow: #fcb755;
$primary-silver: #f2f4fa;
$mint: #cdf2ee;
$light-mint: #f2fafa;
$spruce: #506175;
$silver: #cecece;
$gray-1: #96a8b6;
$gray-2: #4d687e;
$gray-3: #ececec;
$gray-4: #6d89a6;
/*========== Light Theme ==========*/
$theme-light--text-color: $dark-space;
$theme-light--table-border-color: #efefef;
$theme-light--table-background-color: #f9f9f9;
$theme-light--white-sheet-shadow-color: #ececec;
/*========== Dark Theme ==========*/
$theme-dark--text-color: #95aed8;
$theme-dark--table-border-color: #383838;
$theme-dark--table-background-color: #0f1320;
$theme-dark--white-sheet-shadow-color: #3c3c3c;
