/* Set maximum size for "wallet-container" */
@media (min-width: 1904px) {
  .wallet-content-container {
    max-width: 1603px !important;
  }
}

/* Limit minimum width */
html {
  min-width: 320px !important;
}

/* Limit maximum width */
.container {
  max-width: 1185px !important;
}

@media (max-width: 1263px) {
  html {
    font-size: 14px !important;
  }
}

/* Remove default background color */
.theme--light.v-application {
  background: white !important;
}

/* Remove default v-sheet border-radius */
.theme--light.v-sheet,
.theme--dark.v-sheet {
  border-radius: 0;
}

/* Set default text color */
#app .v-sheet,
#app .v-application {
  color: var(--v-titlePrimary-base);
}

/* (Force) (light theme) default text color */
#app.theme--light .theme--light-text--dark-space {
  color: var(--v-titlePrimary-base) !important;
}

/* (Force) (dark theme) default text color */
#app.theme--dark .theme--dark-text--blue {
  color: var(--v-titlePrimary-base) !important;
}

/* (Force) white text color */
#app.theme--dark .theme--dark-text--white,
#app.theme--light .theme--light-text--white {
  color: white !important;
}

.v-application ol,
.v-application ul {
  list-style-type: none;
  padding-left: 0 !important;
}

/* ========== Fix MEW components ========== */
.theme--dark.v-expansion-panels .v-expansion-panel {
  background-color: transparent !important;
}

.v-application .v-input .v-label {
  font-weight: 400 !important;
  font-size: 0.88rem;
  color: var(--v-titlePrimary-base) !important;
}
.v-application .v-btn.mew-button .v-btn__content span {
  text-transform: initial;
  font-size: 0.88rem !important;
}
.v-application .v-btn.xlarge-btn {
  height: 3.875rem !important;
  min-height: 3.875rem !important;
}
.mew-overlay-container {
  .mew-subtitle {
    padding: 1.8rem 0;
  }
}
.mew-subtitle {
  line-height: 34px;
}
.mew-heading-1 {
  line-height: 27px;
}

/* ========== CSS Style Reset ========== */
.monospace {
  font-family: monospace !important;
}
i {
  font-family: 'Material Icons' !important;
}
div {
  font-size: 0.88rem;
  line-height: 1.3rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
p {
  font-size: 0.88rem;
  line-height: 1.3rem;
  font-weight: 400;
}
h1 {
  @extend .mew-heading-1;
}
h2 {
  @extend .mew-heading-2;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
}
h4 {
  font-size: 1.38rem;
  line-height: 1.6rem;
  font-weight: 400;
}
h5,
.h5 {
  font-size: 1rem;
  line-height: 1.44rem;
  font-weight: 400;
}
h6 {
  font-size: 0.75rem;
  line-height: 0.85rem;
  font-weight: 400;
}

/* ========== Text ========== */
.color--inherit {
  color: inherit !important;
}
.text-transform--initial {
  text-transform: initial !important;
}
.text-decoration--none {
  text-decoration: none !important;
}
.text-decoration--underline {
  text-decoration: underline;
}
.word-break--break-all {
  word-break: break-all;
}
.white-space--nowrap {
  white-space: nowrap !important;
}
.font-weight--400 {
  font-weight: 400 !important;
}
.font-weight--500 {
  font-weight: 500 !important;
}
.font-weight--600 {
  font-weight: 600 !important;
}
.font-weight--700 {
  font-weight: 700 !important;
}

/* ========== Cursor ========== */
.pointer-event--none {
  pointer-events: none;
}
.user-select--none {
  user-select: none;
}
.cursor--pointer {
  cursor: pointer;
}

/* ========== Border ========== */
.border-radius--10px {
  border-radius: 10px !important;
}
.border-radius--5px {
  border-radius: 5px !important;
}

/* ========== Other ========== */
.overflow--hidden {
  overflow: hidden !important;
}
.position--relative {
  position: relative;
}
.width--full {
  width: 100% !important;
}
.height--full {
  height: 100% !important;
}
.vertical-align--middle {
  vertical-align: middle;
}
.display--block {
  display: block !important;
}
.spacer-y-medium {
  height: 5rem;
}
.rotate {
  &.transition {
    transition: all 1200ms ease;
  }
  &.r180 {
    transform: rotate(180deg);
  }
  &.r90 {
    transform: rotate(90deg);
  }
}

.custom-scroll-bar {
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: #4f4f4f;
    border: 0 none #fff;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #3b3b3b;
  }
  &::-webkit-scrollbar-thumb:active {
    background: #4b4949;
  }
  &::-webkit-scrollbar-track {
    background: #e1dfdf;
    border: 0 none #fff;
    border-radius: 39px;
  }
  &::-webkit-scrollbar-track:hover {
    background: #ddd5d5;
  }
  &::-webkit-scrollbar-track:active {
    background: #dedede;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

/* ========== Convert SVG to white ========== */
.make-white-svg {
  filter: brightness(10);
}
