/* Set maximum size for "v-container" */
@media (min-width: 1904px) {
  .container {
    max-width: 1185px !important;
  }
}
@media (max-width: 959px) {
  .container {
    padding: 0 1.5rem !important;
  }
}
@media (max-width: 1263px) {
  html {
    font-size: 14px !important;
  }
}

/* Remove default background color */
.theme--light.v-application {
  background: white !important;
}

/* Remove default v-sheet border-radius */
.theme--light.v-sheet,
.theme--dark.v-sheet {
  border-radius: 0;
}

/* Set default text color */
#app .v-sheet,
#app .v-application {
  color: var(--v-titlePrimary-base);
}

/* (Force) (light theme) default text color */
#app.theme--light .theme--light-text--dark-space {
  color: var(--v-titlePrimary-base) !important;
}

/* (Force) (dark theme) default text color */
#app.theme--dark .theme--dark-text--blue {
  color: var(--v-titlePrimary-base) !important;
}

/* (Force) white text color */
#app.theme--dark .theme--dark-text--white,
#app.theme--light .theme--light-text--white {
  color: white !important;
}

.v-application ol,
.v-application ul {
  list-style-type: none;
  padding-left: 0 !important;
}

/* ========== Fix MEW components ========== */
.theme--dark.v-expansion-panels .v-expansion-panel {
  background-color: transparent !important;
}
.v-application .v-btn.mew-button .v-btn__content {
  font-size: 0.875rem !important;
  font-weight: 500 !important;
}
.corner-btn {
  color: var(--v-primary-base);
  font-weight: 500;
  position: absolute;
  top: -1.56rem;
  right: 0.63rem;
  cursor: pointer;
  filter: brightness(1);

  &:hover {
    filter: brightness(1.15);
  }
}
.v-application .v-input .v-label {
  font-weight: 400 !important;
  font-size: 0.88rem;
  color: var(--v-titlePrimary-base) !important;
}
.v-application .v-btn.mew-button .v-btn__content span {
  text-transform: initial;
  font-size: 0.88rem !important;
}
.v-application .v-btn.xlarge-btn {
  height: 3.875rem !important;
  min-height: 3.875rem !important;
}

/* ========== CSS Style Reset ========== */
.monospace {
  font-family: monospace !important;
}
i {
  font-family: 'Material Icons' !important;
}
div {
  font-size: 0.88rem;
  line-height: 1.3rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
p {
  font-size: 0.88rem;
  line-height: 1.3rem;
  font-weight: 400;
}
h1 {
  font-size: 2.1rem;
  line-height: 2.5rem;
  font-weight: 400;
}
h2 {
  font-size: 1.88rem;
  line-height: 2.31rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
}
h4 {
  font-size: 1.38rem;
  line-height: 2rem;
  font-weight: 400;
}
h5 {
  font-size: 1rem;
  line-height: 1.44rem;
  font-weight: 400;
}
h6 {
  font-size: 0.75rem;
  line-height: 0.85rem;
  font-weight: 400;
}

/* ========== Text ========== */
.color--inherit {
  color: inherit !important;
}
.line-height--0 {
  line-height: 0 !important;
}
.text-transform--initial {
  text-transform: initial !important;
}
.text-decoration--none {
  text-decoration: none !important;
}
.text-decoration--underline {
  text-decoration: underline;
}
.text-overflow--ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.word-break--break-all {
  word-break: break-all;
}
.white-space--nowrap {
  white-space: nowrap !important;
}
.font-weight--400 {
  font-weight: 400 !important;
}
.font-weight--500 {
  font-weight: 500 !important;
}
.font-weight--600 {
  font-weight: 600 !important;
}
.font-weight--700 {
  font-weight: 700 !important;
}
.font-weight--800 {
  font-weight: 800 !important;
}

/* ========== Cursor ========== */
.pointer-event--none {
  pointer-events: none;
}
.user-select--none {
  user-select: none;
}
.cursor--pointer {
  cursor: pointer;
}

/* ========== Border ========== */
.border-radius--10px {
  border-radius: 10px !important;
}
.border-radius--5px {
  border-radius: 5px !important;
}

/* ========== Other ========== */
.overflow--hidden {
  overflow: hidden !important;
}
.overflow--initial {
  overflow: initial;
}
.position--relative {
  position: relative;
}
.width--initial {
  width: initial;
}
.width--full {
  width: 100%;
}
.height--full {
  height: 100%;
}
.vertical-align--middle {
  vertical-align: middle;
}
.display--block {
  display: block !important;
}
.spacer-y-medium {
  height: 5rem;
}
.box-shadow--sm {
  box-shadow: 0 2px 7px var(--v-boxShadow-base) !important;
}

/* ========== Mobile ========== */
.preset--mobile-max-width {
  max-width: 420px;
}
