/*========== Vuetify Global Styles ==========*/
/* Set maximum size for "v-container" */
@media (min-width: 1904px) {
  .container {
    max-width: 1185px !important;
  }
}
/* Remove "default background color" */
.theme--light.v-application {
  background: $white !important;
}
/* Set light theme default text color */
#app.theme--light .v-sheet,
#app.theme--light .v-application {
  color: $theme-light--text-color !important;
}
/* Set dark theme default text color */
#app.theme--dark .v-sheet,
#app.theme--dark .v-application {
  color: $theme-dark--text-color !important;
}
/* Set light theme box-shadow for white sheet */
#app.theme--light .box-shadow {
  box-shadow: 0 0 15px $theme-light--white-sheet-shadow-color;
}
/* Set dark theme box-shadow for white sheet */
#app.theme--dark .box-shadow {
  box-shadow: 0 0 15px $theme-dark--white-sheet-shadow-color;
}
/* Force light theme default text color */
#app.theme--light .theme--light-text--dark-space {
  color: $dark-space !important;
}
/* Force dark theme default text color */
#app.theme--dark .theme--dark-text--blue {
  color: $theme-dark--text-color !important;
}
/* Force white text color */
#app.theme--dark .theme--dark-text--white,
#app.theme--light .theme--light-text--white {
  color: $white !important;
}
/*========== CSS Style Reset ==========*/
* {
  font-family: "Roboto";
  box-sizing: content-box;
}
html {
  font-size: 14px;
}
.monospace {
  font-family: monospace !important;
}
a {
  color: inherit !important;
}
i {
  font-family: "Material Icons" !important;
}
div,
p {
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  font-weight: 400;
}
p {
  letter-spacing: 0.3px;
}
h1 {
  font-size: 42px;
  font-weight: 500;
}
h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
h3 {
  font-size: 24px;
  font-weight: 400;
}
h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}
h5 {
  font-size: 16px;
  font-weight: 400;
}
/*========== Text ==========*/
.line-height--0 {
  line-height: 0 !important;
}
.text-transform--initial {
  text-transform: initial !important;
}
.text-decoration--none {
  text-decoration: none !important;
}
.font-weight--600 {
  font-weight: 600 !important;
}
.font-weight--500 {
  font-weight: 500 !important;
}
.white-space--nowrap {
  white-space: nowrap;
}
/*========== Cursor ==========*/
.pointer-event--none {
  pointer-events: none;
}
.user-select--none {
  user-select: none;
}
.cursor--pointer {
  cursor: pointer;
}
/*========== Border ==========*/
.border--white {
  border-color: $white !important;
  border: 1px solid $white !important;
}
.border-radius--0px {
  border-radius: 0px !important;
}
.border-radius--5px {
  border-radius: 5px !important;
}
.border-radius--10px {
  border-radius: 10px !important;
}
.border-radius-bottom--10px {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
/*========== Other ==========*/
.noscroll {
  height: 100vh;
  overflow-y: hidden;
}
.overflow--hidden {
  overflow: hidden !important;
}
.overflow--initial {
  overflow: initial;
}
.position--relative {
  position: relative;
}
.width--initial {
  width: initial;
}
.width--100-percent {
  width: 100%;
}
.display--block {
  display: block;
}
.list-style-type--none {
  list-style-type: none;
}
