/* Set maximum size for "v-container" */
@media (min-width: 1904px) {
  .container {
    max-width: 1185px !important;
  }
}

/* Remove default background color */
.theme--light.v-application {
  background: white !important;
}

/* Remove default v-sheet border-radius */
.theme--light.v-sheet,
.theme--dark.v-sheet {
  border-radius: 0;
}

/* Set default text color */
#app .v-sheet,
#app .v-application {
  color: var(--v-title-primary-base) !important;
}

/* (Force) (light theme) default text color */
#app.theme--light .theme--light-text--dark-space {
  color: var(--v-title-primary-base) !important;
}

/* (Force) (dark theme) default text color */
#app.theme--dark .theme--dark-text--blue {
  color: var(--v-title-primary-base) !important;
}

/* (Force) white text color */
#app.theme--dark .theme--dark-text--white,
#app.theme--light .theme--light-text--white {
  color: white !important;
}

/* Reset text transform for Vuetify button */
.v-btn__content {
  text-transform: initial;
}

/* ========== CSS Style Reset ========== */

html {
  font-size: 16px !important;
}
.monospace {
  font-family: monospace !important;
}
i {
  font-family: "Material Icons" !important;
}
div {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  padding: 0;
  margin: 0;
}
p {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 0.01875rem;
}
h1 {
  font-size: 42px;
  font-weight: 500;
}
h2 {
  font-size: 1.875rem;
  line-height: 2.3rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
}
h4 {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
}
h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}
h6 {
  font-size: 12px;
  font-weight: 400;
  line-height: initial;
}

/* ========== Text ========== */
.color--inherit {
  color: inherit !important;
}
.line-height--0 {
  line-height: 0 !important;
}
.text-transform--initial {
  text-transform: initial !important;
}
.text-decoration--none {
  text-decoration: none !important;
}
.text-decoration--underline {
  text-decoration: underline;
}
.text-overflow--ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.word-break--break-all {
  word-break: break-all;
}
.white-space--nowrap {
  white-space: nowrap !important;
}
.font-weight--500 {
  font-weight: 500 !important;
}
.font-weight--600 {
  font-weight: 600 !important;
}

/* ========== Cursor ========== */
.pointer-event--none {
  pointer-events: none;
}
.user-select--none {
  user-select: none;
}
.cursor--pointer {
  cursor: pointer;
}

/* ========== Border ========== */
.border-radius--10px {
  border-radius: 10px !important;
}

/* ========== Other ========== */

.overflow--hidden {
  overflow: hidden !important;
}
.overflow--initial {
  overflow: initial;
}
.position--relative {
  position: relative;
}
.width--initial {
  width: initial;
}

.display--block {
  display: block;
}

.spacer-y-medium {
  height: 80px;
}
