// All Themes ===========================================
$emerald: #05c0a5;
$royal-blue: #5a78f0;
$dark-sacramento: #003945;
$dark-space: #0b2840;
$violet: #7070e3;
$police-strobe: #25b0e8;
$independence: #536d8b;
$dark-independence: #334758;
$cerise: #e96071;
$cardinal: #a70015;
$naples-yellow: #fcb755;
$primary-silver: #f2f4fa;
$mint: #cdf2ee;
$light-mint: #f2fafa;
$spruce: #506175;
$silver: #cecece;
$disabled-1: #d8d8d8;
$disabled-2: #999;
$warning: #ff9800;

$gray-1: #96a8b6;
$gray-2: #4d687e;

$red-1: red;

$blue-1: #95aed8;

$navy-1: #151a29;

$yellow-1: #ffe9c5;

// Light Theme ==========================================
$light-text: #0b2840;
$light-table-line-1: #efefef;
$light-table-background-1: #f9f9f9;

// Dark Theme ===========================================
$dark-text: white;
$dark-table-line-1: #383838;
$dark-table-background-1: #0f1320;
