@media (min-width: 1904px) {
  .container {
    max-width: 1185px;
  }
}

// Style reset ======================================================
* {
  font-family: 'Roboto';
  color: $dark-sacramento;
}

a {
  color: inherit !important;
}

i {
  font-family: 'Material Icons' !important;
}

div,
p {
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

p {
  letter-spacing: 0.3px;
}

h1 {
  font-size: 42px;
  font-weight: 500;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

// Vuetify custom styles ============================================
// Remove default background color
.theme--light.v-application {
  background: white !important;
}

// Remove uppercase style for all buttons
.v-btn {
  text-transform: initial;
  font-weight: 400;
}

.v-toolbar__content {
  padding: 0;
}

// Common classes ===================================================
.pointer-event--none {
  pointer-events: none;
}

.position--relative {
  position: relative;
}

.overflow--initial {
  overflow: initial;
}

.user-select--none {
  user-select: none;
}

.width--initial {
  width: initial;
}

.line-height--0 {
  line-height: 0 !important;
}

.text-transform--initial {
  text-transform: initial;
}

.text-decoration--none {
  text-decoration: none !important;
}

.text-color--mew-green {
  color: $emerald !important;
}

.text-color--dark-sacramento {
  color: $dark-sacramento !important;
}

.font-weight--600 {
  font-weight: 600 !important;
}

.font-weight--500 {
  font-weight: 500 !important;
}

.border-radius--5px {
  border-radius: 5px !important;
}

.border-radius--10px {
  border-radius: 10px !important;
}

.border--white {
  border-color: white !important;
  border: 1px solid white !important;
}

.overflow--hidden {
  overflow: hidden !important;
}

.cursor--pointer {
  cursor: pointer;
}

.display--block {
  display: block;
}

.monospace {
  font-family: monospace !important;
}
