@import '~@/scss/GlobalVariables';

.side-menu {
  padding: 40px 20px;
  background-color: $white;

  @media all and (max-width: $mobile-width) {
    width: 100vw;
    height: 100vh;
  }

  ul {
    li {
      cursor: pointer;
      margin-bottom: 40px;

      .menu-group-title {
        align-items: center;
        display: flex;

        img {
          margin-right: 10px;
        }

        p {
          color: $text-side-menu-inactive-color;
          font-size: 16px;
          font-weight: 500;
          position: relative;
        }

        i {
          color: $text-side-menu-inactive-color;
          font-size: 16px;
          margin-left: auto;
        }
      }

      ul {
        li {
          color: $text-side-menu-inactive-color;
          font-size: 14px;
          font-weight: 400;
          margin: 10px 0 0 40px;
        }
      }
    }
  }

  .active {
    color: $text-black;

    p {
      color: $text-black !important;
    }

    i {
      color: $text-black !important;
    }
  }
}

//--------------------------------------
// .side-menu-header
//--------------------------------------
.side-menu-header {
  align-items: center;
  padding: 25px 25px;
  box-shadow: 0 0 2px #0000003b;
  display: none;

  @media all and (max-width: $interface--mobile-side-menu--width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    height: 33px;
  }

  i {
    cursor: pointer;
  }
}

.child-tab {
  display: none;
}

.show-child {
  display: block;
}
