@import '~@/scss/GlobalVariables';

.dropdown--title {
  margin-bottom: 13px;
  padding: 0 8px;
  display: flex;
}

.drop-down-address-selector {
  position: relative;
}

.dropdown-input-box {
  position: relative;
  border: 1px solid $background-color-1;
  border-radius: 4px;

  &.dropdown-open {
    border: 1px solid $grey-1;
    border-bottom: 1px solid $background-color-1;
    border-radius: 4px 4px 0 0;
  }

  input {
    background-color: $background-color-1;
    padding: 15px;
    border: 0;
    width: 100%;
    padding-left: 55px;
    padding-right: 70px;
  }

  .blockie-place-holder-image {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background-color: $light-grey-3;
    position: absolute;
    top: 10px;
    left: 15px;
  }

  .selected-address-blockie {
    position: absolute;
    top: 10px;
    left: 15px;
    .currency-icon {
      position: absolute;
      bottom: -3px;
      right: -4px;
      height: 16px;
      border: 1px solid $white;
      border-radius: 100%;
    }
  }

  .dropdown-open-button {
    user-select: none;
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    i {
      font-size: 9px;
      border-left: 1px solid #e0e0e0;
      padding: 10px 22px;
      color: #3766aa;
      margin-top: 11px;
    }
  }
} // .dropdown-input-box

.dropdown-list-box {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  width: 100%;
  position: absolute;
  user-select: none;
  background-color: $background-color-1;
  border: 1px solid $grey-1;
  border-radius: 0 0 4px 4px;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 230px;

  ul {
    li {
      cursor: pointer;
      padding: 10px 15px;
      position: relative;
      display: grid;
      grid-template-columns: 40px 1fr 70px 25px;
      align-items: center;

      &:nth-child(odd) {
        background-color: $white;
      }

      &:hover {
        background-color: $light-grey-3;
      }

      .list-blockie {
        margin-right: 0;
        position: relative;
        .currency-icon {
          position: absolute;
          bottom: -3px;
          right: 5px;
          height: 16px;
          border: 1px solid $white;
          border-radius: 100%;
        }
      }
    }
  }
}

.address-block {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listed-address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address-note {
  font-size: 10px;
  font-weight: 700;
  text-align: right;
  color: $mew-green;
}

.good-button {
  text-align: right;
}
