@import '~@/scss/GlobalVariables';

.wrap {
  background-color: $background-color-1;
  padding: 0;
}

.nav-tab-user-input-box {
  background-color: $background-color-white;
  margin: 0 auto;
  max-width: 550px;

  .progress-bar {
    animation-name: progreesbar-grow;
    width: 33.33%;
  }

  @keyframes progreesbar-grow {
    from {width: 0%;}
    to {width: 33.33%;}
  }

  .tab-pane {
    min-height: 500px;
    padding: 50px;

    h3 {
      margin-bottom: 40px;
      text-align: center;
    }
  }
}
