@import '~@/scss/GlobalVariables';

.select-contract .dropdown-toggle {
  border: 0;
  display: none;
}

.v-select {
  //min-width: 300px;
}

.wrap {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 270px 1fr;

  .side-nav {
    // background-color: yellow;
  }

  .contents {
    background-color: $background-color-1;
    padding: 40px 60px;

    .tx-contents {
      display: grid;
      grid-gap: 15px;
      grid-template-areas: 'info-1 info-2 info-3' 'main main tokens';
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;

      .main-content {
        border-radius: 5px;
        grid-area: main;
        overflow: hidden;

        >div {
          background-color: $background-color-white;
        }

        .content-title {
          align-items: center;
          background-color: $background-color-white;
          border-bottom: 2px solid $background-color-1;
          display: flex;
          padding: 20px 0;

          i {
            color: $text-black;
            font-size: 30px;
            margin-right: 10px;
          }

          p {
            color: $text-black;
            font-weight: 500;
          }

          h2 {
            border-left: 5px solid $background-color-2;
            font-size: 24px;
            font-weight: 500;
            line-height: 37px;
            margin: 0;
            padding: 0;
            padding-left: 27px;
          }

          img {
            height: 40px;
            margin-left: auto;
            margin-right: 30px;
          }
        }

        .bottom-text {
          margin-top: 20px;
          text-align: center;
        }

        .submit-button {
          margin: 0 auto;
          text-align: center;
          width: 300px;
        }

        .send-form {
          padding: 40px 60px 0;

          .title-container {
            align-items: flex-end;
            display: flex;
            margin-bottom: 5px;

            .title {
              align-items: flex-end;
              display: flex;
              margin-bottom: 10px;
              padding: 0 8px;
              width: 100%;

              .select-contract {
                margin-left: auto;
              }

              .copy-buttons {
                color: $text-color-3;
                margin-left: auto;

                span {
                  margin-left: 20px;
                }
              }
            }

            .search-block {
              margin-left: auto;
            }

            .buttons {
              margin-bottom: 3px;
              margin-left: auto;
            }
          }

          .form-block {
            border-radius: 5px;

            .the-form {
              background-color: $background-color-1;
              border-radius: 5px;
            }
          }

          .domain-name {
            align-items: center;
            display: flex;
            position: relative;

            input {
              background-color: $background-color-1;
              border: 0;
              padding: 13px 15px;
              width: 100%;
            }

            span {
              font-size: 20px;
              font-weight: 600;
            }
          }
        } // .send-form


        .send-form2 {
          padding: 40px 60px 0;

          .title-container {
            align-items: flex-end;
            display: flex;
            margin-bottom: 10px;

            .title {
              padding: 0 8px;

              h4 {
                margin-bottom: 2px;
              }
            }

            .buttons {
              margin-bottom: 3px;
              margin-left: auto;
            }
          }

          .form-block {
            border-radius: 5px;

            .the-form {
              background-color: $background-color-1;
              border-radius: 5px;
            }
          }

          .amount-to-address {
            display: grid;
            grid-column-gap: 5px;
            grid-template-columns: 1fr 70px 1fr;

            .title {
              margin-bottom: 13px;
              padding: 0 8px;
            }

            .exchange-icon {
              color: $text-color-9;
              font-size: 30px;
              padding-top: 62px;
              text-align: center;
            }

            .amount {
              .dropdown-select-search-1 {
                background-color: $background-color-1;
                margin-bottom: 5px;
                position: relative;

                i {
                  color: $text-color-2;
                  left: 14px;
                  position: absolute;
                  top: 16px;
                }
              }

              .amount-number {
                position: relative;

                input {
                  background-color: transparent;
                  border: 0;
                  padding: 13px 15px;
                  width: 100%;
                }

                i {
                  position: absolute;
                  right: 13px;
                  top: 13px;
                }
              }
            }

            .to-address {
              position: relative;

              .title {
                align-items: center;
                display: flex;
                position: relative;

                img {
                  height: 50px;
                  left: 98px;
                  position: absolute;
                  top: -14px;
                }

                .copy-button {
                  color: $text--link-color;
                  cursor: pointer;
                  margin-left: auto;
                }
              }

              .address-block {
                height: 98px;

                i {
                  bottom: 13px;
                  position: absolute;
                  right: 13px;
                }

                textarea {
                  background-color: transparent;
                  border: 0;
                  height: 100%;
                  padding: 13px 15px;
                  resize: none;
                  width: 100%;
                }
              }
            }
          }

          .gas-amount {
            position: relative;

            input {
              background-color: $background-color-1;
              border: 0;
              padding: 13px 15px;
              width: 100%;
            }

            .good-button-container {
              align-items: center;
              display: flex;
              position: absolute;
              right: 10px;
              top: 12px;

              p {
                color: $text--link-color;
                margin-right: 10px;
              }
            }
          }

          .error-message-container {
            p {
              color: $text-color-red;
              margin: 7px 0 0 15px;
            }
          }
        } // .send-form2


        .submit-button-container {
          padding: 40px 60px;
        } // .submit-button-container
      }

    }
  }
}
