@import '~@/scss/GlobalVariables';

.input-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  input {
    background-color: $light-grey-2;
    border: none;
    padding: 15px;
  }

  label {
    color: $dark-blue-12;
    font-weight: bold;
  }
}

.submit-button {
  margin-top: 10px;
  width: 100% !important;
  background-color: $mew-green;
  border: 1px solid $mew-green;
  border-radius: 6px;
  color: $white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 21px 55px;
  user-select: none;
  display: inline-block;
  text-align: center;
}

.disabled {
  background-color: $dark-grey-11 !important;
  pointer-events: none !important;
}

.password-input {
  position: relative;
  width: 100%;

  img {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 18px;
  }

  input {
    width: 100%;
  }
}
