@import '~@/scss/GlobalVariables';
@import '~@/layouts/ExtensionBrowserAction/wrappers/MewcxModalWrapper/MewcxModalInputs';

.back-button {
  align-items: center;
  display: flex;
  padding: 30px 30px 0;
  position: relative;

  span,
  img {
    color: $dark-blue-2;
    cursor: pointer;
  }

  span {
    font-size: 15px;
  }

  img {
    height: 30px;
    padding-right: 5px;
  }
}

.submit-button {
  margin-top: 10px;
  width: 100% !important;
}

.import-method-container,
.unlock-wallet-container {
  padding-top: 30px;
}

.import-method-container {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  min-height: 250px;
}

.add-wallet-button-container {
  padding-top: 20px;
}

.mnemonic-inputs-container {
  padding-top: 30px;

  .mnemonic-inputs-header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h3 {
      font-weight: bold;
      color: $dark-blue-2;
    }
  }

  .mnemonic-count-container {
    align-items: center;
    display: flex;

    p {
      margin-right: 10px;
      color: $dark-grey-2;
    }

    .mnemonic-count {
      border-radius: 5px;
      padding: 5px 10px;
      background-color: $light-grey-4;
      color: $dark-grey-11;
      cursor: pointer;
    }

    .active {
      background-color: $mew-green;
      color: $white;
    }

    .left {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    .right {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .mnemonic-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $white;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px 20px;

    .actual-inputs {
      position: relative;

      input {
        border-radius: 0;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid $light-grey-3;
        width: 80px;
        color: $dark-blue-2;
        padding: 0 0 5px 25px;
        margin-top: 10px;
      }

      label {
        position: absolute;
        left: 5px;
        color: $dark-grey-11;
        bottom: 5px;
      }
    }
  }
}

.wallet-verification-container {
  display: flex;
  padding: 20px;
  background-color: $light-green-1;
  border-radius: 5px;
  word-break: break-all;

  .wallet-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
  }

  .balance-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    .total-text {
      color: $light-blue-3;
      font-weight: bold;
      word-wrap: break-word;
    }

    .total-balance {
      color: $dark-blue-2;
      font-weight: bold;
      font-size: 16px;
    }

    .eth-balance {
      color: $light-blue-3;
      font-weight: lighter;
    }
  }
}

%before-class {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  transform: skew(0deg, 20deg);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 1px;
  border: 1px solid $light-grey-14;
  border-right: none;
}

%after-class {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  transform: skew(0deg, -20deg);
  border-bottom-right-radius: 3px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 1px;
  border: 1px solid $light-grey-14;
  border-left: 0;
}

%active-class {
  &:before {
    background-color: $dark-blue-2;
    border: none;
  }

  &:after {
    background-color: $dark-blue-2;
    border: none;
  }
}

%passed-class {
  &:before {
    background-color: $light-blue-2;
    border: none;
  }

  &:after {
    background-color: $light-blue-2;
    border: none;
  }
}

.steps-container {
  display: flex;
  padding: 15px 0 0 115px;
  position: relative;
  max-height: 180px;

  .step-item {
    position: absolute;
    padding-right: 30px;
    top: -60px;

    p {
      color: $light-grey-14;
      font-size: 12px;
      position: absolute;
      top: 88px;
      width: 200px;
      left: -60px;
    }
  }

  .step-item.active {
    p {
      color: $white;
    }

    .step-one {
      background-image: linear-gradient(to bottom, $dark-blue-2, transparent);
      border-top: 3px solid $dark-blue-2;
      @extend %active-class;
    }

    .step-two {
      @extend %active-class;
    }

    .step-three {
      background-image: linear-gradient(to top, $dark-blue-2, transparent);
      border: none;
      border-bottom: 3px solid $dark-blue-2;
      @extend %active-class;
    }
  }

  .step-item.passed {
    p {
      color: $white;
    }

    .step-one {
      background-image: linear-gradient(to bottom, $light-blue-2, transparent);
      border-top: 1px solid $light-blue-2;
      @extend %passed-class;
    }

    .step-two {
      @extend %passed-class;
    }

    .step-three {
      background-image: linear-gradient(to top, $light-blue-2, transparent);
      border: none;
      border-bottom: 3px solid $light-blue-2;
      @extend %passed-class;
    }
  }

  .one {
    left: -180px;
  }

  .two {
    left: 25px;
  }

  .three {
    left: 230px;
  }

  .step-one,
  .step-two,
  .step-three {
    height: 200px;
    width: 35px;
    position: relative;
    transform: rotate(-90deg);

    &:before {
      @extend %before-class;
    }

    &:after {
      @extend %after-class;
    }
  }

  .step-one {
    border-top: 1px solid $light-grey-14;
    border-radius: 5px;
    &:before,
    &:after {
      border-top: none;
    }
  }

  .step-three {
    border: 1px solid $light-grey-14;
    border-radius: 5px;
    border-top: none;
    &:before,
    &:after {
      border: none;
    }

    &:before {
      border-top: 1px solid $light-grey-14;
      border-top-left-radius: 5px;
    }

    &:after {
      border-top: 1px solid $light-grey-14;
      border-top-right-radius: 5px;
    }
  }
}
