@import '~@/scss/GlobalVariables';

.content {
  padding: 60px 0;

  .switcher {
    user-select: none;
    margin-bottom: 35px;

    span {
      cursor: pointer;
      font-size: 30px;
      font-weight: 400;
      margin-right: 60px;
      padding-bottom: 10px;

      &.active {
        font-weight: 600;
        border-bottom: 2px solid black;
      }
    }
  } // .switcher
}
