@import '~@/scss/GlobalVariables';

.wrap {
  
}


.content {
  padding: 60px 0;

  .switcher {
    user-select: none;
    margin-bottom: 65px;

    span {
      cursor: pointer;
      font-size: 30px;
      font-weight: 400;
      margin-right: 60px;
      padding-bottom: 10px;
      color: $grey-2;

      &.active {
        color: $dark-blue-11;
        font-weight: 600;
        border-bottom: 2px solid black;
      }
    }

  } // .switcher
}

