@import '~@/scss/GlobalVariables';

.extension-wallets-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  min-height: 500px;
}

.wallets-container {
  background-color: $light-grey-2;
  height: 100%;
  padding: 50px;
}

.my-wallets-container,
.watch-only-container {
  display: grid;
  grid-template-columns: 85% 1fr;

  .wallets-container-header,
  .total-balance-container {
    grid-column-start: 1;
  }

  .wallets,
  .wallets-info {
    grid-column-start: 1;
  }
}

.wallets-container-header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  h2 {
    margin: 0 15px 0 0 !important;
  }

  .add-button {
    color: $mew-green;
    cursor: pointer;
  }

  .header-title-container {
    align-items: center;
    display: flex;
  }

  .dropdown-container {
    span {
      font-size: 12px;
    }

    .network-text {
      color: $dark-grey-11;
      padding-right: 15px;
    }

    .current-network {
      background-color: $white;
      border: 1px solid $light-grey-8;
      border-radius: 5px;
      cursor: pointer;
      padding: 10px;
    }
  }
}

.total-balance-container {
  align-items: center;
  background: $white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 15px;
  width: 100%;

  .title-name {
    font-weight: bold;
  }

  .balance-container {
    .actual-balance {
      color: $light-blue-1 !important;
      font-size: 20px !important;
      font-weight: bold;

      span {
        font-size: 20px !important;
        font-weight: normal;
      }
    }

    .converted-balance {
      color: $light-blue-2;
      text-align: right;
    }
  }
}
