@import '~@/scss/GlobalVariables';

.verification {
  .content-block {
    padding: 60px;
    padding-top: 40px;

    .block-title {
      margin-bottom: 30px;
    }

    .phrases {
      ul {
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        li {
          border-bottom: 1px solid $border-bottom--mnemonic-phrase-key-color;
          color: $text--mnemonic-phrase-index-color;
          font-size: 14px;
          padding: 10px 0;

          span {
            color: $text--mnemonic-phrase-key-color;
            margin-left: 10px;
          }

          input {
            border: 0;
            width: calc(100% - 25px);
          }
        }

        .word.verification {
          border-bottom: 1px solid
            $border-bottom--mnemonic-phrase-key-color-verification;
        }
      }
    }

    .button-container {
      text-align: center;

      .verify-button {
        display: inline-block;
        margin-top: 50px;
        padding: 20px 100px;
      }
    }
  }
}
