@import '~@/scss/GlobalVariables';

.user-reminder-button {
  cursor: pointer;
  position: fixed;
  bottom: 140px;
  right: 60px;
  z-index: 990;
  padding: 0;
  margin: 0;
  opacity: 0.6;
  text-align: center;
  min-width: 70px;

  img {
    cursor: pointer;
    height: 50px;
    width: 50px;
  }
  p {
    font-size: 12px;
    font-weight: 600;
    color: gray;
  }

  &:hover {
    opacity: 1;
  }

  @media all and (max-width: $tablet-width) {
    bottom: 80px;
    right: 5px;
    opacity: 1;

    img {
      height: 40px;
      width: 40px;
    }

    p {
      font-size: 11px;
      font-weight: 500;
    }
  }
}
