@import "~@/scss/Globals.scss";
@import "~@/scss/GlobalVariables.scss";

.wrap{
  padding: 0 0 0 0;
  background-color: $background-color-1;

  .user-input-box{
    max-width: 550px;
    margin: 0 auto;
    background-color: white;
    .progress-bar{
      width: 66.66%;
      height: 6px;
      background-color: #05c0a5;
      animation-name: progreesbar-grow;
      animation-duration: 0.5s;
    }
    @keyframes progreesbar-grow {
      from {width: 33.33%;}
      to {width: 66.66%;}
    }

    .tab-pane{
      padding: 50px 50px;
      min-height: 500px;
      h3{
        text-align: center;
        margin-bottom: 40px;
      }
      .contents{
        margin-bottom: 40px;
        display: flex;
        .content-block{
          padding: 10px 15px;
          flex: 1;
          text-align: center;
          img.icon{
            height: 60px;
            margin: 0 auto;
            display: block;
          }
          h6{
            margin-top: 15px;
          }
          p{
            font-size: 11px;
            margin-top: 10px;
          }
        }
        
      }// .contents

      .user-input{
        margin-bottom: 40px;
        input{
          width: 100%;
          border: none;
          background-color: $background-color-1;
          padding: 20px;
          font-size: 14px;
          margin-bottom: 40px;
        }
        div.next-button{
          text-align: center;
          display: block;
          margin: 0 auto;
          padding: 20px 0px;
          max-width: 300px;
          img{
            width: 20px;
            margin-left: 5px;
          }
        }
      }// .user-input
      
      .footer-text{
        p{
          span{
            color: #ff2f49;
            font-weight: 500;
          }
        }
      }
    }
  }
}

