@import '~@/scss/GlobalVariables';

.wrap {
  background-color: $background-color-3;
  background-image: url('~@/assets/images/background/right.png'),
    url('~@/assets/images/background/left.png');
  background-position: right top, left 80px;
  background-repeat: no-repeat, no-repeat;
  padding: 60px 0;

  .page-container {
    //padding: 60px 0;

    .content-width-limit {
      margin: 0 auto;
      max-width: 620px;
    }

    .page-header {
      margin-bottom: 10px;
      text-align: center;

      h1 {
        margin: 0;
      }
      p {
        margin: 0 auto;
        max-width: 700px;
      }
    }
  }
} // .wrap

.content {
  h6 {
    text-align: center;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
  }

  h3 {
    padding-top: 30px;
    text-align: center;
  }

  h4 {
    padding: 10px;
  }
}
