//@import '~@/scss/GlobalVariables';

* {
  color: #383838;
}

.mobile-info-block {
  //box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  //background-color: white;
  background-color: white;
  border-radius: 20px;
  padding: 10px 15px;
}

.info-block-title {
  font-size: 14px;
  font-weight: 900;
}

.info-block-value {
  font-size: 15px;
  span {
    font-size: 15px;
    margin-left: 5px;
  }
}

.equivalent-values-title {
  font-size: 12px;
  font-weight: 400;
}

.equivalent-values-data {
  img {
    width: 14px;
  }
  div {
    font-weight: 400;
    font-size: 12px;
  }
}
