//@import '~@/scss/GlobalVariables';

* {
  color: #383838;
}

.font-reset {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.mobile-info-block {
  width: 100%;
  background-color: #ffffff61;
  border-radius: 20px;
  padding: 10px 15px;
}

.info-block-title {
  font-size: 16px;
  font-weight: 600;
}

.info-block-value {
  font-size: 15px;
  span {
    font-size: 10px;
    margin-left: 5px;
  }
}

.equivalent-values-title {
  font-size: 12px;
  margin-bottom: 3px;
  font-weight: 400;
}

.equivalent-values-data {
  img {
    width: 14px;
  }
  div {
    font-weight: 400;
    font-size: 12px;
  }
}
