@import '~@/scss/GlobalVariables';

//********************************************************
// Wrap
//********************************************************
.wrap {
  background-color: $light-blue-1;
  color: $white;
  margin: 0 10px;
  padding: 20px;
  border-radius: 5px;
}

//********************************************************
// Top Block
//********************************************************
.top-block {
  display: flex;
  align-items: flex-start;
  .block-title {
    line-height: initial;
    font-size: 24px;
    font-weight: 500;
    color: $white;
  }
  .show-balance-button {
    margin-left: auto;
    background-color: transparent;
    border: 0;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    img {
      height: 28px;
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.bottom-block {
  margin-top: 10px;
  p {
    font-size: 24px;
    line-height: initial;
    font-weight: 400;
    color: $white;
  }
}
