//@import '~@/scss/GlobalVariables';

.balance-contents * {
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.mobile-info-block {
  width: 100%;
  background-color: #6988ff;
  border-radius: 20px;
  padding: 10px 15px;
}

.info-block-title {
  font-size: 14px;
  font-weight: 700;
}

.info-block-value {
  font-size: 15px;
  span {
    font-size: 15px;
    margin-left: 5px;
  }
}

.equivalent-values-title {
  font-size: 12px;
  font-weight: 400;
}

.equivalent-values-data {
  img {
    width: 14px;
  }
  div {
    font-weight: 400;
    font-size: 12px;
  }
}

.setting {
  font-size: 25px;
  opacity: 1;
  cursor: pointer;
  &:active {
    opacity: 0.7;
  }
}
