name: run on pull request [v6]

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  run-on-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: setup env
        id: node-version
        run: |
          docker build -t mew-build-container .
          echo ::set-output name=NODE_VERSION::$(docker run --rm -v `pwd`:/home:rw mew-build-container /bin/bash -c "node --version")

      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{steps.node-version.outputs.NODE_VERSION}}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{steps.node-version.outputs.NODE_VERSION}}-

      - name: npm install
        run: docker run --rm -v `pwd`:/home:rw --user "$(id -u):$(id -g)" mew-build-container /bin/bash -c "npm install"

      - name: build
        env:
        run: docker run --rm -v -env INTERCOM_ID=${{secrets.INTERCOM_ID}} WALLET_CONNECT_PROJECT_ID=${{secrets.WALLET_CONNECT_PROJECT_ID}} `pwd`:/home:rw mew-build-container /bin/bash -c "npm run build:hash"

      - name: add to codecov
        run: |
          git config --global --add safe.directory '*'
          ci_env=`bash <(curl -s https://codecov.io/env)`
          docker run $ci_env --rm -v `pwd`:/home:rw mew-build-container /bin/bash -c "npm run codecov"

      - name: upload to codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
