@import '~@/scss/GlobalVariables';
.modal-content {
  height: 100%;
  .modal-top-buttons {
    display: flex;
    justify-content: space-between;
  }

  .modal-closer {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    padding: 30px 30px 0;
    position: relative;

    span,
    img {
      color: $red-5;
      cursor: pointer;
    }

    span {
      font-size: 15px;
      padding-left: 5px;
    }

    img {
      height: 30px;
    }
  }

  .modal-content-container {
    margin: 0 auto;
    padding-top: 60px;

    .modal-content-title {
      text-align: center;

      h2,
      p {
        color: $dark-blue-2;
      }

      h2 {
        font-weight: bold;
      }
    }
  }
}
