@import '~@/scss/GlobalVariables';
@media all and (min-width: calc(#{$tablet-width} + 1px)) {
  .modal-container {
    padding: 40px;
  }

  .modal-large-text {
    font-weight: 400;
    max-width: 330px;
    display: inline-block;
  }

  .bootstrap-modal .content-container {
    margin-bottom: 0;
  }

  .modal-mew-connect {
    .content-container-1 {
      margin: -20px -40px 0;
      padding: 0 25px;

      .hd-derivation {
        align-items: center;
        display: flex;

        .dropdown-button-container {
          margin-left: auto;
        }
      }

      .derivation-brands {
        font-size: 12px;
        padding: 15px 0;
        text-align: left;
      }
    } // .content-container-1

    .content-container-2 {
      background-color: $background-color-1;
      margin: 0 -40px;
      margin-bottom: 30px;
      padding: 0;

      .address-nav {
        padding: 10px 0;
        text-align: center;

        span {
          cursor: pointer;
          padding: 2px 10px;
        }
      }

      .address-block-container {
        .block-title {
          padding: 15px 25px;
        }

        .address-data:nth-child(even) {
          background-color: $background-color-white;
        }

        .address-block {
          color: $text-color-3;
          display: grid;
          grid-column-gap: 15px;
          grid-template-columns: 35px 3fr 2fr 35px;
          padding: 8px 25px;

          &.table-header {
            background-color: $background-color-4;
            color: $text-base-color;
            font-weight: 600;
          }

          &.selected {
            color: $text-color-6;
            font-weight: 500;
          }

          li {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
} // @media all and (min-width: calc(#{$tablet-width} + 1px))

.qr-code-img {
  display: flex;
  justify-content: center;
}

.appstore-button-container {
  img {
    &:last-child {
      padding-left: 10px;
    }
  }
}

.download-now {
  margin-top: 20px;
}

.modal-title-block {
  margin-bottom: 30px;

  h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}

.seperation-bar {
  position: relative;
  text-align: center;
  .bar {
    top: 9px;
    z-index: 0;
    position: absolute;
    border-bottom: 1px solid $mew-green;
    width: 100%;
  }
  .text {
    padding: 0 20px;
    z-index: 1;
    position: relative;
    background-color: white;
    display: inline-block;
    color: $mew-green;
  }
}

.buttons {
  display: flex;
  margin: 0 -8px;
  margin-top: 30px;
  user-select: none;

  > div {
    img {
      margin-right: 5px;
    }

    cursor: pointer;
    margin: 0 8px;
    flex: 1;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 600;
  }
}
