@import "~@/scss/GlobalVariables.scss";

.wrap{

  .banner{
    padding: 30px;
    @media all and (max-width: 1100px){
      &{
        padding: 40px 0 50px 0;
      }
    }
    .banner-text{
      flex: 1;
      h1{
        font-size: 45px;
        font-weight: 700;
        line-height: 47px;
      }
      h2{
        margin-top: 17px;
        line-height: 25px;
        color: $body-text-color-1;
        font-size: 18px;
        max-width: 470px;
      }
    }
    .banner-image{
      flex: 1;

      @media all and (max-width: 700px){
        &{
          display: none;
        }
      }

      img{

        @media all and (max-width: 1100px){
          &{
            height: initial;
            width: 100%;
            margin-left: 20px;
          }
        }
        height: 500px;
      }
    }
  }// .banner
}


.wrap{

  .promo-cards{
    grid-column-gap: 30px;

    @media all and (max-width: $tablet-width){
      &{
        display: block;
      }
    }


    .card{
      margin-bottom: 25px;
      color: white;
      padding: 50px 30px;
      border-radius: 4px;

      @media all and (max-width: $mobile-width){
        &{
          padding: 30px 30px;
        }
      }
      .card-image{
        padding-right: 30px;

        @media all and (max-width: $mobile-width){
          &{
            display: none;
          }
        }
      }
      .card-content{
        h2{
          font-size: 25px;
          font-weight: 500;
          margin-bottom: 15px;
        }
        &>p{
          font-size: 12px;
          margin-bottom: 30px;
          line-height: 17px;
        }
        .button{
          background-color: transparent;
          border: 2px solid white;
          color: white;
          border-radius: 100px;
          padding: 12px 25px;
          font-size: 14px;
          display: inline-block;

          i{
            font-size: 20px;
            vertical-align: middle;
            margin-left: 10px;
          }
        }
      }
    }

    .card.create-wallet{
      background-color: #5a78f0;
    }

    .card.unlock-wallet{
      background-color: #05c0a5;
    }

  }// .promo-cards
}

